Repository boa-dev/boa, pull requests merged in 2020-06, with the labels that each got.

#410 Add support for the reviver function to JSON.parse
  boa/src/builtins/json/mod.rs
  boa/src/builtins/json/tests.rs
  boa/src/builtins/value/mod.rs
Labels: enhancement

#411 Add code coverage: tarpaulin / codecov
  .github/workflows/rust.yml
Labels: test

#436 Update to use a newer version of codecov github action
  .github/workflows/rust.yml
Labels: bug

#425 Specification compliant `ToString` (`to_string`)
  boa/src/builtins/array/mod.rs
  boa/src/builtins/bigint/mod.rs
  boa/src/builtins/console/mod.rs
  boa/src/builtins/console/tests.rs
  boa/src/builtins/json/mod.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/string/mod.rs
  boa/src/builtins/value/conversions.rs
  boa/src/builtins/value/display.rs
  boa/src/builtins/value/mod.rs
  boa/src/exec/expression/mod.rs
  boa/src/exec/mod.rs
  boa/src/exec/operator/mod.rs
Labels: bug, enhancement, technical debt

#437 Fixed badges in README
  README.md
Labels: documentation, enhancement

#438 Our benchmarks action now lives in boa-dev
  .github/workflows/pull_request.yml
Labels: benchmark, enhancement

#444 Has own property should call get own property
  boa/src/builtins/object/mod.rs
  boa/src/builtins/object/tests.rs
Labels: bug

#450 Specification compliant `ToBigInt` (`to_bigint`)
  boa/src/builtins/bigint/conversions.rs
  boa/src/builtins/bigint/equality.rs
  boa/src/builtins/bigint/mod.rs
  boa/src/builtins/bigint/operations.rs
  boa/src/builtins/bigint/tests.rs
  boa/src/builtins/mod.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/number/tests.rs
  boa/src/builtins/value/conversions.rs
  boa/src/builtins/value/equality.rs
  boa/src/builtins/value/mod.rs
  boa/src/builtins/value/operations.rs
  boa/src/exec/mod.rs
  boa/src/exec/tests.rs
  boa/src/syntax/ast/bigint.rs
  boa/src/syntax/ast/constant.rs
  boa/src/syntax/ast/mod.rs
  boa/src/syntax/ast/token.rs
  boa/src/syntax/lexer/mod.rs
Labels: bug, builtins

#422 Divide the `run()` function
  boa/src/exec/conditional/mod.rs
  boa/src/exec/expression/mod.rs
  boa/src/exec/field/mod.rs
  boa/src/exec/iteration/mod.rs
  boa/src/exec/mod.rs
  boa/src/exec/object/mod.rs
  boa/src/exec/operator/mod.rs
  boa/src/exec/return_smt/mod.rs
  boa/src/exec/spread/mod.rs
  boa/src/exec/switch/mod.rs
  boa/src/exec/throw/mod.rs
  boa/src/syntax/ast/node/break_node.rs
  boa/src/syntax/ast/node/conditional.rs
  boa/src/syntax/ast/node/field.rs
  boa/src/syntax/ast/node/iteration.rs
  boa/src/syntax/ast/node/mod.rs
  boa/src/syntax/ast/node/object.rs
  boa/src/syntax/ast/node/return_smt.rs
  boa/src/syntax/ast/node/spread.rs
  boa/src/syntax/ast/node/statement_list.rs
  boa/src/syntax/ast/node/switch.rs
  boa/src/syntax/ast/node/throw.rs
  boa/src/syntax/parser/expression/assignment/arrow_function.rs
  boa/src/syntax/parser/expression/assignment/conditional.rs
  boa/src/syntax/parser/expression/left_hand_side/arguments.rs
  boa/src/syntax/parser/expression/left_hand_side/call.rs
  boa/src/syntax/parser/expression/left_hand_side/member.rs
  boa/src/syntax/parser/expression/primary/array_initializer/mod.rs
  boa/src/syntax/parser/expression/primary/mod.rs
  boa/src/syntax/parser/expression/primary/object_initializer/mod.rs
  boa/src/syntax/parser/expression/primary/object_initializer/tests.rs
  boa/src/syntax/parser/function/tests.rs
  boa/src/syntax/parser/statement/block/tests.rs
  boa/src/syntax/parser/statement/break_stm/mod.rs
  boa/src/syntax/parser/statement/break_stm/tests.rs
  boa/src/syntax/parser/statement/continue_stm/mod.rs
  boa/src/syntax/parser/statement/continue_stm/tests.rs
  boa/src/syntax/parser/statement/declaration/mod.rs
  boa/src/syntax/parser/statement/if_stm/mod.rs
  boa/src/syntax/parser/statement/if_stm/tests.rs
  boa/src/syntax/parser/statement/iteration/do_while_statement.rs
  boa/src/syntax/parser/statement/iteration/for_statement.rs
  boa/src/syntax/parser/statement/iteration/tests.rs
  boa/src/syntax/parser/statement/iteration/while_statement.rs
  boa/src/syntax/parser/statement/mod.rs
  boa/src/syntax/parser/statement/return_stm/mod.rs
  boa/src/syntax/parser/statement/switch/mod.rs
  boa/src/syntax/parser/statement/throw/mod.rs
  boa/src/syntax/parser/statement/throw/tests.rs
  boa/src/syntax/parser/tests.rs
Labels: enhancement, technical debt

#431 Execution benchmarks now only take execution into account
  boa/benches/README.md
  boa/benches/exec.rs
Labels: benchmark, enhancement

#455 [TemplateLiteral] Basic lexer implementation
  boa/src/syntax/ast/token.rs
  boa/src/syntax/lexer/mod.rs
  boa/src/syntax/lexer/tests.rs
Labels: enhancement, lexer

#459 parseInt, parseFloat implementation
  boa/src/builtins/function/mod.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/number/tests.rs
Labels: builtins, enhancement

#462 Add proto object to from json
  boa/src/builtins/json/mod.rs
  boa/src/builtins/json/tests.rs
  boa/src/builtins/value/conversions.rs
  boa/src/builtins/value/mod.rs
Labels: bug, builtins

#469 [Property accessor - executor] fix bracket accessing on non-objects types
  boa/src/exec/field/mod.rs
  boa/src/exec/tests.rs
Labels: bug, execution

#441 Optimise type comparisons
  boa/src/builtins/value/equality.rs
  boa/src/builtins/value/mod.rs
  boa/src/builtins/value/tests.rs
  boa/src/builtins/value/val_type.rs
  boa/src/exec/conditional/mod.rs
  boa/src/exec/expression/mod.rs
  boa/src/exec/field/mod.rs
  boa/src/exec/mod.rs
  boa/src/exec/operator/mod.rs
  boa/src/syntax/parser/statement/break_stm/mod.rs
  boa/src/syntax/parser/statement/continue_stm/mod.rs
  boa/src/syntax/parser/statement/declaration/mod.rs
  boa/src/syntax/parser/statement/if_stm/mod.rs
Labels: builtins, enhancement, execution

#475 [NaN] handle NaN token as identifier
  boa/src/builtins/array/tests.rs
  boa/src/builtins/mod.rs
  boa/src/builtins/nan/mod.rs
  boa/src/builtins/nan/tests.rs
  boa/src/syntax/lexer/mod.rs
  boa/src/syntax/lexer/tests.rs
Labels: bug, builtins

#479 Small optimisation in some types that can be `Copy`
  boa/src/builtins/function/mod.rs
  boa/src/environment/function_environment_record.rs
  boa/src/syntax/ast/node/mod.rs
Labels: execution, optimisation

#458 Add benchmarks for array access, create and pop operations.
  boa/benches/exec.rs
Labels: benchmark, enhancement

#473 [FunctionDeclaration - execution] evaluate declaration into undefined not function
  boa/src/builtins/value/tests.rs
  boa/src/exec/declaration/mod.rs
  boa/src/exec/tests.rs
Labels: bug, builtins, execution

#451 Switch impl
  .vscode/launch.json
  boa/src/exec/block/mod.rs
  boa/src/exec/break_node/mod.rs
  boa/src/exec/break_node/tests.rs
  boa/src/exec/expression/mod.rs
  boa/src/exec/iteration/mod.rs
  boa/src/exec/iteration/tests.rs
  boa/src/exec/mod.rs
  boa/src/exec/return_smt/mod.rs
  boa/src/exec/statement_list.rs
  boa/src/exec/switch/mod.rs
  boa/src/exec/switch/tests.rs
  boa/src/syntax/ast/node/return_smt.rs
  boa/src/syntax/ast/node/switch.rs
  boa/src/syntax/ast/token.rs
  boa/src/syntax/parser/expression/assignment/arrow_function.rs
  boa/src/syntax/parser/expression/left_hand_side/call.rs
  boa/src/syntax/parser/expression/left_hand_side/member.rs
  boa/src/syntax/parser/function/tests.rs
  boa/src/syntax/parser/statement/block/tests.rs
  boa/src/syntax/parser/statement/mod.rs
  boa/src/syntax/parser/statement/return_stm/mod.rs
  boa/src/syntax/parser/statement/switch/mod.rs
  boa/src/syntax/parser/statement/switch/tests.rs
  boa/src/syntax/parser/tests.rs
Labels: enhancement, execution, parser

#489 [parser] folder structure for VariableStatement and ExpressionStatement
  boa/src/syntax/parser/statement/expression/mod.rs
  boa/src/syntax/parser/statement/mod.rs
  boa/src/syntax/parser/statement/variable/mod.rs
Labels: enhancement, parser

#491 Added string benchmarks, and updated dependencies
  Cargo.lock
  boa/Cargo.toml
  boa/benches/exec.rs
  boa_cli/Cargo.toml
Labels: benchmark, execution

#495 Added `globalThis` property
  boa/src/builtins/global_this/mod.rs
  boa/src/builtins/global_this/tests.rs
  boa/src/builtins/mod.rs
Labels: builtins, enhancement

#494 Added `String`, `Boolean` and `Number` object benchmarks
  boa/benches/exec.rs
Labels: benchmark, enhancement, execution

#419 Object specialization
  boa/src/builtins/array/mod.rs
  boa/src/builtins/bigint/mod.rs
  boa/src/builtins/boolean/mod.rs
  boa/src/builtins/console/mod.rs
  boa/src/builtins/error/mod.rs
  boa/src/builtins/error/range.rs
  boa/src/builtins/error/type.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/global_this/mod.rs
  boa/src/builtins/json/mod.rs
  boa/src/builtins/math/mod.rs
  boa/src/builtins/mod.rs
  boa/src/builtins/nan/mod.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/number/tests.rs
  boa/src/builtins/object/internal_methods.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/string/mod.rs
  boa/src/builtins/symbol/mod.rs
  boa/src/builtins/symbol/tests.rs
  boa/src/builtins/value/conversions.rs
  boa/src/builtins/value/display.rs
  boa/src/builtins/value/equality.rs
  boa/src/builtins/value/hash.rs
  boa/src/builtins/value/mod.rs
  boa/src/builtins/value/tests.rs
  boa/src/environment/lexical_environment.rs
  boa/src/exec/exception.rs
  boa/src/exec/expression/mod.rs
  boa/src/exec/mod.rs
Labels: builtins, enhancement, optimisation, technical debt

#499 add Infinity gloabal property (#480)
  boa/src/builtins/infinity/mod.rs
  boa/src/builtins/infinity/tests.rs
  boa/src/builtins/mod.rs
Labels: builtins, enhancement

#500 Added error propagation in Field access
  boa/src/exec/field/mod.rs
Labels: bug, execution

#502 Fixed global objects initialization order
  boa/src/builtins/mod.rs
Labels: bug, builtins

#501 Added undefined property to global scope
  boa/src/builtins/array/mod.rs
  boa/src/builtins/mod.rs
  boa/src/builtins/undefined/mod.rs
  boa/src/builtins/undefined/tests.rs
  boa/src/environment/lexical_environment.rs
  boa/src/exec/identifier/mod.rs
  boa/src/exec/mod.rs
  boa/src/exec/operator/mod.rs
  boa/src/exec/operator/tests.rs
  boa/src/exec/tests.rs
  boa/src/syntax/parser/expression/primary/mod.rs
Labels: builtins, enhancement

#504 434 json parse enumerability
  boa/src/builtins/array/mod.rs
  boa/src/builtins/json/tests.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/object/tests.rs
  boa/src/builtins/value/mod.rs
Labels: builtins, enhancement

#506 Fixed function call with unspecified arguments
  boa/src/builtins/function/mod.rs
  boa/src/builtins/object/mod.rs
  boa/src/exec/tests.rs
Labels: blocked, bug, execution

#512 JSON.stringify(undefined) should return undefined
  boa/src/builtins/json/mod.rs
  boa/src/builtins/json/tests.rs
Labels: bug, builtins

#515 Implement Object.is() method issue #513
  boa/src/builtins/object/mod.rs
  boa/src/builtins/object/tests.rs
Labels: builtins, enhancement

#516 Added arithmetic operation benchmark
  boa/benches/exec.rs
Labels: benchmark, enhancement, execution

#519 update pass through math methods
  boa/src/builtins/math/mod.rs
Labels: builtins, optimisation, technical debt

#498 `Value` refactor
  boa/src/builtins/array/mod.rs
  boa/src/builtins/bigint/mod.rs
  boa/src/builtins/boolean/mod.rs
  boa/src/builtins/boolean/tests.rs
  boa/src/builtins/console/mod.rs
  boa/src/builtins/error/mod.rs
  boa/src/builtins/error/range.rs
  boa/src/builtins/error/reference.rs
  boa/src/builtins/error/type.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/json/mod.rs
  boa/src/builtins/json/tests.rs
  boa/src/builtins/math/mod.rs
  boa/src/builtins/mod.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/object/gcobject.rs
  boa/src/builtins/object/internal_methods.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/string/mod.rs
  boa/src/builtins/symbol/mod.rs
  boa/src/builtins/value/conversions.rs
  boa/src/builtins/value/display.rs
  boa/src/builtins/value/equality.rs
  boa/src/builtins/value/hash.rs
  boa/src/builtins/value/mod.rs
  boa/src/builtins/value/operations.rs
  boa/src/builtins/value/rcbigint.rs
  boa/src/builtins/value/rcstring.rs
  boa/src/builtins/value/rcsymbol.rs
  boa/src/builtins/value/tests.rs
  boa/src/builtins/value/val_type.rs
  boa/src/environment/global_environment_record.rs
  boa/src/environment/lexical_environment.rs
  boa/src/exec/expression/mod.rs
  boa/src/exec/mod.rs
  boa/src/exec/operator/mod.rs
  boa/src/realm.rs
Labels: builtins, optimisation, technical debt

#518 TypeError when to_object is passed null or undefined
  boa/src/exec/mod.rs
  boa/src/exec/tests.rs
Labels: bug, execution

#523 clean up the rest of the math methods
  boa/src/builtins/math/mod.rs
Labels: builtins, optimisation, technical debt

#526 Fix sending `this` value to function environments
  .editorConfig
  .vscode/tasks.json
  boa/src/builtins/function/mod.rs
  boa/src/environment/function_environment_record.rs
  boa/src/environment/lexical_environment.rs
  boa/src/exec/tests.rs
Labels: bug, execution
