Repository boa-dev/boa, pull requests merged in 2020-05, with the labels that each got.

#350 feat(boa): in operator
  boa/src/builtins/object/internal_methods_trait.rs
  boa/src/builtins/value/mod.rs
  boa/src/exec/mod.rs
  boa/src/exec/tests.rs
  boa/src/syntax/ast/keyword.rs
  boa/src/syntax/ast/op.rs
  boa/src/syntax/ast/punc.rs
  boa/src/syntax/parser/expression/mod.rs
  boa/src/syntax/parser/expression/tests.rs
  boa/src/syntax/parser/tests.rs
Labels: enhancement

#255 Refactor old function with new function object
  .vscode/tasks.json
  boa/benches/exec.rs
  boa/src/builtins/array/mod.rs
  boa/src/builtins/boolean/mod.rs
  boa/src/builtins/console/mod.rs
  boa/src/builtins/error.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/json/mod.rs
  boa/src/builtins/math/mod.rs
  boa/src/builtins/mod.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/object/internal_methods_trait.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/string/mod.rs
  boa/src/builtins/string/tests.rs
  boa/src/builtins/symbol/mod.rs
  boa/src/builtins/value/mod.rs
  boa/src/environment/function_environment_record.rs
  boa/src/environment/lexical_environment.rs
  boa/src/exec/mod.rs
  boa/src/lib.rs
  boa/src/realm.rs
  boa/src/syntax/ast/constant.rs
  boa/src/syntax/ast/node.rs
  boa/src/syntax/lexer/tests.rs
Labels: enhancement

#374 Implement for loop
  boa/benches/exec.rs
  boa/src/exec/mod.rs
  boa/src/exec/tests.rs
Labels: enhancement

#368 Changed HashMap and HashSet for Fx versions
  Cargo.lock
  boa/Cargo.toml
  boa/src/builtins/console/mod.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/property.rs
  boa/src/builtins/value/mod.rs
  boa/src/environment/declarative_environment_record.rs
  boa/src/environment/function_environment_record.rs
  boa/src/environment/global_environment_record.rs
  boa/src/environment/lexical_environment.rs
  boa/src/environment/object_environment_record.rs
  boa/src/realm.rs
  boa/src/syntax/ast/constant.rs
  boa/src/syntax/ast/node.rs
  boa/src/syntax/ast/op.rs
  boa_wasm/Cargo.toml
Labels: optimisation

#370 Optimised all `Vec<Node>` in `Node` to be `Box<[Node]>`
  boa/src/builtins/function/mod.rs
  boa/src/builtins/object/mod.rs
  boa/src/exec/mod.rs
  boa/src/syntax/ast/node.rs
  boa/src/syntax/parser/expression/assignment/arrow_function.rs
  boa/src/syntax/parser/expression/primary/array_initializer/mod.rs
  boa/src/syntax/parser/expression/primary/array_initializer/tests.rs
  boa/src/syntax/parser/expression/primary/function_expression.rs
  boa/src/syntax/parser/expression/primary/object_initializer/mod.rs
  boa/src/syntax/parser/expression/primary/object_initializer/tests.rs
  boa/src/syntax/parser/expression/primary/tests.rs
  boa/src/syntax/parser/expression/tests.rs
  boa/src/syntax/parser/function/tests.rs
  boa/src/syntax/parser/mod.rs
  boa/src/syntax/parser/statement/block.rs
  boa/src/syntax/parser/statement/break_stm/tests.rs
  boa/src/syntax/parser/statement/continue_stm/tests.rs
  boa/src/syntax/parser/statement/declaration/hoistable.rs
  boa/src/syntax/parser/statement/declaration/lexical.rs
  boa/src/syntax/parser/statement/declaration/tests.rs
  boa/src/syntax/parser/statement/iteration/for_statement.rs
  boa/src/syntax/parser/statement/iteration/tests.rs
  boa/src/syntax/parser/statement/switch/mod.rs
  boa/src/syntax/parser/statement/throw/tests.rs
  boa/src/syntax/parser/statement/variable.rs
  boa/src/syntax/parser/tests.rs
Labels: optimisation

#372 Code cleanup
  boa/src/builtins/array/mod.rs
  boa/src/builtins/boolean/mod.rs
  boa/src/builtins/boolean/tests.rs
  boa/src/builtins/console/mod.rs
  boa/src/builtins/error.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/json/mod.rs
  boa/src/builtins/math/mod.rs
  boa/src/builtins/math/tests.rs
  boa/src/builtins/mod.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/number/tests.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/regexp/tests.rs
  boa/src/builtins/string/mod.rs
  boa/src/builtins/string/tests.rs
  boa/src/builtins/symbol/mod.rs
  boa/src/builtins/symbol/tests.rs
  boa/src/builtins/value/conversions.rs
  boa/src/builtins/value/mod.rs
  boa/src/builtins/value/operations.rs
  boa/src/exec/mod.rs
  boa/src/exec/tests.rs
  boa/src/realm.rs
  boa/src/syntax/lexer/tests.rs
Labels: technical debt

#380 Implement unary increment and decrement
  boa/src/exec/mod.rs
  boa/src/exec/tests.rs
Labels: enhancement

#382 Implemented function expressions
  boa/src/exec/mod.rs
  boa/src/exec/tests.rs
  boa/src/syntax/ast/node.rs
  boa/src/syntax/parser/expression/primary/function_expression.rs
  boa/src/syntax/parser/expression/primary/object_initializer/mod.rs
  boa/src/syntax/parser/expression/primary/object_initializer/tests.rs
Labels: bug, enhancement

#386 Removed one indirection from objects
  boa/src/builtins/object/mod.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/string/mod.rs
  boa/src/builtins/value/mod.rs
Labels: optimisation

#383 Value refactor
  boa/src/builtins/array/mod.rs
  boa/src/builtins/boolean/mod.rs
  boa/src/builtins/boolean/tests.rs
  boa/src/builtins/console/mod.rs
  boa/src/builtins/console/tests.rs
  boa/src/builtins/error.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/json/mod.rs
  boa/src/builtins/math/mod.rs
  boa/src/builtins/mod.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/number/tests.rs
  boa/src/builtins/object/internal_methods_trait.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/property/mod.rs
  boa/src/builtins/property/tests.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/regexp/tests.rs
  boa/src/builtins/string/mod.rs
  boa/src/builtins/string/tests.rs
  boa/src/builtins/symbol/mod.rs
  boa/src/builtins/symbol/tests.rs
  boa/src/builtins/value/conversions.rs
  boa/src/builtins/value/mod.rs
  boa/src/builtins/value/operations.rs
  boa/src/builtins/value/tests.rs
  boa/src/environment/declarative_environment_record.rs
  boa/src/environment/function_environment_record.rs
  boa/src/environment/global_environment_record.rs
  boa/src/environment/lexical_environment.rs
  boa/src/environment/object_environment_record.rs
  boa/src/exec/mod.rs
  boa/src/realm.rs
Labels: optimisation, technical debt

#385 Added issue/PR templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: enhancement

#381 Implement toString
  Cargo.lock
  boa/Cargo.toml
  boa/src/builtins/number/mod.rs
  boa/src/builtins/number/tests.rs
Labels: enhancement

#389 Added `BindingIdentifier` parsing.
  boa/src/exec/tests.rs
  boa/src/syntax/parser/expression/assignment/arrow_function.rs
  boa/src/syntax/parser/expression/assignment/mod.rs
  boa/src/syntax/parser/expression/primary/function_expression.rs
  boa/src/syntax/parser/expression/primary/mod.rs
  boa/src/syntax/parser/function/mod.rs
  boa/src/syntax/parser/statement/break_stm/mod.rs
  boa/src/syntax/parser/statement/continue_stm/mod.rs
  boa/src/syntax/parser/statement/declaration/hoistable.rs
  boa/src/syntax/parser/statement/declaration/lexical.rs
  boa/src/syntax/parser/statement/declaration/tests.rs
  boa/src/syntax/parser/statement/mod.rs
  boa/src/syntax/parser/statement/try_stm/mod.rs
  boa/src/syntax/parser/statement/variable.rs
Labels: enhancement, parser

#388 Implement unary void, delete operators
  boa/src/builtins/value/mod.rs
  boa/src/exec/mod.rs
  boa/src/exec/tests.rs
Labels: enhancement

#391 run security audit daily at midnight.
  .github/workflows/security_audit.yml
Labels: enhancement

#390 Modularize try statement parsing
  boa/src/syntax/parser/statement/try_stm/catch.rs
  boa/src/syntax/parser/statement/try_stm/finally.rs
  boa/src/syntax/parser/statement/try_stm/mod.rs
  boa/src/syntax/parser/statement/try_stm/tests.rs
Labels: bug, enhancement, parser

#384 Added code of conduct based on Contributor Covenant 2.0
  CODE_OF_CONDUCT.md
Labels: Discussion

#362 Remove Monaco Editor Webpack Plugin and Manually Vendor Editor Workers
  index.js
  package.json
  webpack.config.js
  yarn.lock
Labels: bug

#397 fix `NaN` is lexed as identifier, not as a number
  boa/src/syntax/lexer/mod.rs
  boa/src/syntax/lexer/tests.rs
Labels: bug

#395 impl abstract-equality-comparison
  boa/src/builtins/array/mod.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/number/tests.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/string/mod.rs
  boa/src/builtins/value/mod.rs
  boa/src/builtins/value/operations.rs
  boa/src/builtins/value/tests.rs
  boa/src/exec/mod.rs
Labels: enhancement

#320 implement "this"
  .vscode/tasks.json
  boa/src/builtins/array/mod.rs
  boa/src/builtins/boolean/mod.rs
  boa/src/builtins/error.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/mod.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/string/mod.rs
  boa/src/builtins/symbol/mod.rs
  boa/src/builtins/value/mod.rs
  boa/src/environment/declarative_environment_record.rs
  boa/src/environment/environment_record_trait.rs
  boa/src/environment/function_environment_record.rs
  boa/src/environment/global_environment_record.rs
  boa/src/environment/lexical_environment.rs
  boa/src/environment/object_environment_record.rs
  boa/src/exec/mod.rs
  boa/src/exec/tests.rs
Labels: enhancement, help wanted

#404 Fix for 0 length new String
  boa/src/builtins/string/mod.rs
  boa/src/builtins/string/tests.rs
Labels: bug

#358 Feature `BigInt`
  Cargo.lock
  boa/Cargo.toml
  boa/src/builtins/bigint/mod.rs
  boa/src/builtins/bigint/tests.rs
  boa/src/builtins/mod.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/number/tests.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/value/conversions.rs
  boa/src/builtins/value/mod.rs
  boa/src/builtins/value/operations.rs
  boa/src/builtins/value/tests.rs
  boa/src/exec/mod.rs
  boa/src/syntax/ast/bigint.rs
  boa/src/syntax/ast/constant.rs
  boa/src/syntax/ast/mod.rs
  boa/src/syntax/ast/token.rs
  boa/src/syntax/lexer/mod.rs
  boa/src/syntax/parser/expression/primary/mod.rs
Labels: enhancement

#396 Corrected impl of typeof
  boa/src/builtins/value/mod.rs
  boa/src/builtins/value/operations.rs
  boa/src/exec/mod.rs
  boa/src/exec/tests.rs
  boa/src/syntax/ast/node.rs
Labels: bug, enhancement, parser

#406 Dependency upgrade
  Cargo.lock
  boa/Cargo.toml
  boa_cli/Cargo.toml
  package.json
  yarn.lock
Labels: dependencies

#399 v0.8
  CHANGELOG.md
Labels: documentation

#416 Update links on README.md
  README.md
Labels: documentation

#412 Fixed parsing if statement without else block preceded by a newline
  boa/src/syntax/parser/statement/if_stm/mod.rs
  boa/src/syntax/parser/statement/if_stm/tests.rs
Labels: bug, parser

#409 Fix function object constructable/callable
  boa/src/builtins/array/mod.rs
  boa/src/builtins/bigint/mod.rs
  boa/src/builtins/boolean/mod.rs
  boa/src/builtins/error/mod.rs
  boa/src/builtins/error/range.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/mod.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/string/mod.rs
  boa/src/builtins/symbol/mod.rs
  boa/src/builtins/value/mod.rs
  boa/src/exec/declaration/mod.rs
  boa/src/exec/mod.rs
  boa/src/realm.rs
Labels: bug, builtins

#420 Number constants
  boa/src/builtins/number/mod.rs
  boa/src/builtins/number/tests.rs
Labels: builtins, enhancement

#423 Replacement of dead links
  CHANGELOG.md
  CONTRIBUTING.md
  boa/Cargo.toml
  boa_cli/Cargo.toml
  boa_wasm/Cargo.toml
Labels: documentation

#402 Json stringify replacer
  boa/src/builtins/json/mod.rs
  boa/src/builtins/json/tests.rs
  boa/src/builtins/value/mod.rs
Labels: enhancement

#424 Consistency at README.md
  README.md
Labels: documentation
