Repository boa-dev/boa, pull requests merged in 2020-09, with the labels that each got.

#627 Feature native class objects (`NativeObject` and `Class` traits)
  boa/examples/classes.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/json/mod.rs
  boa/src/builtins/object/internal_methods.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/property/attribute/mod.rs
  boa/src/builtins/property/mod.rs
  boa/src/exec/mod.rs
  boa/src/lib.rs
Labels: API, deprecations, enhancement, execution

#629 Fix: String.prototype.replace substitutions, closes #610
  boa/src/builtins/string/mod.rs
  boa/src/builtins/string/tests.rs
Labels: bug, builtins

#666 Some cleanup
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
  .github/workflows/rust.yml
  .github/workflows/security_audit.yml
  .github/workflows/webassembly.yml
  .prettierignore
  .vscode/launch.json
  .vscode/tasks.json
  CODE_OF_CONDUCT.md
  Cargo.lock
  Makefile
  README.md
  boa/benches/README.md
  boa/benches/bench_scripts/arithmetic_operations.js
  boa/benches/bench_scripts/array_access.js
  boa/benches/bench_scripts/array_create.js
  boa/benches/bench_scripts/array_pop.js
  boa/benches/bench_scripts/boolean_object_access.js
  boa/benches/bench_scripts/fibonacci.js
  boa/benches/bench_scripts/for_loop.js
  boa/benches/bench_scripts/goal_symbol_switch.js
  boa/benches/bench_scripts/hello_world.js
  boa/benches/bench_scripts/long_repetition.js
  boa/benches/bench_scripts/number_object_access.js
  boa/benches/bench_scripts/object_creation.js
  boa/benches/bench_scripts/object_prop_access_const.js
  boa/benches/bench_scripts/object_prop_access_dyn.js
  boa/benches/bench_scripts/regexp.js
  boa/benches/bench_scripts/regexp_creation.js
  boa/benches/bench_scripts/regexp_literal.js
  boa/benches/bench_scripts/regexp_literal_creation.js
  boa/benches/bench_scripts/string_compare.js
  boa/benches/bench_scripts/string_concat.js
  boa/benches/bench_scripts/string_copy.js
  boa/benches/bench_scripts/string_object_access.js
  boa/benches/bench_scripts/symbol_creation.js
  boa/src/syntax/parser/tests.rs
  docs/debugging.md
  docs/profiling.md
  index.js
  package.json
  webpack.config.js
  yarn.lock
Labels: dependencies, documentation, enhancement, test, webassembly

#667 Fix panic when calling function that mutates itself
  boa/src/builtins/function/mod.rs
  boa/src/builtins/function/tests.rs
  boa/src/builtins/object/gcobject.rs
  boa/src/exec/mod.rs
  boa/src/syntax/ast/node/mod.rs
  boa/src/syntax/ast/node/statement_list.rs
Labels: bug, execution

#673 Add `#[track_caller]` to `GcObject` methods that can panic
  boa/src/builtins/object/gcobject.rs
Labels: enhancement, execution

#676 Adds `Dependabot` configuration file
  .github/dependabot.yml
Labels: dependencies, enhancement

#677 Class module
  boa/examples/classes.rs
  boa/src/builtins/object/mod.rs
  boa/src/class.rs
  boa/src/exec/mod.rs
  boa/src/lib.rs
Labels: API, documentation, enhancement

#688 Dependabot for `boa_tester`
  .github/dependabot.yml
Labels: dependencies, rust

#689 Move `object` module to root
  boa/src/builtins/array/mod.rs
  boa/src/builtins/bigint/mod.rs
  boa/src/builtins/boolean/mod.rs
  boa/src/builtins/date/mod.rs
  boa/src/builtins/date/tests.rs
  boa/src/builtins/error/mod.rs
  boa/src/builtins/error/range.rs
  boa/src/builtins/error/reference.rs
  boa/src/builtins/error/syntax.rs
  boa/src/builtins/error/type.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/json/tests.rs
  boa/src/builtins/map/mod.rs
  boa/src/builtins/mod.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/string/mod.rs
  boa/src/class.rs
  boa/src/context.rs
  boa/src/environment/function_environment_record.rs
  boa/src/environment/lexical_environment.rs
  boa/src/lib.rs
  boa/src/object/gcobject.rs
  boa/src/object/internal_methods.rs
  boa/src/object/iter.rs
  boa/src/object/mod.rs
  boa/src/realm.rs
  boa/src/value/mod.rs
Labels: API, builtins, enhancement

#693 Feat: Rename Object::prototype() and Object::set_prototype()
  boa/src/builtins/array/mod.rs
  boa/src/builtins/boolean/tests.rs
  boa/src/builtins/json/tests.rs
  boa/src/builtins/map/mod.rs
  boa/src/builtins/object/mod.rs
  boa/src/context.rs
  boa/src/exec/tests.rs
  boa/src/object/mod.rs
  boa/src/value/display.rs
  boa/src/value/mod.rs
Labels: execution

#694 Feature `gc` module
  boa/examples/classes.rs
  boa/src/class.rs
  boa/src/gc.rs
  boa/src/lib.rs
Labels: API, enhancement

#695 Fix CI Commit failure
  .github/workflows/test262.yml
Labels: bug, test

#700 Revert criterion version to `=0.3.2`
  Cargo.lock
  boa/Cargo.toml
Labels: benchmark, bug

#699 fix Value::to_json order of items in array
  boa/src/value/mod.rs
Labels: bug, builtins

#706 Cache well known symbols
  boa/src/builtins/symbol/mod.rs
  boa/src/context.rs
Labels: API, builtins, enhancement

#710 Fix panic when a self mutating function is constructing an object
  boa/src/builtins/function/tests.rs
  boa/src/object/gcobject.rs
Labels: bug, execution

#711 Add support for >>>=
  boa/src/exec/operator/mod.rs
  boa/src/syntax/ast/op.rs
  boa/src/syntax/ast/punctuator.rs
  boa/src/syntax/parser/expression/tests.rs
Labels: enhancement, execution, parser

#668 Fix clippy on Nightly
  boa/src/builtins/string/mod.rs
  boa/src/environment/function_environment_record.rs
  boa/src/environment/lexical_environment.rs
  boa/src/syntax/lexer/mod.rs
  boa/src/syntax/parser/expression/assignment/exponentiation.rs
  boa/src/syntax/parser/expression/assignment/mod.rs
  boa/src/value/mod.rs
Labels: enhancement

#712 Refactor: Value::to_object to return GcObject
  boa/src/builtins/array/mod.rs
  boa/src/builtins/object/mod.rs
  boa/src/exec/call/mod.rs
  boa/src/exec/field/mod.rs
  boa/src/object/mod.rs
  boa/src/value/mod.rs
Labels: API, enhancement, execution, technical debt

#723 Add fast path for string concatenation
  boa/src/value/operations.rs
Labels: execution, optimisation

#549 label statement implementation
  .vscode/tasks.json
  boa/src/exec/break_node/mod.rs
  boa/src/exec/break_node/tests.rs
  boa/src/exec/iteration/mod.rs
  boa/src/exec/iteration/tests.rs
  boa/src/exec/mod.rs
  boa/src/exec/tests.rs
  boa/src/syntax/ast/node/iteration.rs
  boa/src/syntax/parser/statement/labelled_stm/mod.rs
  boa/src/syntax/parser/statement/mod.rs
Labels: enhancement, execution

#728 Fix hanging test262 bug by setting the length on String objects
  boa/src/exec/tests.rs
  boa/src/value/mod.rs
Labels: bug, execution
