Repository boa-dev/boa, pull requests merged in 2020-08, with the labels that each got.

#598 Made `String.prototype.lastIndexOf()` spec compliant
  boa/src/builtins/string/mod.rs
  boa/src/builtins/string/tests.rs
Labels: bug, builtins, execution, optimisation

#601 Removed internal_slots from object
  boa/src/builtins/function/mod.rs
  boa/src/builtins/object/internal_methods.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/value/mod.rs
Labels: deprecations, execution, technical debt

#593 Assignment to non-assignable expression should throw a `SyntaxError`
  boa/src/exec/tests.rs
  boa/src/syntax/parser/expression/assignment/mod.rs
  boa/src/syntax/parser/tests.rs
Labels: blocked, bug, execution

#596 Date Implementation
  Cargo.lock
  boa/Cargo.toml
  boa/src/builtins/date/mod.rs
  boa/src/builtins/date/tests.rs
  boa/src/builtins/mod.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/object/tests.rs
  boa/src/builtins/value/mod.rs
  boa/src/builtins/value/operations.rs
  boa/src/builtins/value/val_type.rs
  boa/src/realm.rs
Labels: builtins, enhancement

#616 Remove `Value::as_num_to_power()`
  boa/src/builtins/value/mod.rs
  boa/src/builtins/value/tests.rs
Labels: deprecations, execution, technical debt

#604 Set __proto__ of function instances
  boa/src/builtins/array/mod.rs
  boa/src/builtins/bigint/mod.rs
  boa/src/builtins/boolean/mod.rs
  boa/src/builtins/console/mod.rs
  boa/src/builtins/error/mod.rs
  boa/src/builtins/error/range.rs
  boa/src/builtins/error/reference.rs
  boa/src/builtins/error/syntax.rs
  boa/src/builtins/error/type.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/json/mod.rs
  boa/src/builtins/map/mod.rs
  boa/src/builtins/math/mod.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/string/mod.rs
  boa/src/builtins/symbol/mod.rs
Labels: bug, builtins, execution

#617 Fix abstract relational comparison (`<`, `>`, `<=` and `=>`)
  boa/src/builtins/number/mod.rs
  boa/src/builtins/property/mod.rs
  boa/src/builtins/value/mod.rs
  boa/src/builtins/value/operations.rs
  boa/src/builtins/value/tests.rs
  boa/src/builtins/value/type.rs
  boa/src/exec/operator/mod.rs
Labels: bug, execution

#625 Moved value operations from `Interpreter` to `Value`
  boa/src/builtins/array/mod.rs
  boa/src/builtins/bigint/mod.rs
  boa/src/builtins/console/mod.rs
  boa/src/builtins/date/mod.rs
  boa/src/builtins/date/tests.rs
  boa/src/builtins/error/mod.rs
  boa/src/builtins/error/range.rs
  boa/src/builtins/error/reference.rs
  boa/src/builtins/error/syntax.rs
  boa/src/builtins/error/type.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/json/mod.rs
  boa/src/builtins/json/tests.rs
  boa/src/builtins/map/mod.rs
  boa/src/builtins/math/mod.rs
  boa/src/builtins/math/tests.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/number/tests.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/string/mod.rs
  boa/src/builtins/symbol/mod.rs
  boa/src/builtins/symbol/tests.rs
  boa/src/builtins/value/conversions.rs
  boa/src/builtins/value/display.rs
  boa/src/builtins/value/equality.rs
  boa/src/builtins/value/mod.rs
  boa/src/builtins/value/operations.rs
  boa/src/builtins/value/tests.rs
  boa/src/exec/call/mod.rs
  boa/src/exec/field/mod.rs
  boa/src/exec/mod.rs
  boa/src/exec/operator/mod.rs
  boa/src/exec/tests.rs
  boa/src/lib.rs
  boa_cli/src/main.rs
  boa_wasm/src/lib.rs
Labels: API, enhancement, technical debt

#632 Fixes for the new lexer
  Cargo.lock
  boa/Cargo.toml
  boa/benches/lexer.rs
  boa/src/builtins/array/tests.rs
  boa/src/exec/switch/mod.rs
  boa/src/exec/tests.rs
  boa/src/syntax/ast/node/break_node.rs
  boa/src/syntax/ast/node/field.rs
  boa/src/syntax/ast/node/switch.rs
  boa/src/syntax/lexer/mod.rs
  boa/src/syntax/lexer/tests.rs
  boa/src/syntax/lexer/token.rs
  boa/src/syntax/parser/cursor/buffered_lexer/mod.rs
  boa/src/syntax/parser/cursor/buffered_lexer/tests.rs
  boa/src/syntax/parser/cursor/mod.rs
  boa/src/syntax/parser/error.rs
  boa/src/syntax/parser/expression/assignment/arrow_function.rs
  boa/src/syntax/parser/expression/assignment/conditional.rs
  boa/src/syntax/parser/expression/assignment/exponentiation.rs
  boa/src/syntax/parser/expression/assignment/mod.rs
  boa/src/syntax/parser/expression/left_hand_side/arguments.rs
  boa/src/syntax/parser/expression/left_hand_side/call.rs
  boa/src/syntax/parser/expression/left_hand_side/member.rs
  boa/src/syntax/parser/expression/left_hand_side/mod.rs
  boa/src/syntax/parser/expression/mod.rs
  boa/src/syntax/parser/expression/primary/array_initializer/mod.rs
  boa/src/syntax/parser/expression/primary/function_expression.rs
  boa/src/syntax/parser/expression/primary/mod.rs
  boa/src/syntax/parser/expression/primary/object_initializer/mod.rs
  boa/src/syntax/parser/expression/unary.rs
  boa/src/syntax/parser/expression/update.rs
  boa/src/syntax/parser/function/mod.rs
  boa/src/syntax/parser/mod.rs
  boa/src/syntax/parser/statement/block/mod.rs
  boa/src/syntax/parser/statement/break_stm/mod.rs
  boa/src/syntax/parser/statement/continue_stm/mod.rs
  boa/src/syntax/parser/statement/declaration/hoistable.rs
  boa/src/syntax/parser/statement/declaration/lexical.rs
  boa/src/syntax/parser/statement/declaration/mod.rs
  boa/src/syntax/parser/statement/if_stm/mod.rs
  boa/src/syntax/parser/statement/iteration/do_while_statement.rs
  boa/src/syntax/parser/statement/iteration/for_statement.rs
  boa/src/syntax/parser/statement/iteration/while_statement.rs
  boa/src/syntax/parser/statement/mod.rs
  boa/src/syntax/parser/statement/return_stm/mod.rs
  boa/src/syntax/parser/statement/switch/mod.rs
  boa/src/syntax/parser/statement/switch/tests.rs
  boa/src/syntax/parser/statement/throw/mod.rs
  boa/src/syntax/parser/statement/try_stm/catch.rs
  boa/src/syntax/parser/statement/try_stm/finally.rs
  boa/src/syntax/parser/statement/try_stm/mod.rs
  boa/src/syntax/parser/statement/variable/mod.rs
  boa/src/syntax/parser/tests.rs
  boa_cli/Cargo.toml
  boa_cli/src/main.rs
  boa_wasm/Cargo.toml
Labels: bug, lexer

#630 Fix Stack Overflow for `Debug::fmt`
  boa/src/builtins/object/gcobject.rs
  boa/src/builtins/value/tests.rs
Labels: bug

#638 Rename `Value::to_*int32` to `Value::to_*32`
  boa/src/builtins/math/mod.rs
  boa/src/builtins/value/mod.rs
  boa/src/builtins/value/tests.rs
  boa/src/exec/tests.rs
Labels: API, enhancement

#637 Feature `boa::Result<T>`
  boa/src/builtins/array/mod.rs
  boa/src/builtins/bigint/mod.rs
  boa/src/builtins/boolean/mod.rs
  boa/src/builtins/console/mod.rs
  boa/src/builtins/date/mod.rs
  boa/src/builtins/error/mod.rs
  boa/src/builtins/error/range.rs
  boa/src/builtins/error/reference.rs
  boa/src/builtins/error/syntax.rs
  boa/src/builtins/error/type.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/json/mod.rs
  boa/src/builtins/map/mod.rs
  boa/src/builtins/math/mod.rs
  boa/src/builtins/mod.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/string/mod.rs
  boa/src/builtins/symbol/mod.rs
  boa/src/builtins/value/conversions.rs
  boa/src/builtins/value/equality.rs
  boa/src/builtins/value/mod.rs
  boa/src/builtins/value/operations.rs
  boa/src/exec/array/mod.rs
  boa/src/exec/block/mod.rs
  boa/src/exec/break_node/mod.rs
  boa/src/exec/call/mod.rs
  boa/src/exec/conditional/mod.rs
  boa/src/exec/declaration/mod.rs
  boa/src/exec/exception.rs
  boa/src/exec/field/mod.rs
  boa/src/exec/identifier/mod.rs
  boa/src/exec/iteration/mod.rs
  boa/src/exec/mod.rs
  boa/src/exec/new/mod.rs
  boa/src/exec/object/mod.rs
  boa/src/exec/operator/mod.rs
  boa/src/exec/return_smt/mod.rs
  boa/src/exec/spread/mod.rs
  boa/src/exec/statement_list.rs
  boa/src/exec/switch/mod.rs
  boa/src/exec/throw/mod.rs
  boa/src/exec/try_node/mod.rs
  boa/src/lib.rs
Labels: API, enhancement

#626 Refactor `Function`
  boa/src/builtins/function/mod.rs
  boa/src/builtins/map/tests.rs
  boa/src/builtins/object/gcobject.rs
  boa/src/builtins/object/internal_state.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/value/mod.rs
  boa/src/environment/function_environment_record.rs
  boa/src/environment/lexical_environment.rs
  boa/src/exec/declaration/mod.rs
  boa/src/exec/mod.rs
  boa/src/exec/new/mod.rs
  boa/src/realm.rs
Labels: execution, technical debt

#643 Change default return type from null to undefined
  boa/src/exec/block/mod.rs
  boa/src/exec/statement_list.rs
  boa/src/exec/tests.rs
Labels: bug, execution

#642 Fix 532, 533, 641
  boa/src/exec/mod.rs
  boa/src/exec/tests.rs
Labels: bug, builtins, execution

#603 Index `PropertyKey`, `Object` iterators and symbol support
  boa/src/builtins/array/mod.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/json/mod.rs
  boa/src/builtins/object/internal_methods.rs
  boa/src/builtins/object/iter.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/property/mod.rs
  boa/src/builtins/symbol/mod.rs
  boa/src/builtins/symbol/tests.rs
  boa/src/builtins/value/conversions.rs
  boa/src/builtins/value/display.rs
  boa/src/builtins/value/mod.rs
  boa/src/environment/global_environment_record.rs
  boa/src/exec/call/mod.rs
  boa/src/exec/field/mod.rs
  boa/src/exec/mod.rs
  boa/src/exec/tests.rs
Labels: enhancement, memory, optimisation

#640 Benchmark refactor
  boa/benches/bench_scripts/arithmetic_operations.js
  boa/benches/bench_scripts/array_access.js
  boa/benches/bench_scripts/array_create.js
  boa/benches/bench_scripts/array_pop.js
  boa/benches/bench_scripts/boolean_object_access.js
  boa/benches/bench_scripts/expression.js
  boa/benches/bench_scripts/fibonacci.js
  boa/benches/bench_scripts/for_loop.js
  boa/benches/bench_scripts/goal_symbol_switch.js
  boa/benches/bench_scripts/hello_world.js
  boa/benches/bench_scripts/long_repetition.js
  boa/benches/bench_scripts/number_object_access.js
  boa/benches/bench_scripts/object_creation.js
  boa/benches/bench_scripts/object_prop_access_const.js
  boa/benches/bench_scripts/object_prop_access_dyn.js
  boa/benches/bench_scripts/regexp.js
  boa/benches/bench_scripts/regexp_creation.js
  boa/benches/bench_scripts/regexp_literal.js
  boa/benches/bench_scripts/regexp_literal_creation.js
  boa/benches/bench_scripts/string_compare.js
  boa/benches/bench_scripts/string_concat.js
  boa/benches/bench_scripts/string_copy.js
  boa/benches/bench_scripts/string_object_access.js
  boa/benches/bench_scripts/symbol_creation.js
  boa/benches/exec.rs
  boa/benches/full.rs
  boa/benches/lexer.rs
  boa/benches/parser.rs
Labels: benchmark, enhancement

#645 Fix undefined constant expression evaluation
  boa/src/exec/mod.rs
  boa/src/exec/tests.rs
Labels: bug, execution

#646 Test + fmt fix
  boa/src/exec/tests.rs
Labels: bug, test

#581 Added CLEAN_JS and MINI_JS benches
  boa/benches/bench_scripts/clean_js.js
  boa/benches/bench_scripts/mini_js.js
  boa/benches/exec.rs
  boa/benches/full.rs
  boa/benches/parser.rs
Labels: benchmark, enhancement

#660 Make `GcObject::contruct` not take `'this'`
  boa/src/builtins/object/gcobject.rs
  boa/src/exec/new/mod.rs
Labels: builtins, execution

#635 Add missing ops to exec module
  boa/src/exec/block/mod.rs
  boa/src/exec/break_node/mod.rs
  boa/src/exec/conditional/mod.rs
  boa/src/exec/iteration/mod.rs
  boa/src/exec/iteration/tests.rs
  boa/src/exec/mod.rs
  boa/src/exec/statement_list.rs
  boa/src/exec/switch/mod.rs
  boa/src/exec/tests.rs
Labels: bug, enhancement, execution

#662 Implement `std::error::Error` for `GcObject` borrow errors
  boa/src/builtins/object/gcobject.rs
Labels: enhancement

#661 Add documentation to `GcObject` methods
  boa/src/builtins/object/gcobject.rs
  boa/src/builtins/object/mod.rs
Labels: documentation, enhancement

#665 Added approx_eq! macro for expm1 tests.
  Cargo.lock
  boa/Cargo.toml
  boa/src/builtins/math/tests.rs
Labels: bug, test
