Repository boa-dev/boa, pull requests merged in 2020-12, with the labels that each got.

#915 Improve lexer by make cursor iterate over bytes
  boa/src/syntax/lexer/comment.rs
  boa/src/syntax/lexer/cursor.rs
  boa/src/syntax/lexer/identifier.rs
  boa/src/syntax/lexer/mod.rs
  boa/src/syntax/lexer/number.rs
  boa/src/syntax/lexer/operator.rs
  boa/src/syntax/lexer/regex.rs
  boa/src/syntax/lexer/spread.rs
  boa/src/syntax/lexer/string.rs
  boa/src/syntax/lexer/template.rs
  boa/src/syntax/lexer/tests.rs
Labels: lexer, optimisation

#959 Fix Unicode character escape sequence parsing
  boa/src/syntax/lexer/string.rs
  boa/src/syntax/lexer/tests.rs
Labels: bug, lexer

#960 Fix unresolved links in documentation
  boa/src/builtins/boolean/mod.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/map/map_iterator.rs
  boa/src/builtins/number/conversions.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/object/mod.rs
  boa/src/context.rs
  boa/src/environment/function_environment_record.rs
  boa/src/object/gcobject.rs
  boa/src/object/internal_methods.rs
  boa/src/object/mod.rs
  boa/src/property/mod.rs
  boa/src/syntax/ast/node/field/get_field/mod.rs
  boa/src/syntax/ast/op.rs
  boa/src/syntax/parser/statement/mod.rs
  boa/src/value/mod.rs
  boa/src/value/type.rs
Labels: bug, documentation

#964 Fix single line comment lexing with CRLF line ending
  boa/src/syntax/lexer/comment.rs
  boa/src/syntax/lexer/tests.rs
Labels: bug, lexer

#919 Reduce the number of `Array`-related panics
  boa/src/builtins/array/mod.rs
  boa/src/builtins/array/tests.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/map/map_iterator.rs
  boa/src/syntax/ast/node/array/mod.rs
  boa/src/value/mod.rs
  boa/src/value/tests.rs
Labels: bug, builtins

#968 Fix unit tests that can be failed due to daylight saving time
  boa/src/builtins/date/tests.rs
Labels: bug, test

#975 Fix word in comment
  boa/src/property/mod.rs
Labels: documentation

#961 Implement the optional `space` parameter in `JSON.stringify`
  boa/Cargo.toml
  boa/src/builtins/json/mod.rs
  boa/src/builtins/json/tests.rs
Labels: builtins

#962 Implement Number.prototype.toPrecision
  boa/src/builtins/number/mod.rs
  boa/src/builtins/number/tests.rs
Labels: builtins, enhancement

#972 Fix enumerable attribute on array length property
  boa/src/builtins/array/mod.rs
  boa/src/builtins/array/tests.rs
Labels: bug, builtins

#974 Fix enumerable attribute on string length property
  boa/src/builtins/string/mod.rs
  boa/src/builtins/string/tests.rs
  boa/src/value/mod.rs
  boa/src/value/tests.rs
Labels: bug, builtins

#979 Read file input in bytes instead of string
  boa/src/context.rs
  boa/src/lib.rs
  boa_cli/src/main.rs
  boa_tester/src/exec.rs
Labels: optimisation

#981 Fix prototypes for Number, String and Boolean
  boa/src/context.rs
Labels: bug, builtins

#999 Fix logical expressions evaluation
  boa/src/syntax/ast/node/operator/bin_op/mod.rs
  boa/src/value/display.rs
Labels: bug, execution

#659 Error handling in environment
  boa/src/builtins/function/mod.rs
  boa/src/context.rs
  boa/src/environment/declarative_environment_record.rs
  boa/src/environment/environment_record_trait.rs
  boa/src/environment/function_environment_record.rs
  boa/src/environment/global_environment_record.rs
  boa/src/environment/lexical_environment.rs
  boa/src/environment/mod.rs
  boa/src/environment/object_environment_record.rs
  boa/src/object/gcobject.rs
  boa/src/syntax/ast/node/declaration/const_decl_list/mod.rs
  boa/src/syntax/ast/node/declaration/function_decl/mod.rs
  boa/src/syntax/ast/node/declaration/let_decl_list/mod.rs
  boa/src/syntax/ast/node/declaration/var_decl_list/mod.rs
  boa/src/syntax/ast/node/identifier/mod.rs
  boa/src/syntax/ast/node/iteration/for_of_loop/mod.rs
  boa/src/syntax/ast/node/mod.rs
  boa/src/syntax/ast/node/operator/assign/mod.rs
  boa/src/syntax/ast/node/operator/bin_op/mod.rs
  boa/src/syntax/ast/node/try_node/mod.rs
  boa/src/value/operations.rs
Labels: bug, enhancement

#1001 Fix comparison with infinity
  boa/src/builtins/number/mod.rs
  boa/src/builtins/number/tests.rs
Labels: bug, execution

#995 Add numeric separator lexing
  boa/src/syntax/lexer/mod.rs
  boa/src/syntax/lexer/number.rs
  boa/src/syntax/lexer/tests.rs
Labels: enhancement, lexer

#1004 Fix `Object.prototype.hasOwnProperty()`
  boa/src/builtins/object/mod.rs
  boa/src/object/gcobject.rs
Labels: bug, builtins

#987 Implement property accessors
  boa/src/builtins/array/array_iterator.rs
  boa/src/builtins/array/mod.rs
  boa/src/builtins/error/eval.rs
  boa/src/builtins/error/mod.rs
  boa/src/builtins/error/range.rs
  boa/src/builtins/error/reference.rs
  boa/src/builtins/error/syntax.rs
  boa/src/builtins/error/type.rs
  boa/src/builtins/error/uri.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/iterable/mod.rs
  boa/src/builtins/json/mod.rs
  boa/src/builtins/json/tests.rs
  boa/src/builtins/map/map_iterator.rs
  boa/src/builtins/map/mod.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/object/tests.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/string/mod.rs
  boa/src/builtins/string/string_iterator.rs
  boa/src/context.rs
  boa/src/environment/object_environment_record.rs
  boa/src/exec/tests.rs
  boa/src/object/gcobject.rs
  boa/src/object/internal_methods.rs
  boa/src/property/mod.rs
  boa/src/realm.rs
  boa/src/syntax/ast/node/call/mod.rs
  boa/src/syntax/ast/node/declaration/arrow_function_decl/mod.rs
  boa/src/syntax/ast/node/declaration/function_decl/mod.rs
  boa/src/syntax/ast/node/declaration/function_expr/mod.rs
  boa/src/syntax/ast/node/field/get_const_field/mod.rs
  boa/src/syntax/ast/node/field/get_field/mod.rs
  boa/src/syntax/ast/node/object/mod.rs
  boa/src/syntax/ast/node/operator/assign/mod.rs
  boa/src/syntax/ast/node/operator/bin_op/mod.rs
  boa/src/value/display.rs
  boa/src/value/mod.rs
  boa/src/value/tests.rs
Labels: builtins, enhancement, execution
