Repository boa-dev/boa, pull requests merged in 2020-07, with the labels that each got.

#537 Upgraded dependencies before the 0.9 release
  Cargo.lock
  boa/Cargo.toml
  boa_cli/Cargo.toml
  boa_wasm/Cargo.toml
  package.json
  yarn.lock
Labels: dependencies, enhancement

#528 v0.9 changelog
  CHANGELOG.md
  docs/img/object_specialization_after.png
  docs/img/object_specialization_before.png
Labels: documentation

#525 add remaining math methods (#524)
  boa/src/builtins/math/mod.rs
  boa/src/builtins/math/tests.rs
Labels: builtins, enhancement

#535 fix json.stringify symbol handling
  boa/src/builtins/json/tests.rs
  boa/src/builtins/value/mod.rs
Labels: bug, builtins

#520 Fix all `Value` operations and add unsigned shift right
  boa/src/builtins/array/mod.rs
  boa/src/builtins/boolean/tests.rs
  boa/src/builtins/number/conversions.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/value/conversions.rs
  boa/src/builtins/value/display.rs
  boa/src/builtins/value/mod.rs
  boa/src/builtins/value/operations.rs
  boa/src/builtins/value/tests.rs
  boa/src/exec/conditional/mod.rs
  boa/src/exec/iteration/mod.rs
  boa/src/exec/mod.rs
  boa/src/exec/operator/mod.rs
  boa/src/exec/tests.rs
Labels: bug, execution, technical debt

#538 Cleanup and added test for `String.prototype.concat`
  boa/src/builtins/string/mod.rs
  boa/src/builtins/string/tests.rs
Labels: builtins, test

#529 Refactor exec/expression into exec/call and exec/new
  boa/src/exec/call/mod.rs
  boa/src/exec/mod.rs
  boa/src/exec/new/mod.rs
Labels: enhancement, execution

#541 Made all `Math` methods spec compliant
  boa/src/builtins/math/mod.rs
  boa/src/builtins/math/tests.rs
  boa/src/builtins/value/conversions.rs
Labels: bug, builtins, technical debt

#544 Removed `console`s dependency of `InternalState`
  boa/src/builtins/console/mod.rs
  boa/src/builtins/mod.rs
  boa/src/exec/mod.rs
  boa_cli/src/main.rs
Labels: builtins, optimisation

#547 Merged `create` into `init` for builtins
  boa/src/builtins/array/mod.rs
  boa/src/builtins/bigint/mod.rs
  boa/src/builtins/boolean/mod.rs
  boa/src/builtins/boolean/tests.rs
  boa/src/builtins/console/mod.rs
  boa/src/builtins/error/mod.rs
  boa/src/builtins/error/range.rs
  boa/src/builtins/error/reference.rs
  boa/src/builtins/error/syntax.rs
  boa/src/builtins/error/type.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/json/mod.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/number/tests.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/string/mod.rs
  boa/src/builtins/string/tests.rs
  boa/src/builtins/symbol/mod.rs
  boa/src/builtins/symbol/tests.rs
Labels: builtins, technical debt

#543 [builtins - object] Object.create
  boa/src/builtins/object/mod.rs
  boa/src/builtins/object/tests.rs
Labels: builtins, enhancement

#492 rustyline for the cli
  .gitignore
  Cargo.lock
  boa_cli/Cargo.toml
  boa_cli/src/main.rs
Labels: cli, enhancement

#554 Improved the description of the issue templates
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: enhancement

#556 Added benchmark for goal symbol switching
  Cargo.lock
  boa/benches/parser.rs
  boa/src/builtins/math/tests.rs
Labels: benchmark

#560 Added benchmarks for full program execution
  boa/Cargo.toml
  boa/benches/exec.rs
  boa/benches/full.rs
Labels: benchmark, enhancement

#561 Throw a type error when a non-object is called
  boa/src/exec/mod.rs
  boa/src/exec/tests.rs
Labels: bug, execution

#563 Ensure tests test error type
  boa/src/builtins/bigint/tests.rs
  boa/src/builtins/object/tests.rs
  boa/src/exec/operator/tests.rs
  boa/src/exec/tests.rs
Labels: enhancement, test

#562 Add missing Number methods.
  boa/src/builtins/number/mod.rs
  boa/src/builtins/number/tests.rs
Labels: builtins, enhancement

#555 Implement Array.prototype.reduce
  boa/src/builtins/array/mod.rs
  boa/src/builtins/array/tests.rs
Labels: builtins, enhancement

#568 Fixed stack overflow bug
  boa/src/exec/call/mod.rs
  boa/src/exec/field/mod.rs
  tester/src/main.rs
Labels: bug, execution

#493 Use correct exponential representation for rational values
  Cargo.lock
  boa/Cargo.toml
  boa/src/builtins/value/display.rs
  boa/src/builtins/value/tests.rs
Labels: enhancement

#571 Made `boa_cli` bin default binary when calling `cargo run`
  boa_cli/Cargo.toml
Labels: enhancement

#550 Initial implementation of Map()
  Cargo.lock
  boa/Cargo.toml
  boa/src/builtins/array/mod.rs
  boa/src/builtins/bigint/mod.rs
  boa/src/builtins/boolean/mod.rs
  boa/src/builtins/error/mod.rs
  boa/src/builtins/error/range.rs
  boa/src/builtins/error/reference.rs
  boa/src/builtins/error/syntax.rs
  boa/src/builtins/error/type.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/map/mod.rs
  boa/src/builtins/map/ordered_map.rs
  boa/src/builtins/map/tests.rs
  boa/src/builtins/mod.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/string/mod.rs
  boa/src/builtins/symbol/mod.rs
  boa/src/builtins/value/display.rs
  boa/src/exec/mod.rs
Labels: builtins, enhancement

#572 Spec Compliant `Number.prototype.toString()`, better `Number` object formating and `-0`
  Cargo.lock
  boa/src/builtins/number/mod.rs
  boa/src/builtins/number/tests.rs
  boa/src/builtins/value/display.rs
Labels: builtins, enhancement, execution

#580 Extracted `__proto__` from internal slots
  boa/src/builtins/array/mod.rs
  boa/src/builtins/boolean/tests.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/json/tests.rs
  boa/src/builtins/map/mod.rs
  boa/src/builtins/object/internal_methods.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/string/tests.rs
  boa/src/builtins/value/conversions.rs
  boa/src/builtins/value/display.rs
  boa/src/builtins/value/mod.rs
  boa/src/exec/mod.rs
  boa/src/exec/new/mod.rs
  boa/src/exec/tests.rs
  boa/src/syntax/parser/tests.rs
Labels: execution, optimisation, technical debt

#553 Refactor Property Descriptor flags
  .vscode/launch.json
  Cargo.lock
  boa/src/builtins/array/mod.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/map/mod.rs
  boa/src/builtins/object/internal_methods.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/property/attribute/mod.rs
  boa/src/builtins/property/attribute/tests.rs
  boa/src/builtins/property/mod.rs
  boa/src/builtins/value/mod.rs
  boa/src/environment/global_environment_record.rs
  boa/src/environment/object_environment_record.rs
Labels: builtins, execution, optimisation, technical debt

#583 Fix string prototype `trim` methods
  boa/src/builtins/string/mod.rs
  boa/src/builtins/string/tests.rs
Labels: bug, builtins

#582 Make `String.prototype.repeat()` ECMAScript specification compliant
  boa/src/builtins/string/mod.rs
  boa/src/builtins/string/tests.rs
Labels: bug, builtins

#579 Implement Array.prototype.reduceRight
  boa/src/builtins/array/mod.rs
  boa/src/builtins/array/tests.rs
Labels: builtins, enhancement

#586 Better error formatting and cli color
  Cargo.lock
  boa/src/builtins/value/display.rs
  boa_cli/Cargo.toml
  boa_cli/src/main.rs
Labels: cli, enhancement, execution

#590 Added keyword and operator colors and matching bracket validator to cli
  Cargo.lock
  boa_cli/Cargo.toml
  boa_cli/src/main.rs
Labels: cli, enhancement

#373 Introduce PropertyKey for field acces, fix #172 (quotes around displayed strings)
  boa/src/builtins/array/mod.rs
  boa/src/builtins/array/tests.rs
  boa/src/builtins/bigint/tests.rs
  boa/src/builtins/console/mod.rs
  boa/src/builtins/error/range.rs
  boa/src/builtins/error/reference.rs
  boa/src/builtins/error/type.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/global_this/tests.rs
  boa/src/builtins/json/mod.rs
  boa/src/builtins/json/tests.rs
  boa/src/builtins/map/tests.rs
  boa/src/builtins/number/tests.rs
  boa/src/builtins/object/internal_methods.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/object/tests.rs
  boa/src/builtins/property/mod.rs
  boa/src/builtins/property/tests.rs
  boa/src/builtins/regexp/tests.rs
  boa/src/builtins/string/mod.rs
  boa/src/builtins/string/tests.rs
  boa/src/builtins/symbol/tests.rs
  boa/src/builtins/value/conversions.rs
  boa/src/builtins/value/display.rs
  boa/src/builtins/value/mod.rs
  boa/src/builtins/value/rcstring.rs
  boa/src/builtins/value/tests.rs
  boa/src/environment/lexical_environment.rs
  boa/src/exec/field/mod.rs
  boa/src/exec/mod.rs
  boa/src/exec/object/mod.rs
  boa/src/exec/operator/mod.rs
  boa/src/exec/operator/tests.rs
  boa/src/exec/switch/tests.rs
  boa/src/exec/tests.rs
  boa/src/realm.rs
  boa_cli/src/main.rs
Labels: bug, execution

#587 Implement Well-Known Symbols
  boa/src/builtins/array/mod.rs
  boa/src/builtins/bigint/mod.rs
  boa/src/builtins/boolean/mod.rs
  boa/src/builtins/console/mod.rs
  boa/src/builtins/error/mod.rs
  boa/src/builtins/error/range.rs
  boa/src/builtins/error/reference.rs
  boa/src/builtins/error/syntax.rs
  boa/src/builtins/error/type.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/global_this/mod.rs
  boa/src/builtins/infinity/mod.rs
  boa/src/builtins/json/mod.rs
  boa/src/builtins/map/mod.rs
  boa/src/builtins/math/mod.rs
  boa/src/builtins/mod.rs
  boa/src/builtins/nan/mod.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/string/mod.rs
  boa/src/builtins/symbol/mod.rs
  boa/src/builtins/undefined/mod.rs
  boa/src/builtins/value/mod.rs
  boa/src/exec/mod.rs
  boa/src/realm.rs
Labels: builtins, enhancement, execution

#592 `RegExp` specialization
  boa/src/builtins/object/mod.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/regexp/tests.rs
  boa/src/builtins/string/mod.rs
Labels: builtins, execution, optimisation, technical debt

#595 Added syntax highlighting for strings
  boa_cli/src/helper.rs
  boa_cli/src/main.rs
Labels: cli, enhancement

#597 Made `String.prototype.indexOf` spec compliant.
  boa/src/builtins/string/mod.rs
  boa/src/builtins/string/tests.rs
Labels: bug, builtins, execution

#589 Implement the comma operator
  boa/src/exec/operator/mod.rs
  boa/src/exec/tests.rs
  boa/src/syntax/ast/op.rs
  boa/src/syntax/ast/punctuator.rs
  boa/src/syntax/parser/expression/assignment/mod.rs
Labels: enhancement, execution

#599 Fixed `String.prototype.indexOf()` bug, when the search string is empty
  boa/src/builtins/string/mod.rs
  boa/src/builtins/string/tests.rs
Labels: bug, builtins, execution
