Repository boa-dev/boa, pull requests merged in 2020-10, with the labels that each got.

#745 New fix attempt
  .github/workflows/test262.yml
Labels: bug, test

#737 Fix output of Object.toString()
  boa/src/builtins/object/mod.rs
  boa/src/builtins/object/tests.rs
Labels: bug, builtins

#744 Add MacOS check and test to CI
  .github/workflows/rust.yml
Labels: enhancement

#748 Fix parse error throwing a `TypeError`, instead of `SyntaxError`
  boa/src/context.rs
  boa/src/exec/tests.rs
Labels: bug, execution

#754 remove deprecated comments
  boa/src/builtins/string/mod.rs
  boa/src/exec/statement_list.rs
Labels: documentation

#739 Add release action
  .github/workflows/release.yml
Labels: enhancement

#724 Ignore tests from codecov count and disable annotations
  .github/codecov.yml
  .github/workflows/rust.yml
Labels: enhancement

#768 Using the upstream version of the benchmark action
  .github/workflows/master.yml
Labels: benchmark, enhancement

#704 Implementation of for...of loops
  boa/src/builtins/array/array_iterator.rs
  boa/src/builtins/array/mod.rs
  boa/src/builtins/array/tests.rs
  boa/src/builtins/iterable/mod.rs
  boa/src/builtins/mod.rs
  boa/src/builtins/string/mod.rs
  boa/src/builtins/string/string_iterator.rs
  boa/src/builtins/string/tests.rs
  boa/src/context.rs
  boa/src/object/gcobject.rs
  boa/src/object/mod.rs
  boa/src/syntax/ast/keyword.rs
  boa/src/syntax/ast/node/declaration/const_decl_list/mod.rs
  boa/src/syntax/ast/node/iteration/for_of_loop/mod.rs
  boa/src/syntax/ast/node/iteration/mod.rs
  boa/src/syntax/ast/node/iteration/tests.rs
  boa/src/syntax/ast/node/mod.rs
  boa/src/syntax/parser/expression/primary/object_initializer/tests.rs
  boa/src/syntax/parser/statement/declaration/lexical.rs
  boa/src/syntax/parser/statement/declaration/mod.rs
  boa/src/syntax/parser/statement/declaration/tests.rs
  boa/src/syntax/parser/statement/iteration/for_statement.rs
  boa/src/syntax/parser/statement/mod.rs
  boa/src/value/mod.rs
Labels: builtins, enhancement, execution, parser

#764 Change authors to `boa-dev`
  boa/Cargo.toml
  boa_cli/Cargo.toml
  boa_tester/Cargo.toml
  boa_wasm/Cargo.toml
Labels: documentation

#781 Revert "Using the upstream version of the benchmark action"
  .github/workflows/master.yml
Labels: benchmark, bug

#782 Throw TypeError if regexp is passed to startsWith, endsWith, includes
  boa/src/builtins/string/mod.rs
  boa/src/builtins/string/tests.rs
Labels: bug, builtins

#722 `ConstructorBuilder`, `ObjectInitializer`, cache standard objects and fix global object attributes
  boa/src/builtins/array/array_iterator.rs
  boa/src/builtins/array/mod.rs
  boa/src/builtins/bigint/mod.rs
  boa/src/builtins/boolean/mod.rs
  boa/src/builtins/console/mod.rs
  boa/src/builtins/date/mod.rs
  boa/src/builtins/error/mod.rs
  boa/src/builtins/error/range.rs
  boa/src/builtins/error/reference.rs
  boa/src/builtins/error/syntax.rs
  boa/src/builtins/error/type.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/global_this/mod.rs
  boa/src/builtins/infinity/mod.rs
  boa/src/builtins/iterable/mod.rs
  boa/src/builtins/json/mod.rs
  boa/src/builtins/map/mod.rs
  boa/src/builtins/math/mod.rs
  boa/src/builtins/mod.rs
  boa/src/builtins/nan/mod.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/string/mod.rs
  boa/src/builtins/symbol/mod.rs
  boa/src/builtins/undefined/mod.rs
  boa/src/class.rs
  boa/src/context.rs
  boa/src/lib.rs
  boa/src/object/internal_methods.rs
  boa/src/object/mod.rs
  boa/src/value/conversions.rs
  boa/src/value/mod.rs
  boa/src/value/rcstring.rs
Labels: API, builtins, enhancement, execution, optimisation, technical debt

#770 Support for symbols as property keys for `Object.defineProperty`
  boa/src/builtins/object/mod.rs
  boa/src/builtins/object/tests.rs
Labels: bug, builtins

#789 Fixed historical results with the new format
  test262/refs/heads/master/latest.json
  test262/refs/heads/master/results.json
  test262/refs/tags/v0.10.0/latest.json
  test262/refs/tags/v0.10.0/results.json
Labels: bug, test

#788 Fixing a duplicated attribute in test262 results
  boa_tester/src/main.rs
Labels: bug, test

#790 Throw RangeError when BigInt division by zero occurs
  boa/src/builtins/bigint/tests.rs
  boa/src/context.rs
  boa/src/value/operations.rs
Labels: bug, execution

#785 Fix zero argument panic in JSON.parse()
  boa/src/builtins/json/mod.rs
  boa/src/builtins/json/tests.rs
Labels: bug, builtins

#717 Strict Mode Lex/Parse
  boa/src/exec/tests.rs
  boa/src/syntax/lexer/cursor.rs
  boa/src/syntax/lexer/identifier.rs
  boa/src/syntax/lexer/mod.rs
  boa/src/syntax/lexer/number.rs
  boa/src/syntax/parser/cursor/buffered_lexer/mod.rs
  boa/src/syntax/parser/cursor/mod.rs
  boa/src/syntax/parser/expression/mod.rs
  boa/src/syntax/parser/expression/unary.rs
  boa/src/syntax/parser/function/mod.rs
  boa/src/syntax/parser/mod.rs
  boa/src/syntax/parser/statement/block/mod.rs
  boa/src/syntax/parser/statement/mod.rs
  boa/src/syntax/parser/statement/switch/mod.rs
Labels: enhancement, lexer, parser

#749 Fix Error constructors to return rather than throw
  boa/src/builtins/error/mod.rs
  boa/src/builtins/error/range.rs
  boa/src/builtins/error/reference.rs
  boa/src/builtins/error/syntax.rs
  boa/src/builtins/error/tests.rs
  boa/src/builtins/error/type.rs
  boa/src/builtins/object/tests.rs
  boa/src/context.rs
Labels: bug, builtins, execution

#777 Fix cyclic JSON.stringify / primitive conversion stack overflows
  boa/src/context.rs
  boa/src/object/gcobject.rs
  boa/src/object/mod.rs
  boa/src/value/mod.rs
  boa/src/value/tests.rs
Labels: bug, builtins, execution

#802 Make `Function.prototype` a function
  boa/src/builtins/function/mod.rs
  boa/src/builtins/function/tests.rs
  boa/src/object/mod.rs
Labels: bug, builtins, enhancement

#746 Add Object.defineProperties and handle props argument in Object.create
  boa/src/builtins/object/mod.rs
  boa/src/builtins/object/tests.rs
  boa/src/object/internal_methods.rs
Labels: builtins, enhancement

#799 Fix lexer span panic with carriage return
  boa/src/syntax/lexer/cursor.rs
  boa/src/syntax/lexer/tests.rs
Labels: bug, lexer

#800 Feature `console` crate feature
  boa/Cargo.toml
  boa/src/builtins/console/mod.rs
  boa/src/builtins/mod.rs
  boa/src/context.rs
  boa/src/lib.rs
  boa/src/value/mod.rs
  boa_cli/Cargo.toml
  boa_wasm/Cargo.toml
Labels: API, builtins, enhancement

#804 Feature `EvalError`
  boa/src/builtins/error/eval.rs
  boa/src/builtins/error/mod.rs
  boa/src/builtins/error/tests.rs
  boa/src/builtins/mod.rs
  boa/src/context.rs
Labels: builtins, enhancement

#805 Feature `Function.prototype.call`
  boa/src/builtins/function/mod.rs
  boa/src/builtins/function/tests.rs
  boa/src/builtins/object/tests.rs
  boa/src/builtins/regexp/mod.rs
Labels: builtins, enhancement

#806 Feature `URIError`
  boa/src/builtins/error/mod.rs
  boa/src/builtins/error/tests.rs
  boa/src/builtins/error/uri.rs
  boa/src/builtins/mod.rs
  boa/src/builtins/object/mod.rs
  boa/src/context.rs
Labels: builtins, enhancement

#812 Fix 2 bugs that stopped test262
  boa/src/builtins/array/mod.rs
Labels: bug, builtins

#794 Refactor `PropertyDescriptor`
  boa/src/builtins/array/array_iterator.rs
  boa/src/builtins/array/mod.rs
  boa/src/builtins/date/tests.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/iterable/mod.rs
  boa/src/builtins/json/mod.rs
  boa/src/builtins/map/mod.rs
  boa/src/builtins/mod.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/string/string_iterator.rs
  boa/src/context.rs
  boa/src/environment/global_environment_record.rs
  boa/src/environment/object_environment_record.rs
  boa/src/object/gcobject.rs
  boa/src/object/internal_methods.rs
  boa/src/object/iter.rs
  boa/src/object/mod.rs
  boa/src/property/attribute/mod.rs
  boa/src/property/attribute/tests.rs
  boa/src/property/mod.rs
  boa/src/value/conversions.rs
  boa/src/value/display.rs
  boa/src/value/mod.rs
  boa/src/value/tests.rs
Labels: API, enhancement, technical debt

#824 [parser Expression] minor expression macro simplification
  boa/src/syntax/parser/expression/mod.rs
Labels: enhancement, parser

#769 Test262 results representation
  .editorconfig
  .prettierignore
  assets/exclamation-triangle.svg
  assets/favicon.png
  assets/info-square.svg
  dev/bench/index.html
  index.html
  test262/index.html
  test262/results.js
Labels: enhancement, test

#830 Fixed JS loading for Test262 results
  test262/index.html
Labels: bug, documentation, test

#831 Fixing relative links to load Test262 results
  test262/results.js
Labels: bug, documentation, test

#832 Fixed some extra links in the Test262 results
  test262/index.html
Labels: bug, documentation, test

#829 Added a link to the Test262 results in the README
  README.md
Labels: documentation, enhancement

#826 Fix tokenizing Unicode escape sequence in string literal
  boa/src/syntax/lexer/cursor.rs
  boa/src/syntax/lexer/tests.rs
Labels: bug, lexer

#825 calling "new" on a primitive value throw a type error
  boa/src/exec/tests.rs
  boa/src/syntax/ast/node/new/mod.rs
Labels: bug, execution

#833 Using unstable sort for sorting keys on `to_json()` for GC objects
  boa/src/object/gcobject.rs
Labels: builtins, optimisation

#834 build(gh-pages): switch bootstrap to cdn loading
  assets/bootstrap.min.css
  index.html
Labels: documentation, enhancement

#811 [exec Array] implement spread operator using iterator
  boa/src/builtins/array/tests.rs
  boa/src/builtins/map/tests.rs
  boa/src/context.rs
  boa/src/syntax/ast/node/array/mod.rs
Labels: bug, builtins, execution

#837 Set default-run to `boa` removing need for `--bin`
  boa_cli/Cargo.toml
Labels: cli

#840 fix(profiler): update profiler to match current measureme api
  boa/src/profiler.rs
Labels: bug

#844 Allow UnaryExpression with prefix increment/decrement
  boa/src/syntax/parser/expression/update.rs
Labels: bug, parser

#838 style(boa): minor cleanup
  boa/src/builtins/array/mod.rs
  boa/src/builtins/number/mod.rs
Labels: technical debt

#798 Implement Object.getOwnPropertyDescriptor() and Object.getOwnPropertyDescriptors()
  boa/src/builtins/object/mod.rs
  boa/src/builtins/object/tests.rs
Labels: builtins, enhancement

#869 Updated cache in workflows
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
  .github/workflows/rust.yml
  .github/workflows/test262.yml
Labels: enhancement, test

#871 Improved MacOS cache handling and updated dependencies
  .github/workflows/rust.yml
  Cargo.lock
Labels: enhancement, test

#870 Fix JSON stringification for fractional numbers
  boa/src/builtins/json/tests.rs
  boa/src/value/mod.rs
Labels: bug, builtins, execution

#873 Removed cache from MacOS builds
  .github/workflows/rust.yml
Labels: bug, test

#875 Fix master CI
  .github/workflows/master.yml
Labels: bug, test

#847 [builtin Map] Map.prototype.entries method and map iterator
  boa/src/builtins/array/mod.rs
  boa/src/builtins/iterable/mod.rs
  boa/src/builtins/map/map_iterator.rs
  boa/src/builtins/map/mod.rs
  boa/src/builtins/map/ordered_map.rs
  boa/src/builtins/map/tests.rs
  boa/src/builtins/mod.rs
  boa/src/object/mod.rs
Labels: builtins, enhancement

#859 Implement spec compliant Array constructor
  boa/src/builtins/array/mod.rs
Labels: Hacktoberfest, bug, builtins

#861 More bytecodes
  boa/src/context.rs
  boa/src/syntax/ast/node/operator/bin_op/mod.rs
  boa/src/syntax/ast/node/operator/unary_op/mod.rs
  boa/src/syntax/ast/node/statement_list/mod.rs
  boa/src/vm/compilation.rs
  boa/src/vm/instructions.rs
  boa/src/vm/mod.rs
  boa_cli/src/main.rs
Labels: enhancement, optimisation

#877 Implement Function.prototype.apply
  boa/src/builtins/function/mod.rs
  boa/src/builtins/function/tests.rs
Labels: builtins, enhancement

#807 Make boa::parse emit error on invalid input, not panic
  boa/src/syntax/ast/op.rs
  boa/src/syntax/lexer/number.rs
Labels: bug, lexer

#880 Support more number literals in BigInt's from string constructor
  boa/src/builtins/bigint/conversions.rs
  boa/src/builtins/bigint/tests.rs
Labels: bug, builtins, execution

#881 Update the master CI workflow
  .github/workflows/master.yml
Labels: bug, test

#835 Move `Object` internal object methods to `GcObject`
  boa/src/builtins/array/array_iterator.rs
  boa/src/builtins/array/mod.rs
  boa/src/builtins/boolean/tests.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/iterable/mod.rs
  boa/src/builtins/json/mod.rs
  boa/src/builtins/json/tests.rs
  boa/src/builtins/map/map_iterator.rs
  boa/src/builtins/map/mod.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/string/string_iterator.rs
  boa/src/class.rs
  boa/src/context.rs
  boa/src/environment/global_environment_record.rs
  boa/src/environment/object_environment_record.rs
  boa/src/object/gcobject.rs
  boa/src/object/internal_methods.rs
  boa/src/object/mod.rs
  boa/src/value/display.rs
  boa/src/value/mod.rs
  boa/src/value/type.rs
Labels: bug, execution, technical debt

#885 Fix `BigInt.prototype.toString()` radix checks
  boa/src/builtins/bigint/mod.rs
  boa/src/builtins/bigint/tests.rs
Labels: bug, builtins, execution

#882 Fix remainder by zero
  boa/src/builtins/bigint/tests.rs
  boa/src/value/operations.rs
  boa/src/value/tests.rs
Labels: bug, execution

#884 Fix some panics related to BigInt operations
  boa/src/builtins/bigint/mod.rs
  boa/src/builtins/bigint/operations.rs
  boa/src/builtins/bigint/tests.rs
  boa/src/value/operations.rs
Labels: bug, execution

#888 Fix some panics in String.prototype properties
  boa/src/builtins/string/mod.rs
  boa/src/builtins/string/tests.rs
Labels: bug, builtins

#895 New result format
  test262/refs/heads/master/results.json
  test262/refs/tags/v0.10.0/latest.json
  test262/refs/tags/v0.10.0/results.json
  test262/results.js
Labels: enhancement, test

#896 Fix small issue with the CI
  .github/workflows/pull_request.yml
  .github/workflows/test262.yml
Labels: bug, test

#898 Fixing historical results being removed from Test262 results
  boa_tester/src/results.rs
Labels: bug, test

#899 Another fix for the historical results generation
  boa_tester/src/results.rs
Labels: bug, test

#900 Recovered old master Test262 results
  test262/refs/heads/master/results.json
  test262/results.json
Labels: bug, test

#902 Fix Accessors panics
  boa/src/object/internal_methods.rs
  boa/src/value/mod.rs
Labels: execution

#905 Upgraded regress to 0.2.0
  Cargo.lock
  boa/Cargo.toml
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/string/mod.rs
Labels: builtins, dependencies, enhancement

#906 Removed a bunch of Test262 panics
  boa/src/syntax/ast/node/object/mod.rs
  boa/src/syntax/ast/node/operator/bin_op/mod.rs
  boa_tester/src/exec.rs
  boa_tester/src/read.rs
  test_ignore.txt
Labels: enhancement, test

#911 Change Symbol hash to `u64`
  boa/src/builtins/symbol/mod.rs
  boa/src/context.rs
Labels: builtins, enhancement, execution

#912 Feature `Context::register_global_property()`
  boa/src/context.rs
Labels: API, enhancement

#914 Fixing PR builds
  .github/workflows/test262.yml
Labels: bug, test

#908 Implementation of `instanceof` operator
  boa/src/builtins/symbol/mod.rs
  boa/src/object/gcobject.rs
  boa/src/object/mod.rs
  boa/src/object/tests.rs
  boa/src/syntax/ast/node/operator/bin_op/mod.rs
  boa/src/syntax/ast/node/operator/tests.rs
Labels: enhancement, execution
