Repository boa-dev/boa, pull requests merged in 2020-04, with the labels that each got.

#295 Fixed positions in regexes and strict operators
  boa/src/lib.rs
  boa/src/syntax/lexer/mod.rs
  boa/src/syntax/lexer/tests.rs
  boa/src/syntax/parser/mod.rs
Labels: bug

#298 Use jemallocator
  Cargo.lock
  boa/Cargo.toml
  boa/benches/exec.rs
  boa/benches/fib.rs
  boa/benches/parser.rs
  boa/benches/string.rs
  boa_cli/Cargo.toml
  boa_cli/src/main.rs
Labels: optimisation

#313 adding test for #273
  boa/src/syntax/parser/tests.rs
Labels: Parser

#306 Implement do..while loop
  boa/src/exec/mod.rs
  boa/src/exec/tests.rs
  boa/src/syntax/ast/node.rs
  boa/src/syntax/parser/mod.rs
  boa/src/syntax/parser/tests.rs
Labels: enhancement

#311 Fixed assign operator precedence
  boa/src/exec/tests.rs
  boa/src/syntax/parser/mod.rs
  boa/src/syntax/parser/tests.rs
Labels: Parser, bug

#290 Added more build profiles
  Cargo.toml
Labels: optimisation

#323 Added more benchmarks
  Cargo.lock
  boa/Cargo.toml
  boa/benches/exec.rs
  boa/benches/fib.rs
  boa/benches/lexer.rs
  boa/benches/parser.rs
  boa/benches/string.rs
  boa_cli/Cargo.toml
Labels: enhancement

#318 Added continuous integration for windows
  .github/workflows/rust.yml
Labels: enhancement, help wanted

#324 Renamed old benchmarks
  dev/bench/data.js
Labels: benchmark

#327 Changed the name of the `Symbol creation` benchmark, as noted in #324
  Cargo.lock
  boa/Cargo.toml
  boa/benches/exec.rs
Labels: benchmark

#326 change boa cli binary name to just "boa"
  boa_cli/Cargo.toml
  boa_cli/src/main.rs
Labels: cli

#312 Added jemallocator only for Linux targets
  Cargo.lock
  boa/Cargo.toml
  boa/benches/exec.rs
  boa/benches/lexer.rs
  boa/benches/parser.rs
  boa_cli/Cargo.toml
  boa_cli/src/main.rs
Labels: bug, linux, optimisation

#339 Method parsing
  boa/src/syntax/parser/mod.rs
  boa/src/syntax/parser/tests.rs
Labels: enhancement, parser

#330 Improved CI workflows
  .github/workflows/benchmark.yml
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
  .github/workflows/rust.yml
Labels: benchmark, documentation, optimisation

#343 Added logo and favicon to boa documentation
  boa/src/lib.rs
Labels: documentation, enhancement

#315 console functions
  .vscode/launch.json
  .vscode/tasks.json
  boa/src/builtins/console.rs
  boa/src/builtins/console/mod.rs
  boa/src/builtins/console/tests.rs
  boa/src/builtins/value/mod.rs
Labels: enhancement

#342 Fixing master build
  .github/workflows/master.yml
Labels: bug, documentation

#325 Put JSON functions on the object, not the prototype
  boa/src/builtins/json.rs
  boa/src/builtins/value/mod.rs
Labels: bug, duplicate

#293 Better documentation
  README.md
  boa/src/builtins/array/mod.rs
  boa/src/builtins/boolean/mod.rs
  boa/src/builtins/console/mod.rs
  boa/src/builtins/error.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/json/mod.rs
  boa/src/builtins/json/tests.rs
  boa/src/builtins/math/mod.rs
  boa/src/builtins/mod.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/object/internal_methods_trait.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/property.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/string/mod.rs
  boa/src/builtins/symbol/mod.rs
  boa/src/builtins/value/mod.rs
  boa/src/environment/mod.rs
  boa/src/exec/mod.rs
  boa/src/lib.rs
  boa/src/syntax/ast/constant.rs
  boa/src/syntax/ast/keyword.rs
  boa/src/syntax/ast/mod.rs
  boa/src/syntax/ast/node.rs
  boa/src/syntax/ast/op.rs
  boa/src/syntax/ast/pos.rs
  boa/src/syntax/ast/punc.rs
  boa/src/syntax/ast/token.rs
  boa/src/syntax/lexer/mod.rs
  boa/src/syntax/mod.rs
Labels: documentation, enhancement

#352 create boa-wasm package
  Cargo.lock
  Cargo.toml
  boa/Cargo.toml
  boa/src/lib.rs
  boa_cli/Cargo.toml
  boa_wasm/Cargo.toml
  boa_wasm/src/lib.rs
  index.js
  webpack.config.js
Labels: webassembly

#354 Fixed doc link in README
  README.md
Labels: bug, documentation

#353 Removed the `serde-ast` feature and the `serde_json` export
  Cargo.lock
  boa/Cargo.toml
  boa/src/lib.rs
  boa/src/syntax/ast/constant.rs
  boa/src/syntax/ast/keyword.rs
  boa/src/syntax/ast/node.rs
  boa/src/syntax/ast/op.rs
  boa/src/syntax/ast/pos.rs
  boa/src/syntax/ast/punc.rs
  boa/src/syntax/ast/token.rs
  boa_cli/Cargo.toml
  boa_cli/src/main.rs
  boa_wasm/Cargo.toml
Labels: dependencies

#338 Fix #331 "We only get `Const::Num`, never `Const::Int`"
  boa/src/builtins/array/mod.rs
  boa/src/builtins/boolean/mod.rs
  boa/src/builtins/console/tests.rs
  boa/src/builtins/function/tests.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/value/mod.rs
  boa/src/exec/mod.rs
  boa/src/syntax/ast/token.rs
  boa/src/syntax/lexer/mod.rs
  boa/src/syntax/lexer/tests.rs
  boa/src/syntax/parser/expression/primary/array_initializer/tests.rs
  boa/src/syntax/parser/expression/primary/mod.rs
  boa/src/syntax/parser/expression/tests.rs
  boa/src/syntax/parser/statement/declaration/tests.rs
  boa/src/syntax/parser/statement/iteration/tests.rs
  boa/src/syntax/parser/tests.rs
Labels: bug, lexer

#328 fix #209 "Calling Array with one argument"
  boa/src/builtins/array/mod.rs
  boa/src/builtins/array/tests.rs
Labels: bug
