Repository boa-dev/boa, pull requests merged in 2021-07, with the labels that each got.

#1369 feat(boa): adds normalize method
  Cargo.lock
  boa/Cargo.toml
  boa/src/builtins/string/mod.rs
Labels: builtins, enhancement

#1361 Redesign bytecode virtual machine
  boa/src/bytecompiler.rs
  boa/src/context.rs
  boa/src/exec/mod.rs
  boa/src/lib.rs
  boa/src/object/internal_methods.rs
  boa/src/syntax/ast/node/block/mod.rs
  boa/src/syntax/ast/node/identifier/mod.rs
  boa/src/syntax/ast/node/iteration/do_while_loop/mod.rs
  boa/src/syntax/ast/node/iteration/for_in_loop/mod.rs
  boa/src/syntax/ast/node/iteration/for_loop/mod.rs
  boa/src/syntax/ast/node/iteration/for_of_loop/mod.rs
  boa/src/syntax/ast/node/iteration/while_loop/mod.rs
  boa/src/syntax/ast/node/mod.rs
  boa/src/syntax/ast/node/object/mod.rs
  boa/src/syntax/ast/node/operator/bin_op/mod.rs
  boa/src/syntax/ast/node/operator/unary_op/mod.rs
  boa/src/syntax/ast/node/statement_list/mod.rs
  boa/src/syntax/ast/node/switch/mod.rs
  boa/src/value/mod.rs
  boa/src/vm/code_block.rs
  boa/src/vm/compilation.rs
  boa/src/vm/instructions.rs
  boa/src/vm/mod.rs
  boa/src/vm/opcode.rs
  docs/vm.md
Labels: enhancement, vm

#1350 Refactor / Implement RegExp functions
  boa/src/builtins/array/mod.rs
  boa/src/builtins/iterable/mod.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/regexp/regexp_string_iterator.rs
  boa/src/builtins/string/mod.rs
  boa/src/builtins/string/tests.rs
  boa/src/object/gcobject.rs
  boa/src/object/mod.rs
Labels: bug, builtins, enhancement, execution

#1388 Add dark mode to benchmarks page
  dev/bench/index.html
Labels: documentation

#1382 Refactor JavaScript symbol rust type
  boa/src/builtins/symbol/mod.rs
  boa/src/context.rs
  boa/src/lib.rs
  boa/src/object/iter.rs
  boa/src/object/mod.rs
  boa/src/property/mod.rs
  boa/src/symbol.rs
  boa/src/symbol/rcsymbol.rs
  boa/src/value/conversions.rs
  boa/src/value/mod.rs
Labels: execution, technical debt

#1380 Custom JavaScript string rust type
  boa/src/builtins/console/mod.rs
  boa/src/builtins/json/mod.rs
  boa/src/builtins/object/for_in_iterator.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/regexp/regexp_string_iterator.rs
  boa/src/builtins/string/mod.rs
  boa/src/bytecompiler.rs
  boa/src/lib.rs
  boa/src/object/iter.rs
  boa/src/object/mod.rs
  boa/src/property/mod.rs
  boa/src/string.rs
  boa/src/symbol.rs
  boa/src/value/conversions.rs
  boa/src/value/mod.rs
  boa/src/value/operations.rs
  boa/src/value/rcstring.rs
  boa/src/vm/code_block.rs
Labels: enhancement, execution, optimisation, technical debt

#1407 Implement switch statement for vm
  boa/src/bytecompiler.rs
  boa/src/vm/code_block.rs
  boa/src/vm/mod.rs
  boa/src/vm/opcode.rs
Labels: enhancement, vm

#1366 Use lock for map iteration
  boa/src/builtins/map/map_iterator.rs
  boa/src/builtins/map/mod.rs
  boa/src/builtins/map/ordered_map.rs
  boa/src/builtins/map/tests.rs
  boa/src/object/mod.rs
Labels: builtins

#1408 Refactor JavaScript bigint rust type
  boa/Cargo.toml
  boa/src/bigint.rs
  boa/src/builtins/bigint/conversions.rs
  boa/src/builtins/bigint/equality.rs
  boa/src/builtins/bigint/mod.rs
  boa/src/builtins/bigint/operations.rs
  boa/src/bytecompiler.rs
  boa/src/lib.rs
  boa/src/object/mod.rs
  boa/src/string.rs
  boa/src/syntax/ast/constant.rs
  boa/src/syntax/lexer/number.rs
  boa/src/syntax/lexer/token.rs
  boa/src/value/conversions.rs
  boa/src/value/equality.rs
  boa/src/value/mod.rs
  boa/src/value/operations.rs
  boa/src/value/rcbigint.rs
Labels: API, bug, technical debt

#1357 Add Example to Execute a Function of a Script File
  boa/src/context.rs
Labels: documentation, execution

#1422 Refactor internal methods and make some builtins spec compliant
  boa/src/builtins/array/array_iterator.rs
  boa/src/builtins/array/mod.rs
  boa/src/builtins/array/tests.rs
  boa/src/builtins/boolean/mod.rs
  boa/src/builtins/console/mod.rs
  boa/src/builtins/date/mod.rs
  boa/src/builtins/error/eval.rs
  boa/src/builtins/error/mod.rs
  boa/src/builtins/error/range.rs
  boa/src/builtins/error/reference.rs
  boa/src/builtins/error/syntax.rs
  boa/src/builtins/error/type.rs
  boa/src/builtins/error/uri.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/json/mod.rs
  boa/src/builtins/map/map_iterator.rs
  boa/src/builtins/map/mod.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/object/for_in_iterator.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/reflect/mod.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/regexp/regexp_string_iterator.rs
  boa/src/builtins/set/mod.rs
  boa/src/builtins/set/set_iterator.rs
  boa/src/builtins/string/mod.rs
  boa/src/builtins/string/string_iterator.rs
  boa/src/context.rs
  boa/src/object/gcobject.rs
  boa/src/object/internal_methods.rs
  boa/src/property/mod.rs
  boa/src/syntax/ast/node/operator/unary_op/mod.rs
  boa/src/value/conversions.rs
  boa/src/value/display.rs
  boa/src/value/mod.rs
  boa/src/value/tests.rs
  boa/src/vm/mod.rs
Labels: bug, builtins, execution, technical debt

#1351 fix(boa): 15.4.4.19-8-c-ii-1.js
  boa/src/builtins/array/mod.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/string/mod.rs
  test_ignore.txt
Labels: builtins

#1375 feat(boa): implements `at` method for string
  boa/src/builtins/string/mod.rs
Labels: builtins, enhancement

#1424 Implement `Symbol.for` and `Symbol.keyFor`
  boa/src/builtins/symbol/mod.rs
Labels: builtins, enhancement

#1374 fix(boa): match and regexp construct fixes
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/string/mod.rs
Labels: bug, builtins

#1390 Implement RegExp named capture groups
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/string/mod.rs
Labels: builtins, enhancement

#1384 fix(boa): bitwise not operation
  boa/src/bigint.rs
  boa/src/builtins/number/mod.rs
  boa/src/syntax/ast/node/operator/unary_op/mod.rs
Labels: bug, execution

#1442 Implement closure functions
  boa/examples/closures.rs
  boa/src/builtins/array/mod.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/map/mod.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/set/mod.rs
  boa/src/builtins/symbol/mod.rs
  boa/src/context.rs
  boa/src/object/gcobject.rs
  boa/src/object/internal_methods.rs
  boa/src/object/mod.rs
  boa/src/syntax/ast/node/declaration/arrow_function_decl/mod.rs
  boa/src/syntax/ast/node/declaration/function_decl/mod.rs
  boa/src/syntax/ast/node/declaration/function_expr/mod.rs
  boa/src/value/operations.rs
  boa/src/vm/mod.rs
  boa_tester/src/exec/mod.rs
Labels: builtins, enhancement, execution

#1353 Make `Array.prototype.concat` spec compliant
  boa/src/builtins/array/mod.rs
  test_ignore.txt
Labels: bug, builtins
