Repository boa-dev/boa, pull requests merged in 2021-09, with the labels that each got.

#1547 Replace `FxHashMap` with `IndexMap` in object properties
  boa/src/builtins/json/mod.rs
  boa/src/object/property_map.rs
  boa/src/object/tests.rs
Labels: bug, execution

#1365 feat(boa): adds splice method
  boa/src/builtins/array/mod.rs
Labels: builtins

#1492 Implement new `get_or_undefined` method for `[JsValue]`
  boa/src/builtins/array/mod.rs
  boa/src/builtins/bigint/mod.rs
  boa/src/builtins/console/mod.rs
  boa/src/builtins/date/mod.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/json/mod.rs
  boa/src/builtins/map/mod.rs
  boa/src/builtins/mod.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/reflect/mod.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/set/mod.rs
  boa/src/builtins/string/mod.rs
  boa/src/builtins/symbol/mod.rs
  boa/src/class.rs
Labels: enhancement, API

#1309 Implement Display for function objects
  boa/src/builtins/function/mod.rs
Labels: enhancement, cli, builtins

#1561 Implement abstract operation `GetPrototypeFromConstructor`
  boa/src/builtins/array/mod.rs
  boa/src/builtins/boolean/mod.rs
  boa/src/builtins/date/mod.rs
  boa/src/builtins/error/eval.rs
  boa/src/builtins/error/mod.rs
  boa/src/builtins/error/range.rs
  boa/src/builtins/error/reference.rs
  boa/src/builtins/error/syntax.rs
  boa/src/builtins/error/type.rs
  boa/src/builtins/error/uri.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/map/mod.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/set/mod.rs
  boa/src/builtins/string/mod.rs
  boa/src/object/internal_methods/mod.rs
Labels: enhancement, builtins

#1550 Add strict mode flag to `Context`
  boa/src/context.rs
  boa/src/syntax/ast/node/declaration/arrow_function_decl/mod.rs
  boa/src/syntax/ast/node/declaration/function_decl/mod.rs
  boa/src/syntax/ast/node/declaration/function_expr/mod.rs
  boa/src/syntax/ast/node/operator/unary_op/mod.rs
  boa/src/syntax/ast/node/statement_list/mod.rs
  boa/src/syntax/ast/node/statement_list/tests.rs
  boa/src/syntax/parser/function/mod.rs
  boa/src/syntax/parser/mod.rs
  boa_tester/src/exec/mod.rs
Labels: enhancement, execution

#1464 Optimize integer negation
  boa/src/value/operations.rs
Labels: optimisation, execution

#1445 improve map conformance without losing perf
  boa/src/builtins/map/mod.rs
  boa/src/builtins/map/ordered_map.rs
Labels: enhancement, builtins

#1526 Implement `ComputedPropertyName` for accessor properties in `ObjectLiteral`
  boa/src/syntax/ast/node/mod.rs
  boa/src/syntax/ast/node/object/mod.rs
  boa/src/syntax/parser/expression/primary/object_initializer/mod.rs
Labels: enhancement, parser, builtins, execution

#1569 Refactor `EnvironmentRecordTrait` functions
  boa/src/builtins/function/mod.rs
  boa/src/environment/declarative_environment_record.rs
  boa/src/environment/environment_record_trait.rs
  boa/src/environment/function_environment_record.rs
  boa/src/environment/global_environment_record.rs
  boa/src/environment/lexical_environment.rs
  boa/src/environment/object_environment_record.rs
  boa/src/object/gcobject.rs
  boa/src/syntax/ast/node/declaration/function_decl/mod.rs
  boa/src/syntax/ast/node/declaration/mod.rs
  boa/src/syntax/ast/node/iteration/for_in_loop/mod.rs
  boa/src/syntax/ast/node/iteration/for_of_loop/mod.rs
  boa/src/syntax/ast/node/operator/assign/mod.rs
  boa/src/syntax/ast/node/operator/bin_op/mod.rs
  boa/src/syntax/ast/node/try_node/mod.rs
  boa/src/value/mod.rs
  boa/src/vm/mod.rs
Labels: execution

#1535 Refactor `JSON.parse`
  boa/src/builtins/json/mod.rs
  boa/src/object/gcobject.rs
  boa/src/value/mod.rs
Labels: bug, builtins

#1523 Allow moving `NativeObject` variables into closures as external captures
  boa/examples/closures.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/function/tests.rs
  boa/src/context.rs
  boa/src/object/gcobject.rs
  boa/src/object/mod.rs
Labels: enhancement, API

#1590 changelog v0.13
  CHANGELOG.md
  Cargo.lock
  boa/Cargo.toml
  boa_cli/Cargo.toml
  boa_tester/Cargo.toml
  boa_unicode/Cargo.toml
  boa_wasm/Cargo.toml
Labels: help wanted
