Repository boa-dev/boa, pull requests merged in 2021-10, with the labels that each got.

#1433 Implement functions for vm
  boa/examples/closures.rs
  boa/src/builtins/array/array_iterator.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/function/tests.rs
  boa/src/builtins/map/map_iterator.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/object/for_in_iterator.rs
  boa/src/builtins/regexp/regexp_string_iterator.rs
  boa/src/builtins/set/set_iterator.rs
  boa/src/builtins/string/string_iterator.rs
  boa/src/bytecompiler.rs
  boa/src/class.rs
  boa/src/context.rs
  boa/src/object/function.rs
  boa/src/object/gcobject.rs
  boa/src/object/mod.rs
  boa/src/object/operations.rs
  boa/src/syntax/ast/node/declaration/arrow_function_decl/mod.rs
  boa/src/syntax/ast/node/declaration/function_decl/mod.rs
  boa/src/syntax/ast/node/declaration/function_expr/mod.rs
  boa/src/vm/code_block.rs
  boa/src/vm/mod.rs
  boa/src/vm/opcode.rs
Labels: enhancement, vm

#1606 Implement Object.getOwnPropertyNames and Object.getOwnPropertySymbols
  boa/src/builtins/object/mod.rs
  boa/src/builtins/object/tests.rs
Labels: enhancement, builtins

#1586 Rewrite initialization of builtins to use the `BuiltIn` trait
  boa/src/builtins/array/mod.rs
  boa/src/builtins/bigint/mod.rs
  boa/src/builtins/boolean/mod.rs
  boa/src/builtins/console/mod.rs
  boa/src/builtins/date/mod.rs
  boa/src/builtins/error/eval.rs
  boa/src/builtins/error/mod.rs
  boa/src/builtins/error/range.rs
  boa/src/builtins/error/reference.rs
  boa/src/builtins/error/syntax.rs
  boa/src/builtins/error/type.rs
  boa/src/builtins/error/uri.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/global_this/mod.rs
  boa/src/builtins/infinity/mod.rs
  boa/src/builtins/json/mod.rs
  boa/src/builtins/map/mod.rs
  boa/src/builtins/math/mod.rs
  boa/src/builtins/mod.rs
  boa/src/builtins/nan/mod.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/reflect/mod.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/set/mod.rs
  boa/src/builtins/string/mod.rs
  boa/src/builtins/symbol/mod.rs
  boa/src/builtins/undefined/mod.rs
  boa/src/property/attribute/mod.rs
Labels: builtins, API

#1614 Fix integer parsing
  boa/src/syntax/lexer/number.rs
Labels: bug, lexer

#1618 Implement `Symbol.prototype.valueOf`
  boa/src/builtins/symbol/mod.rs
Labels: bug, builtins

#1613 Implement Array.prototype.at()
  boa/src/builtins/array/mod.rs
Labels: enhancement, Hacktoberfest, builtins

#1552 Implement Typed Arrays
  boa/Cargo.toml
  boa/src/builtins/array/array_iterator.rs
  boa/src/builtins/array/mod.rs
  boa/src/builtins/array/tests.rs
  boa/src/builtins/array_buffer/mod.rs
  boa/src/builtins/bigint/mod.rs
  boa/src/builtins/bigint/tests.rs
  boa/src/builtins/date/mod.rs
  boa/src/builtins/iterable/mod.rs
  boa/src/builtins/map/map_iterator.rs
  boa/src/builtins/map/mod.rs
  boa/src/builtins/mod.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/set/mod.rs
  boa/src/builtins/string/mod.rs
  boa/src/builtins/symbol/mod.rs
  boa/src/builtins/typed_array/integer_indexed_object.rs
  boa/src/builtins/typed_array/mod.rs
  boa/src/context.rs
  boa/src/exec/tests.rs
  boa/src/object/internal_methods/integer_indexed.rs
  boa/src/object/internal_methods/mod.rs
  boa/src/object/jsobject.rs
  boa/src/object/mod.rs
  boa/src/object/operations.rs
  boa/src/string.rs
  boa/src/symbol.rs
  boa/src/syntax/ast/node/array/mod.rs
  boa/src/syntax/ast/node/call/mod.rs
  boa/src/syntax/ast/node/declaration/mod.rs
  boa/src/syntax/ast/node/iteration/for_of_loop/mod.rs
  boa/src/syntax/ast/node/new/mod.rs
  boa/src/syntax/ast/node/operator/bin_op/mod.rs
  boa/src/syntax/ast/node/operator/unary_op/mod.rs
  boa/src/value/mod.rs
  boa/src/vm/mod.rs
  boa_tester/src/exec/js262.rs
  boa_tester/src/results.rs
  test_ignore.txt
Labels: enhancement, help wanted, builtins

#1634 Implement `Symbol.prototype[ @@toPrimitive ]`
  boa/src/builtins/symbol/mod.rs
  boa/src/object/mod.rs
Labels: enhancement, Hacktoberfest, builtins

#1640 Change type of prototypes of objects to `Option<JsObject>`
  boa/src/builtins/array_buffer/mod.rs
  boa/src/builtins/boolean/tests.rs
  boa/src/builtins/console/mod.rs
  boa/src/builtins/error/eval.rs
  boa/src/builtins/error/range.rs
  boa/src/builtins/error/reference.rs
  boa/src/builtins/error/syntax.rs
  boa/src/builtins/error/type.rs
  boa/src/builtins/error/uri.rs
  boa/src/builtins/json/tests.rs
  boa/src/builtins/object/for_in_iterator.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/reflect/mod.rs
  boa/src/builtins/typed_array/integer_indexed_object.rs
  boa/src/builtins/typed_array/mod.rs
  boa/src/environment/function_environment_record.rs
  boa/src/exec/tests.rs
  boa/src/object/internal_methods/mod.rs
  boa/src/object/jsobject.rs
  boa/src/object/mod.rs
  boa/src/value/display.rs
  boa/src/value/mod.rs
Labels: optimisation, technical debt
