Repository boa-dev/boa, pull requests merged in 2021-01, with the labels that each got.

#1005 Fix `Object.defineProperty()`
  boa/src/builtins/object/mod.rs
  boa/src/object/gcobject.rs
Labels: bug, builtins

#985 Fix test suite name when it contains a dot
  boa_tester/src/read.rs
Labels: bug, test

#1018 Implement logical assignment operators (&&= and ||=)
  boa/src/syntax/ast/node/operator/bin_op/mod.rs
  boa/src/syntax/ast/node/operator/tests.rs
  boa/src/syntax/ast/op.rs
  boa/src/syntax/ast/punctuator.rs
  boa/src/syntax/lexer/operator.rs
  boa/src/syntax/lexer/tests.rs
Labels: enhancement

#1019 Implement early errors for non-assignable nodes in assignment
  boa/src/syntax/parser/expression/assignment/mod.rs
Labels: enhancement

#1020 Implement support of Symbol.toPrimitive
  boa/src/value/mod.rs
  boa/src/value/tests.rs
Labels: builtins, enhancement

#1021 Fix spread in new and call expressions
  boa/src/syntax/ast/node/call/mod.rs
  boa/src/syntax/ast/node/new/mod.rs
  boa/src/syntax/ast/node/spread/mod.rs
  boa/src/syntax/ast/node/spread/tests.rs
Labels: bug, execution

#1023 Fix attributes on properties of functions and constructors
  boa/src/builtins/function/mod.rs
  boa/src/object/mod.rs
Labels: builtins

#1017 Don't panic when function parameters share names
  boa/src/builtins/function/mod.rs
  boa/src/environment/declarative_environment_record.rs
  boa/src/environment/environment_record_trait.rs
  boa/src/environment/function_environment_record.rs
  boa/src/environment/global_environment_record.rs
  boa/src/environment/lexical_environment.rs
  boa/src/environment/object_environment_record.rs
  boa/src/gc.rs
  boa/src/object/gcobject.rs
Labels: bug, test

#1024 Fix delete when the property is not configurable
  boa/src/syntax/ast/node/operator/unary_op/mod.rs
Labels: bug, execution

#1027 wrap the regress error for now
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/regexp/tests.rs
Labels: bug, builtins

#1031 Fixed some extra regex panics
  boa/src/builtins/regexp/mod.rs
  boa/src/object/internal_methods.rs
Labels: bug, builtins

#1029 Fixed some panics
  boa/src/builtins/object/mod.rs
  boa/src/object/gcobject.rs
  boa/src/object/mod.rs
  boa/src/value/display.rs
Labels: bug, builtins

#1026 Implement String.prototype.split
  boa/src/builtins/string/mod.rs
  boa/src/builtins/string/tests.rs
Labels: builtins, enhancement

#1042 Add receiver parameter to object internal methods
  boa/src/builtins/array/mod.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/json/mod.rs
  boa/src/builtins/object/mod.rs
  boa/src/context.rs
  boa/src/object/gcobject.rs
  boa/src/object/internal_methods.rs
  boa/src/object/mod.rs
  boa/src/syntax/ast/node/object/mod.rs
  boa/src/value/display.rs
  boa/src/value/mod.rs
  test_ignore.txt
Labels: builtins

#1030 VM: Implement variable declaration (var, const, and let)
  boa/src/vm/compilation.rs
  boa/src/vm/instructions.rs
  boa/src/vm/mod.rs
Labels: vm

#1010 Modify environment binding behaviour of function
  boa/src/syntax/ast/node/declaration/function_decl/mod.rs
  boa/src/syntax/ast/node/declaration/mod.rs
  boa/src/syntax/ast/node/declaration/tests.rs
Labels: bug, execution

#1047 Added syntax highlighting for numbers, identifiers and template literals
  boa_cli/src/helper.rs
Labels: cli, enhancement

#1049 Support overriding the `arguments` variable
  boa/src/object/gcobject.rs
Labels: execution

#1050 More panic fixes
  boa/src/builtins/map/mod.rs
  boa/src/builtins/string/mod.rs
Labels: bug, builtins, test

#1051 Arrow parse
  boa/src/syntax/parser/cursor/buffered_lexer/mod.rs
  boa/src/syntax/parser/cursor/buffered_lexer/tests.rs
  boa/src/syntax/parser/expression/assignment/arrow_function.rs
  boa/src/syntax/parser/expression/assignment/mod.rs
  boa/src/syntax/parser/function/tests.rs
Labels: bug, lexer, parser

#1003 Improve Unicode support for identifier names
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  boa/Cargo.toml
  boa/src/syntax/lexer/identifier.rs
  boa/src/syntax/lexer/mod.rs
  boa/src/syntax/lexer/tests.rs
  boa_unicode/Cargo.toml
  boa_unicode/README.md
  boa_unicode/build_tables.js
  boa_unicode/package.json
  boa_unicode/src/lib.rs
  boa_unicode/src/tables.rs
  boa_unicode/src/tests.rs
Labels: lexer

#1045 Add newTarget to construct
  boa/src/builtins/array/mod.rs
  boa/src/builtins/boolean/mod.rs
  boa/src/builtins/date/mod.rs
  boa/src/builtins/error/eval.rs
  boa/src/builtins/error/mod.rs
  boa/src/builtins/error/range.rs
  boa/src/builtins/error/reference.rs
  boa/src/builtins/error/syntax.rs
  boa/src/builtins/error/type.rs
  boa/src/builtins/error/uri.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/map/mod.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/string/mod.rs
  boa/src/builtins/symbol/mod.rs
  boa/src/environment/lexical_environment.rs
  boa/src/object/gcobject.rs
  boa/src/object/mod.rs
  boa/src/syntax/ast/node/new/mod.rs
Labels: bug, builtins

#997 Implement template literals and tagged templates
  boa/src/syntax/ast/node/mod.rs
  boa/src/syntax/ast/node/template/mod.rs
  boa/src/syntax/ast/node/template/tests.rs
  boa/src/syntax/lexer/cursor.rs
  boa/src/syntax/lexer/mod.rs
  boa/src/syntax/lexer/string.rs
  boa/src/syntax/lexer/template.rs
  boa/src/syntax/lexer/tests.rs
  boa/src/syntax/lexer/token.rs
  boa/src/syntax/parser/cursor/buffered_lexer/mod.rs
  boa/src/syntax/parser/cursor/mod.rs
  boa/src/syntax/parser/expression/left_hand_side/call.rs
  boa/src/syntax/parser/expression/left_hand_side/member.rs
  boa/src/syntax/parser/expression/left_hand_side/mod.rs
  boa/src/syntax/parser/expression/left_hand_side/template.rs
  boa/src/syntax/parser/expression/primary/mod.rs
  boa/src/syntax/parser/expression/primary/template/mod.rs
  boa/src/syntax/parser/function/mod.rs
  boa/src/syntax/parser/mod.rs
  test_ignore.txt
Labels: enhancement, execution, lexer, parser

#1065 Added a graph in the test262 representation
  assets/exclamation-triangle.svg
  assets/info-square.svg
  dev/bench/index.html
  index.html
  test262/index.html
  test262/results.js
Labels: documentation, enhancement

#1071 Fix attribute configurable of the length property of arguments
  boa/src/builtins/function/mod.rs
Labels: bug, builtins

#1073 Fixed spelling
  boa/examples/classes.rs
Labels: documentation

#1074 Fixed display of Test262 results, improved style
  index.html
  test262/refs/tags/v0.10/latest.json
  test262/refs/tags/v0.10/results.json
  test262/results.js
Labels: documentation

#1072 Fix get/set as short method name in object
  boa/src/syntax/parser/expression/primary/object_initializer/mod.rs
  boa/src/syntax/parser/expression/primary/object_initializer/tests.rs
Labels: bug, parser

#1067 Refactor: Change Realm::global_object field from Value to GcObject
  boa/src/builtins/array/array_iterator.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/global_this/mod.rs
  boa/src/builtins/iterable/mod.rs
  boa/src/builtins/map/map_iterator.rs
  boa/src/builtins/map/mod.rs
  boa/src/builtins/mod.rs
  boa/src/builtins/number/mod.rs
  boa/src/builtins/object/for_in_iterator.rs
  boa/src/builtins/string/string_iterator.rs
  boa/src/context.rs
  boa/src/object/internal_methods.rs
  boa/src/realm.rs
  boa/src/syntax/ast/node/call/mod.rs
  boa/src/syntax/ast/node/template/mod.rs
  boa/src/value/mod.rs
Labels: enhancement, execution

#1077 Fix panics from multiple borrows of Map.
  boa/src/builtins/map/mod.rs
Labels: bug, builtins

#1085 Add primitive promotion for method calls on GetField
  boa/src/syntax/ast/node/call/mod.rs
  boa/src/value/mod.rs
Labels: execution

#1079 Fix lexing escapes in string literal and minor refactor
  boa/src/syntax/lexer/string.rs
  boa/src/syntax/lexer/template.rs
  boa/src/syntax/lexer/tests.rs
Labels: bug, lexer

#1075 Fix out-of-range panics of Date
  boa/src/builtins/date/mod.rs
Labels: bug, builtins
