Repository boa-dev/boa, pull requests merged in 2021-03, with the labels that each got.

#1157 Deactivating cargo tarpaulin
  .github/workflows/rust.yml
Labels: bug, test

#1044 Removed duplicated code in vm.run using macros.
  boa/src/vm/mod.rs
Labels: execution, vm

#1172 Update to gc 0.4.0
  Cargo.lock
  boa/Cargo.toml
  boa/src/object/gcobject.rs
Labels: dependencies

#1151 Fully implement EmptyStatement
  boa/src/exec/tests.rs
  boa/src/syntax/ast/node/mod.rs
  boa/src/syntax/parser/statement/mod.rs
  boa/src/syntax/parser/tests.rs
Labels: bug, parser

#1158 Include name in verbose results output of boa-tester
  boa_tester/src/exec.rs
  boa_tester/src/main.rs
Labels: enhancement

#1103 Lazy evaluation for cooked template string
  boa/src/syntax/ast/node/template/mod.rs
  boa/src/syntax/lexer/template.rs
  boa/src/syntax/lexer/tests.rs
  boa/src/syntax/lexer/token.rs
  boa/src/syntax/parser/expression/left_hand_side/template.rs
  boa/src/syntax/parser/expression/primary/mod.rs
  boa/src/syntax/parser/expression/primary/template/mod.rs
  boa/src/syntax/parser/function/mod.rs
  boa/src/syntax/parser/mod.rs
Labels: parser
