Repository boa-dev/boa, pull requests merged in 2021-02, with the labels that each got.

#1084 Fix line terminator in string literal
  boa/src/builtins/json/tests.rs
  boa/src/builtins/string/tests.rs
  boa/src/syntax/lexer/string.rs
  boa/src/syntax/lexer/template.rs
  boa/src/syntax/lexer/tests.rs
Labels: lexer

#1048 VM Trace output fixes #1035
  .vscode/tasks.json
  boa/src/context.rs
  boa/src/vm/compilation.rs
  boa/src/vm/mod.rs
  boa_cli/src/main.rs
  docs/debugging.md
  docs/img/boa_architecture.svg
  docs/vm.md
Labels: vm

#1110 Fix parsing floats panics and bugs
  Cargo.lock
  boa/Cargo.toml
  boa/src/builtins/number/mod.rs
  boa/src/builtins/string/mod.rs
  boa/src/syntax/lexer/number.rs
  boa/src/value/mod.rs
Labels: lexer, parser

#1109 Define all property methods of constructors
  boa/src/class.rs
  boa/src/object/mod.rs
Labels: API, builtins

#1126 Remove unnecessary wraps for non built-in functions
  boa/src/builtins/array/array_iterator.rs
  boa/src/builtins/array/mod.rs
  boa/src/builtins/array/tests.rs
  boa/src/builtins/date/mod.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/map/map_iterator.rs
  boa/src/builtins/map/mod.rs
  boa/src/builtins/object/for_in_iterator.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/string/mod.rs
  boa/src/lib.rs
  boa/src/syntax/ast/node/array/mod.rs
  boa/src/syntax/ast/node/iteration/for_in_loop/mod.rs
  boa/src/syntax/ast/node/template/mod.rs
  boa/src/syntax/parser/expression/assignment/mod.rs
  boa/src/syntax/parser/expression/primary/object_initializer/mod.rs
  boa_tester/src/exec.rs
Labels: builtins
