Repository boa-dev/boa, pull requests merged in 2021-08, with the labels that each got.

#1449 Make `Array.prototype` methods spec compliant
  boa/src/builtins/array/mod.rs
  boa/src/builtins/array/tests.rs
  boa/src/builtins/iterable/mod.rs
  boa/src/property/mod.rs
  boa/src/value/conversions.rs
  boa/src/value/mod.rs
Labels: bug, builtins

#1434 Refactor regexp costructor
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/regexp/regexp_string_iterator.rs
  boa/src/builtins/string/mod.rs
  boa/src/object/gcobject.rs
Labels: bug, builtins

#1432 Proposal of new `PropertyDescriptor` design
  boa/src/builtins/array/array_iterator.rs
  boa/src/builtins/array/mod.rs
  boa/src/builtins/array/tests.rs
  boa/src/builtins/date/tests.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/json/mod.rs
  boa/src/builtins/map/map_iterator.rs
  boa/src/builtins/map/mod.rs
  boa/src/builtins/mod.rs
  boa/src/builtins/object/for_in_iterator.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/reflect/mod.rs
  boa/src/builtins/regexp/regexp_string_iterator.rs
  boa/src/builtins/regexp/tests.rs
  boa/src/builtins/set/mod.rs
  boa/src/builtins/set/set_iterator.rs
  boa/src/builtins/string/mod.rs
  boa/src/builtins/string/string_iterator.rs
  boa/src/class.rs
  boa/src/context.rs
  boa/src/environment/global_environment_record.rs
  boa/src/environment/object_environment_record.rs
  boa/src/object/gcobject.rs
  boa/src/object/internal_methods.rs
  boa/src/object/mod.rs
  boa/src/property/mod.rs
  boa/src/syntax/ast/node/iteration/for_in_loop/mod.rs
  boa/src/syntax/ast/node/object/mod.rs
  boa/src/value/conversions.rs
  boa/src/value/display.rs
  boa/src/value/mod.rs
  boa/src/value/tests.rs
  boa_tester/src/exec/js262.rs
Labels: bug, execution

#1425 Extract `PropertyMap` struct from `Object`
  boa/src/builtins/json/mod.rs
  boa/src/builtins/object/mod.rs
  boa/src/object/gcobject.rs
  boa/src/object/internal_methods.rs
  boa/src/object/mod.rs
  boa/src/object/property_map.rs
  boa/src/value/display.rs
Labels: technical debt

#1446 Implement new `Value::type_of` method
  boa/src/builtins/object/mod.rs
  boa/src/syntax/ast/node/call/mod.rs
  boa/src/syntax/ast/node/field/get_const_field/mod.rs
  boa/src/syntax/ast/node/field/get_field/mod.rs
  boa/src/syntax/ast/node/operator/bin_op/mod.rs
  boa/src/syntax/ast/node/operator/unary_op/mod.rs
  boa/src/syntax/ast/node/template/mod.rs
  boa/src/value/mod.rs
  boa/src/value/type.rs
  boa/src/vm/code_block.rs
  boa/src/vm/mod.rs
Labels: bug, execution

#1460 Change StringGetOwnProperty to produce the same strings that the lexer produces
  boa/src/builtins/string/tests.rs
  boa/src/object/internal_methods.rs
Labels: bug, execution

#1465 Feature throw `Error` object
  boa/src/context.rs
Labels: enhancement, API

#1463 Return function execution result from constructor if the function returned
  boa/src/builtins/regexp/mod.rs
  boa/src/object/gcobject.rs
Labels: bug, execution

#1451 Feature prelude module
  boa/src/lib.rs
Labels: enhancement, API

#1470 Fix doc interlink on `JsValue::get_type`
  boa/src/value/type.rs
Labels: bug, documentation

#1469 Implement `String.prototype.replaceAll`
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/string/mod.rs
  boa/src/string.rs
Labels: enhancement, builtins

#1477 Properly handle `NaN` in `new Date()`
  boa/src/builtins/date/mod.rs
Labels: bug, builtins

#1485 Implement abstract operation `CreateArrayFromList`
  boa/src/builtins/array/array_iterator.rs
  boa/src/builtins/array/mod.rs
  boa/src/builtins/map/map_iterator.rs
  boa/src/builtins/set/set_iterator.rs
Labels: technical debt

#1406 Implement destructuring assignments
  boa/src/bytecompiler.rs
  boa/src/object/gcobject.rs
  boa/src/property/mod.rs
  boa/src/syntax/ast/node/declaration/mod.rs
  boa/src/syntax/ast/node/declaration/tests.rs
  boa/src/syntax/ast/node/iteration/for_in_loop/mod.rs
  boa/src/syntax/ast/node/iteration/for_of_loop/mod.rs
  boa/src/syntax/ast/node/statement_list/mod.rs
  boa/src/syntax/parser/expression/primary/async_function_expression/tests.rs
  boa/src/syntax/parser/expression/primary/function_expression/tests.rs
  boa/src/syntax/parser/expression/primary/object_initializer/tests.rs
  boa/src/syntax/parser/function/tests.rs
  boa/src/syntax/parser/statement/block/tests.rs
  boa/src/syntax/parser/statement/declaration/lexical.rs
  boa/src/syntax/parser/statement/declaration/tests.rs
  boa/src/syntax/parser/statement/iteration/tests.rs
  boa/src/syntax/parser/statement/mod.rs
  boa/src/syntax/parser/statement/switch/tests.rs
  boa/src/syntax/parser/statement/try_stm/tests.rs
  boa/src/syntax/parser/statement/variable/mod.rs
  boa/src/syntax/parser/tests.rs
Labels: enhancement, execution

#1471 Implement `Object.keys` and `Object.entries`
  boa/src/builtins/object/mod.rs
  boa/src/object/internal_methods.rs
  boa/src/property/mod.rs
Labels: enhancement, builtins

#1458 tests: add check_output test helper
  boa/src/builtins/symbol/tests.rs
  boa/src/exec/tests.rs
  boa/src/lib.rs
  boa/src/syntax/ast/node/iteration/tests.rs
  boa/src/value/tests.rs
Labels: technical debt

#1332 Implement `Array.prototype.sort`
  boa/src/builtins/array/mod.rs
  boa/src/builtins/array/tests.rs
  boa/src/object/mod.rs
Labels: enhancement, builtins

#1488 Date refactor
  boa/src/builtins/date/mod.rs
  boa/src/builtins/date/tests.rs
Labels: bug, builtins

#1502 Adjust `EnumerableOwnPropertyNames` to use all `String` type property keys
  boa/src/object/internal_methods.rs
Labels: bug, execution

#1494 Reuse `PropertyNameKind` for all iterators
  boa/src/builtins/array/array_iterator.rs
  boa/src/builtins/array/mod.rs
  boa/src/builtins/map/map_iterator.rs
  boa/src/builtins/map/mod.rs
  boa/src/builtins/set/mod.rs
  boa/src/builtins/set/set_iterator.rs
  boa/src/property/mod.rs
Labels: enhancement, technical debt, execution

#1505 Allow `NewExpression` without arguments
  boa/src/syntax/ast/node/declaration/arrow_function_decl/mod.rs
  boa/src/syntax/parser/expression/left_hand_side/member.rs
Labels: enhancement, parser, execution

#1500 Updated dependencies
  Cargo.lock
  boa/Cargo.toml
  yarn.lock
Labels: dependencies

#1496 Fix panic on example `classes.rs`
  .github/workflows/rust.yml
  boa/examples/classes.rs
  boa/src/class.rs
Labels: bug, execution

#1508 Implement `Object.values()`
  boa/src/builtins/object/mod.rs
Labels: enhancement, builtins

#1503 Make `BigInt.prototype.toString` spec compliant
  boa/src/builtins/bigint/mod.rs
Labels: bug, builtins

#1489 Rename `GcObject` to `JsObject`
  boa/src/builtins/array/array_iterator.rs
  boa/src/builtins/array/mod.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/iterable/mod.rs
  boa/src/builtins/map/map_iterator.rs
  boa/src/builtins/map/ordered_map.rs
  boa/src/builtins/object/for_in_iterator.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/regexp/regexp_string_iterator.rs
  boa/src/builtins/set/set_iterator.rs
  boa/src/builtins/string/string_iterator.rs
  boa/src/class.rs
  boa/src/context.rs
  boa/src/environment/declarative_environment_record.rs
  boa/src/environment/environment_record_trait.rs
  boa/src/environment/function_environment_record.rs
  boa/src/environment/global_environment_record.rs
  boa/src/environment/lexical_environment.rs
  boa/src/environment/object_environment_record.rs
  boa/src/lib.rs
  boa/src/object/gcobject.rs
  boa/src/object/internal_methods.rs
  boa/src/object/mod.rs
  boa/src/realm.rs
  boa/src/value/conversions.rs
  boa/src/value/equality.rs
  boa/src/value/mod.rs
  boa/src/value/tests.rs
  boa_tester/src/exec/js262.rs
Labels: enhancement, API

#1495 Refactor `JSON.stringify`
  boa/src/builtins/json/mod.rs
  boa/src/builtins/string/mod.rs
  boa/src/object/gcobject.rs
  boa/src/value/mod.rs
Labels: enhancement, builtins

#1513 Fix `Number.MIN_VALUE`
  boa/src/builtins/number/mod.rs
Labels: bug, builtins

#1510 Implement `Object.prototype.valueOf`
  boa/src/builtins/object/mod.rs
Labels: enhancement, builtins

#1512 Show count of tests failed/broken on header
  boa_tester/src/results.rs
Labels: enhancement

#1324 Implement parsing for object shorthand properties
  boa/src/syntax/parser/expression/primary/object_initializer/mod.rs
  boa/src/syntax/parser/expression/primary/object_initializer/tests.rs
Labels: enhancement, parser

#1516 Fixed tests compilation
  boa/src/exec/tests.rs
  boa/src/syntax/parser/expression/primary/object_initializer/tests.rs
Labels: bug, test

#1511 Implement `Object.seal/isSealed/freeze/isFrozen`
  boa/src/builtins/array/mod.rs
  boa/src/builtins/object/mod.rs
  boa/src/builtins/reflect/mod.rs
  boa/src/object/gcobject.rs
  boa/src/object/internal_methods/mod.rs
  boa/src/object/mod.rs
  boa/src/object/operations.rs
Labels: enhancement, builtins

#1514 Implement `ComputedPropertyName` in `ObjectLiteral`
  boa/src/syntax/ast/node/mod.rs
  boa/src/syntax/ast/node/object/mod.rs
  boa/src/syntax/parser/expression/primary/object_initializer/mod.rs
Labels: enhancement, execution

#1520 Fixed Array.of panic with a non-conforming type error
  boa/src/builtins/array/mod.rs
Labels: bug, builtins

#1509 Implement `JsString::concat_array()`
  boa/src/string.rs
Labels: optimisation, API

#1435 Constant `JsString`s
  boa/src/string.rs
Labels: optimisation, execution

#1525 Implement `Object.preventExtensions()` and `Object.isExtensible()`
  boa/src/builtins/object/mod.rs
Labels: enhancement, builtins

#1364 Implement spread for objects
  boa/src/exec/tests.rs
  boa/src/syntax/ast/node/object/mod.rs
  boa/src/syntax/ast/node/object/tests.rs
  boa/src/syntax/parser/expression/primary/object_initializer/tests.rs
  boa/src/syntax/parser/tests.rs
Labels: enhancement

#1528 Always return `undefined` from functions that do not `return`
  boa/src/builtins/json/tests.rs
  boa/src/object/gcobject.rs
Labels: bug, execution
