Repository boa-dev/boa, pull requests merged in 2021-06, with the labels that each got.

#1285 Fix environment record panics
  boa/src/builtins/function/mod.rs
  boa/src/environment/declarative_environment_record.rs
  boa/src/environment/environment_record_trait.rs
  boa/src/environment/function_environment_record.rs
  boa/src/environment/global_environment_record.rs
  boa/src/environment/lexical_environment.rs
  boa/src/environment/object_environment_record.rs
  boa/src/object/gcobject.rs
  boa/src/realm.rs
Labels: bug

#1302 fix VM branch
  .github/workflows/rust.yml
  .vscode/tasks.json
  boa/src/exec/mod.rs
  boa/src/syntax/ast/node/block/mod.rs
  boa/src/syntax/ast/node/identifier/mod.rs
  boa/src/syntax/ast/node/iteration/do_while_loop/mod.rs
  boa/src/syntax/ast/node/iteration/for_in_loop/mod.rs
  boa/src/syntax/ast/node/iteration/for_loop/mod.rs
  boa/src/syntax/ast/node/iteration/for_of_loop/mod.rs
  boa/src/syntax/ast/node/iteration/while_loop/mod.rs
  boa/src/syntax/ast/node/object/mod.rs
  boa/src/syntax/ast/node/statement_list/mod.rs
  boa/src/syntax/ast/node/switch/mod.rs
  boa/src/vm/compilation.rs
  boa/src/vm/instructions.rs
  boa/src/vm/mod.rs
  boa/src/vm/tests.rs
Labels: vm

#1296 Added the $262 object to Test262 test runner
  Cargo.lock
  boa/src/object/internal_methods.rs
  boa_tester/Cargo.toml
  boa_tester/src/exec/js262.rs
  boa_tester/src/exec/mod.rs
Labels: enhancement, test

#1127 Implement Array.of
  boa/src/builtins/array/mod.rs
  boa/src/builtins/array/tests.rs
Labels: builtins

#1275 Added changelog for v0.12
  CHANGELOG.md
  Cargo.lock
  yarn.lock
Labels: documentation

#1314 implement RegExp.prototype [ @@search ] ( string )
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/regexp/tests.rs
  boa/src/builtins/string/mod.rs
  boa/src/builtins/string/tests.rs
Labels: builtins, enhancement

#1326 Implement get RegExp[@@species]
  boa/src/builtins/regexp/mod.rs
  boa/src/builtins/regexp/tests.rs
Labels: builtins, enhancement

#1312 Fix display for nodes
  boa/src/syntax/ast/node/array/mod.rs
  boa/src/syntax/ast/node/array/tests.rs
  boa/src/syntax/ast/node/await_expr/mod.rs
  boa/src/syntax/ast/node/await_expr/tests.rs
  boa/src/syntax/ast/node/block/mod.rs
  boa/src/syntax/ast/node/block/tests.rs
  boa/src/syntax/ast/node/break_node/tests.rs
  boa/src/syntax/ast/node/call/mod.rs
  boa/src/syntax/ast/node/call/tests.rs
  boa/src/syntax/ast/node/conditional/mod.rs
  boa/src/syntax/ast/node/conditional/tests.rs
  boa/src/syntax/ast/node/declaration/arrow_function_decl/mod.rs
  boa/src/syntax/ast/node/declaration/async_function_decl/mod.rs
  boa/src/syntax/ast/node/declaration/async_function_expr/mod.rs
  boa/src/syntax/ast/node/declaration/function_decl/mod.rs
  boa/src/syntax/ast/node/declaration/function_expr/mod.rs
  boa/src/syntax/ast/node/declaration/tests.rs
  boa/src/syntax/ast/node/field/mod.rs
  boa/src/syntax/ast/node/field/tests.rs
  boa/src/syntax/ast/node/iteration/continue_node/mod.rs
  boa/src/syntax/ast/node/iteration/do_while_loop/mod.rs
  boa/src/syntax/ast/node/iteration/for_in_loop/mod.rs
  boa/src/syntax/ast/node/iteration/for_loop/mod.rs
  boa/src/syntax/ast/node/iteration/for_of_loop/mod.rs
  boa/src/syntax/ast/node/iteration/tests.rs
  boa/src/syntax/ast/node/iteration/while_loop/mod.rs
  boa/src/syntax/ast/node/mod.rs
  boa/src/syntax/ast/node/new/mod.rs
  boa/src/syntax/ast/node/new/tests.rs
  boa/src/syntax/ast/node/object/mod.rs
  boa/src/syntax/ast/node/object/tests.rs
  boa/src/syntax/ast/node/operator/tests.rs
  boa/src/syntax/ast/node/return_smt/mod.rs
  boa/src/syntax/ast/node/return_smt/tests.rs
  boa/src/syntax/ast/node/spread/tests.rs
  boa/src/syntax/ast/node/statement_list/mod.rs
  boa/src/syntax/ast/node/switch/mod.rs
  boa/src/syntax/ast/node/switch/tests.rs
  boa/src/syntax/ast/node/template/tests.rs
  boa/src/syntax/ast/node/throw/mod.rs
  boa/src/syntax/ast/node/throw/tests.rs
  boa/src/syntax/ast/node/try_node/tests.rs
Labels: bug, cli, parser

#1329 Allow Value.set_field to throw
  boa/src/builtins/array/mod.rs
  boa/src/builtins/error/eval.rs
  boa/src/builtins/error/mod.rs
  boa/src/builtins/error/range.rs
  boa/src/builtins/error/reference.rs
  boa/src/builtins/error/syntax.rs
  boa/src/builtins/error/type.rs
  boa/src/builtins/error/uri.rs
  boa/src/builtins/json/mod.rs
  boa/src/builtins/reflect/mod.rs
  boa/src/builtins/regexp/mod.rs
  boa/src/context.rs
  boa/src/syntax/ast/node/declaration/function_decl/mod.rs
  boa/src/syntax/ast/node/declaration/function_expr/mod.rs
  boa/src/syntax/ast/node/operator/assign/mod.rs
  boa/src/syntax/ast/node/operator/bin_op/mod.rs
  boa/src/syntax/ast/node/template/mod.rs
  boa/src/value/mod.rs
  boa/src/value/tests.rs
Labels: bug, execution

#1334 Implement Array.prototype.copyWithin
  boa/src/builtins/array/mod.rs
  boa/src/builtins/array/tests.rs
Labels: builtins, enhancement

#1338 fix cargo check errors
  Cargo.lock
  boa/src/builtins/bigint/conversions.rs
  boa/src/builtins/math/mod.rs
  boa_tester/Cargo.toml
  boa_tester/src/exec/mod.rs
Labels: enhancement, technical debt

#1347 fix(boa): fix stringpad abstract operation
  boa/src/builtins/string/mod.rs
  test_ignore.txt
Labels: bug, test

#1349 fix(boa): fixes Array.protoype.includes
  boa/src/builtins/array/mod.rs
  test_ignore.txt
Labels: bug, builtins

#1360 Adjust a comment to be next to the correct module.
  boa/src/lib.rs
Labels: documentation

#1381 Fixed documentation warnings
  boa/src/builtins/array/mod.rs
  boa/src/builtins/map/mod.rs
  boa/src/builtins/regexp/mod.rs
Labels: bug, documentation
