Repository boa-dev/boa, pull requests merged in 2021-05, with the labels that each got.

#1201 Return optional value in to_json functions (fixes #1064)
  boa/src/builtins/json/mod.rs
  boa/src/object/gcobject.rs
  boa/src/value/mod.rs
Labels: execution

#1223 Update cli name in Readme
  README.md
Labels: documentation

#1228 Upgraded dependencies and fixed some clippy warnings/errors
  Cargo.lock
  boa/Cargo.toml
  boa/src/builtins/array/mod.rs
  boa/src/builtins/date/tests.rs
  boa/src/syntax/lexer/mod.rs
  boa_cli/Cargo.toml
  boa_cli/src/main.rs
  boa_tester/Cargo.toml
  boa_unicode/src/tests.rs
Labels: bug, dependencies

#1225 Implement `Math[ @@toStringTag ]`
  boa/src/builtins/math/mod.rs
Labels: builtins, enhancement

#1224 Implement `JSON[ @@toStringTag ]`
  boa/src/builtins/json/mod.rs
Labels: builtins, enhancement

#1222 Implement `Symbol.prototype.description` accessor
  boa/src/builtins/symbol/mod.rs
Labels: builtins, enhancement

#1234 Separate Symbol builtin
  boa/src/builtins/symbol/mod.rs
  boa/src/context.rs
  boa/src/lib.rs
  boa/src/object/iter.rs
  boa/src/object/mod.rs
  boa/src/property/mod.rs
  boa/src/symbol/mod.rs
  boa/src/symbol/rcsymbol.rs
  boa/src/value/mod.rs
Labels: technical debt

#1221 Implement RegExp flag accessors
  boa/src/builtins/regexp/mod.rs
Labels: builtins, enhancement

#1240 Removed a bunch of ignored tests that we no longer need to ignore
  test_ignore.txt
Labels: test

#1239 Improved conformance comment format
  boa_tester/src/results.rs
Labels: test

#1132 Implement Array.prototype.flat/flatMap
  boa/src/builtins/array/mod.rs
  boa/src/builtins/array/tests.rs
Labels: builtins

#1131 Make environment methods take `&mut Context`
  boa/src/builtins/array/mod.rs
  boa/src/builtins/function/mod.rs
  boa/src/builtins/global_this/mod.rs
  boa/src/builtins/map/mod.rs
  boa/src/builtins/mod.rs
  boa/src/context.rs
  boa/src/environment/declarative_environment_record.rs
  boa/src/environment/environment_record_trait.rs
  boa/src/environment/function_environment_record.rs
  boa/src/environment/global_environment_record.rs
  boa/src/environment/lexical_environment.rs
  boa/src/environment/mod.rs
  boa/src/environment/object_environment_record.rs
  boa/src/gc.rs
  boa/src/object/gcobject.rs
  boa/src/realm.rs
  boa/src/syntax/ast/node/block/mod.rs
  boa/src/syntax/ast/node/call/mod.rs
  boa/src/syntax/ast/node/declaration/function_decl/mod.rs
  boa/src/syntax/ast/node/declaration/mod.rs
  boa/src/syntax/ast/node/identifier/mod.rs
  boa/src/syntax/ast/node/iteration/for_in_loop/mod.rs
  boa/src/syntax/ast/node/iteration/for_loop/mod.rs
  boa/src/syntax/ast/node/iteration/for_of_loop/mod.rs
  boa/src/syntax/ast/node/mod.rs
  boa/src/syntax/ast/node/operator/assign/mod.rs
  boa/src/syntax/ast/node/operator/bin_op/mod.rs
  boa/src/syntax/ast/node/template/mod.rs
  boa/src/syntax/ast/node/try_node/mod.rs
Labels: execution, technical debt

#1235 Implement `Object.assign( target, ...sources )`
  boa/src/builtins/object/mod.rs
Labels: builtins, enhancement

#1245 Upgraded prettier and bootstrap, fixed formatting
  boa/benches/bench_scripts/array_pop.js
  boa_unicode/build_tables.js
  package.json
  yarn.lock
Labels: dependencies, javascript

#1249 Implement Map.prototype[ @@toStringTag ]
  boa/src/builtins/map/mod.rs
Labels: builtins, enhancement

#1175 Handle early errors for declarations in StatementList
  boa/src/syntax/ast/node/declaration/mod.rs
  boa/src/syntax/ast/node/statement_list/mod.rs
  boa/src/syntax/parser/expression/assignment/arrow_function.rs
  boa/src/syntax/parser/expression/primary/async_function_expression/mod.rs
  boa/src/syntax/parser/expression/primary/function_expression/mod.rs
  boa/src/syntax/parser/statement/declaration/hoistable/async_function_decl/mod.rs
  boa/src/syntax/parser/statement/declaration/hoistable/function_decl/mod.rs
  boa/src/syntax/parser/statement/mod.rs
Labels: parser

#1111 Implement Set builtin object
  boa/src/builtins/iterable/mod.rs
  boa/src/builtins/map/map_iterator.rs
  boa/src/builtins/map/mod.rs
  boa/src/builtins/map/tests.rs
  boa/src/builtins/mod.rs
  boa/src/builtins/set/mod.rs
  boa/src/builtins/set/ordered_set.rs
  boa/src/builtins/set/set_iterator.rs
  boa/src/builtins/set/tests.rs
  boa/src/context.rs
  boa/src/object/internal_methods.rs
  boa/src/object/mod.rs
  boa/src/property/mod.rs
  boa/src/syntax/ast/node/operator/unary_op/mod.rs
  boa/src/value/display.rs
  boa/src/value/equality.rs
  boa/src/value/hash.rs
Labels: builtins, enhancement

#1102 Support Unicode escape in identifier names
  boa/src/syntax/ast/keyword.rs
  boa/src/syntax/lexer/cursor.rs
  boa/src/syntax/lexer/identifier.rs
  boa/src/syntax/lexer/mod.rs
  boa/src/syntax/lexer/tests.rs
Labels: lexer

#1270 Fix `Context::register_global_function()`
  boa/src/context.rs
Labels: documentation, execution, technical debt

#1271 Make `same_value` and `same_value_zero` static methods
  boa/src/builtins/array/mod.rs
  boa/src/builtins/boolean/tests.rs
  boa/src/builtins/json/tests.rs
  boa/src/builtins/object/mod.rs
  boa/src/object/internal_methods.rs
  boa/src/object/mod.rs
  boa/src/value/equality.rs
  boa/src/value/hash.rs
Labels: technical debt

#1274 Upgraded some dependencies of gh-pages
  assets/bootstrap.min.css
  dev/bench/index.html
  index.html
  test262/index.html
  test262/results.js
Labels: documentation

#1135 Fix of instructions.rs comment, to_precision impl and rfc changes
  boa/src/builtins/number/mod.rs
  boa/src/builtins/number/tests.rs
  boa/src/vm/instructions.rs
Labels: bug, builtins

#1272 Fix Array.prototype.filter
  boa/src/builtins/array/mod.rs
  boa/src/builtins/json/mod.rs
  boa/src/builtins/math/mod.rs
Labels: builtins

#1280 Fix slice index panic in add_rest_param
  boa/src/builtins/function/mod.rs
Labels: bug, execution, rust

#1284 Fix GcObject to_json mutable borrow panic
  boa/src/object/gcobject.rs
Labels: bug, builtins, execution, rust

#1273 Add default parameter support
  boa/src/builtins/reflect/mod.rs
  boa/src/object/gcobject.rs
  boa/src/syntax/ast/node/new/mod.rs
  boa/src/syntax/ast/node/statement_list/mod.rs
Labels: execution, rust, technical debt

#1283 Fix panic in regex execution
  boa/src/builtins/regexp/mod.rs
Labels: bug, builtins, execution, rust

#1288 Fixed hypot length bug
  boa/src/builtins/math/mod.rs
Labels: bug, builtins

#1279 Add test comparison to Test262 result compare
  boa_tester/src/results.rs
Labels: enhancement, test

#1292 Implement `symbol.prototype[ @@ToStringTag]`
  boa/src/builtins/symbol/mod.rs
Labels: builtins, enhancement

#1291 Support GetOwnProperty for string exotic object
  boa/src/builtins/string/tests.rs
  boa/src/object/internal_methods.rs
Labels: bug, builtins
