Repository boa-dev/boa, pull requests merged in 2022-03, with the labels that each got.

#1925 Removed extra benchmarks and outliers
  dev/bench/data.js
  dev/process.py
Labels: enhancement, benchmark

#1882 generated changelog for 0.14
  CHANGELOG.md
  Cargo.lock
  boa_cli/Cargo.toml
  boa_engine/Cargo.toml
  boa_gc/Cargo.toml
  boa_interner/Cargo.toml
  boa_profiler/Cargo.toml
  boa_tester/Cargo.toml
  boa_unicode/Cargo.toml
  boa_wasm/Cargo.toml
Labels: documentation

#1950 tests web view: Change individual test links to be <a> instead of <div>, for better accessibility
  test262/results.js
Labels: enhancement, documentation, test
