Repository boa-dev/boa, pull requests merged in 2023-09, with the labels that each got.

#3235 Clippy updates: add panics and etc.
  ABOUT.md
  Cargo.toml
  boa_ast/src/declaration/variable.rs
  boa_ast/src/expression/call.rs
  boa_ast/src/expression/literal/object.rs
  boa_ast/src/expression/literal/template.rs
  boa_ast/src/expression/optional.rs
  boa_ast/src/expression/tagged_template.rs
  boa_ast/src/function/class.rs
  boa_ast/src/function/parameters.rs
  boa_ast/src/pattern.rs
  boa_ast/src/position.rs
  boa_ast/src/statement/switch.rs
  boa_ast/src/statement_list.rs
  boa_engine/src/builtins/json/mod.rs
  boa_engine/src/builtins/map/ordered_map.rs
  boa_engine/src/builtins/regexp/tests.rs
  boa_engine/src/builtins/set/ordered_set.rs
  boa_engine/src/builtins/string/mod.rs
  boa_engine/src/builtins/string/tests.rs
  boa_engine/src/lib.rs
  boa_engine/src/object/property_map.rs
  boa_engine/src/symbol.rs
  boa_engine/src/tagged.rs
  boa_gc/src/cell.rs
  boa_gc/src/internals/gc_box.rs
  boa_gc/src/trace.rs
  boa_interner/src/interned_str.rs
  boa_interner/src/lib.rs
  boa_parser/src/lexer/cursor.rs
  boa_parser/src/lexer/tests.rs
  boa_parser/src/parser/tests/format/expression.rs
  boa_profiler/src/lib.rs
  boa_tester/src/exec/mod.rs
  boa_tester/src/read.rs
Labels: Internal, run-benchmark

#3201 Add `Instruction` and `InstructionIterator`
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/vm/call_frame/mod.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/flowgraph/mod.rs
  boa_engine/src/vm/mod.rs
  boa_engine/src/vm/opcode/control_flow/jump.rs
  boa_engine/src/vm/opcode/mod.rs
Labels: enhancement, Internal

#3273 Add ECMAScript 14 to `boa_tester`
  boa_tester/src/edition.rs
  boa_tester/src/main.rs
Labels: enhancement, test

#3197 Store active runnable and active function in `CallFrame`
  boa_engine/src/builtins/array/mod.rs
  boa_engine/src/builtins/async_function/mod.rs
  boa_engine/src/builtins/async_generator_function/mod.rs
  boa_engine/src/builtins/error/aggregate.rs
  boa_engine/src/builtins/error/eval.rs
  boa_engine/src/builtins/error/mod.rs
  boa_engine/src/builtins/error/range.rs
  boa_engine/src/builtins/error/reference.rs
  boa_engine/src/builtins/error/syntax.rs
  boa_engine/src/builtins/error/type.rs
  boa_engine/src/builtins/error/uri.rs
  boa_engine/src/builtins/eval/mod.rs
  boa_engine/src/builtins/function/mod.rs
  boa_engine/src/builtins/generator/mod.rs
  boa_engine/src/builtins/generator_function/mod.rs
  boa_engine/src/builtins/intl/collator/mod.rs
  boa_engine/src/builtins/intl/date_time_format.rs
  boa_engine/src/builtins/json/mod.rs
  boa_engine/src/builtins/object/mod.rs
  boa_engine/src/builtins/regexp/mod.rs
  boa_engine/src/context/mod.rs
  boa_engine/src/job.rs
  boa_engine/src/module/source.rs
  boa_engine/src/script.rs
  boa_engine/src/vm/call_frame/mod.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/mod.rs
  boa_engine/src/vm/opcode/call/mod.rs
  boa_engine/src/vm/opcode/generator/mod.rs
  boa_engine/src/vm/opcode/meta/mod.rs
Labels: technical debt, execution, vm

#3290 Bump `rust-version` to 1.71
  Cargo.toml
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/opcode/mod.rs
Labels: bug, enhancement

#3292 Implement `Gc::new_cyclic`
  boa_gc/src/internals/ephemeron_box.rs
  boa_gc/src/pointers/ephemeron.rs
  boa_gc/src/pointers/gc.rs
  boa_gc/src/pointers/weak.rs
Labels: enhancement, API, gc

#3291 Added MSRV check
  .github/workflows/rust.yml
  Cargo.toml
Labels: test

#3298 Implement `Intl.PluralRules`
  Cargo.lock
  boa_engine/Cargo.toml
  boa_engine/src/builtins/intl/collator/mod.rs
  boa_engine/src/builtins/intl/collator/options.rs
  boa_engine/src/builtins/intl/date_time_format.rs
  boa_engine/src/builtins/intl/list_format/mod.rs
  boa_engine/src/builtins/intl/list_format/options.rs
  boa_engine/src/builtins/intl/locale/mod.rs
  boa_engine/src/builtins/intl/locale/options.rs
  boa_engine/src/builtins/intl/locale/utils.rs
  boa_engine/src/builtins/intl/mod.rs
  boa_engine/src/builtins/intl/number_format/mod.rs
  boa_engine/src/builtins/intl/number_format/options.rs
  boa_engine/src/builtins/intl/number_format/utils.rs
  boa_engine/src/builtins/intl/options.rs
  boa_engine/src/builtins/intl/plural_rules/mod.rs
  boa_engine/src/builtins/intl/plural_rules/options.rs
  boa_engine/src/builtins/intl/segmenter/mod.rs
  boa_engine/src/builtins/intl/segmenter/options.rs
  boa_engine/src/builtins/mod.rs
  boa_engine/src/builtins/options.rs
  boa_engine/src/context/icu.rs
  boa_engine/src/context/intrinsics.rs
  boa_engine/src/object/mod.rs
  test262_config.toml
Labels: enhancement, builtins

#3307 Fix tagged template `this` in strict mode
  boa_engine/src/bytecompiler/expression/mod.rs
  boa_engine/src/bytecompiler/mod.rs
Labels: bug, execution

#3297 fix: add 'static lifetime
  boa_engine/src/builtins/generator/mod.rs
Labels: bug

#3309 Replace #[deny] with #[warn]
  .github/workflows/rust.yml
  .github/workflows/webassembly.yml
  boa_ast/src/lib.rs
  boa_cli/src/main.rs
  boa_engine/src/lib.rs
  boa_gc/src/lib.rs
  boa_icu_provider/src/lib.rs
  boa_interner/src/lib.rs
  boa_macros/src/lib.rs
  boa_parser/src/lib.rs
  boa_profiler/src/lib.rs
  boa_runtime/src/lib.rs
  boa_tester/src/main.rs
  boa_wasm/src/lib.rs
Labels: enhancement, github_actions

#3308 Reintroduce publish CI job
  .github/workflows/release.yml
Labels: github_actions

#3312 Fix class inherit from `null`
  boa_engine/src/vm/opcode/mod.rs
  boa_engine/src/vm/opcode/push/class/mod.rs
  boa_engine/src/vm/opcode/set/class_prototype.rs
Labels: bug, execution

#3313 Migrate to workspace deps
  Cargo.lock
  Cargo.toml
  boa_ast/Cargo.toml
  boa_cli/Cargo.toml
  boa_engine/Cargo.toml
  boa_gc/Cargo.toml
  boa_icu_provider/Cargo.toml
  boa_interner/Cargo.toml
  boa_parser/Cargo.toml
  boa_profiler/Cargo.toml
  boa_runtime/Cargo.toml
  boa_tester/Cargo.toml
  boa_tester/src/exec/mod.rs
  boa_tester/src/main.rs
  boa_tester/src/read.rs
  boa_tester/src/results.rs
  boa_wasm/Cargo.toml
Labels: enhancement, dependencies

#2952 Implement `[[HostDefined]]` field on `Realm`s
  boa_cli/src/debug/limits.rs
  boa_cli/src/debug/optimizer.rs
  boa_engine/src/builtins/async_generator/mod.rs
  boa_engine/src/builtins/function/tests.rs
  boa_engine/src/builtins/intl/collator/mod.rs
  boa_engine/src/builtins/iterable/async_from_sync_iterator.rs
  boa_engine/src/builtins/object/mod.rs
  boa_engine/src/builtins/promise/mod.rs
  boa_engine/src/builtins/proxy/mod.rs
  boa_engine/src/context/mod.rs
  boa_engine/src/host_defined.rs
  boa_engine/src/job.rs
  boa_engine/src/lib.rs
  boa_engine/src/module/mod.rs
  boa_engine/src/module/source.rs
  boa_engine/src/object/builtins/jspromise.rs
  boa_engine/src/object/builtins/jsproxy.rs
  boa_engine/src/object/mod.rs
  boa_engine/src/realm.rs
  boa_engine/src/value/conversions/try_from_js.rs
  boa_engine/src/vm/opcode/await/mod.rs
  boa_engine/src/vm/opcode/call/mod.rs
  boa_examples/src/bin/closures.rs
  boa_examples/src/bin/host_defined.rs
  boa_examples/src/bin/jsarray.rs
  boa_examples/src/bin/jstypedarray.rs
  boa_examples/src/bin/modules.rs
  boa_gc/src/trace.rs
  boa_tester/src/exec/mod.rs
Labels: enhancement, API

#3317 Format code snippets in docs
  boa_ast/src/statement/switch.rs
  boa_cli/src/main.rs
  boa_engine/src/context/hooks.rs
  boa_engine/src/context/mod.rs
  boa_engine/src/error.rs
  boa_engine/src/job.rs
  boa_engine/src/lib.rs
  boa_engine/src/module/mod.rs
  boa_engine/src/object/builtins/jsdataview.rs
  boa_engine/src/object/builtins/jsdate.rs
  boa_engine/src/object/builtins/jspromise.rs
  boa_engine/src/object/builtins/jsregexp.rs
  boa_engine/src/object/mod.rs
  boa_engine/src/string/mod.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/opcode/mod.rs
  boa_gc/src/lib.rs
  boa_interner/src/lib.rs
  boa_macros/src/lib.rs
  boa_parser/src/lib.rs
  boa_parser/src/parser/cursor/buffered_lexer/tests.rs
  boa_profiler/src/lib.rs
  boa_runtime/src/lib.rs
  boa_tester/src/main.rs
  boa_wasm/src/lib.rs
Labels: documentation

#3318 Introduce experimental features
  .github/workflows/rust.yml
  boa_cli/Cargo.toml
  boa_engine/Cargo.toml
  boa_engine/src/builtins/promise/mod.rs
  boa_engine/src/context/intrinsics.rs
  boa_engine/src/vm/code_block.rs
  boa_tester/Cargo.toml
  boa_wasm/Cargo.toml
  test262_config.toml
Labels: enhancement, builtins, API

#3326 `icu_properties` default features to true
  .github/workflows/rust.yml
  Cargo.toml
Labels: dependencies

#3325 Fix anonymous function name in cover assignment
  boa_parser/src/parser/expression/assignment/mod.rs
Labels: bug, parser

#3315 Introduce a `Class` map
  boa_engine/src/builtins/intl/segmenter/segments.rs
  boa_engine/src/builtins/iterable/mod.rs
  boa_engine/src/builtins/regexp/mod.rs
  boa_engine/src/builtins/string/mod.rs
  boa_engine/src/class.rs
  boa_engine/src/context/intrinsics.rs
  boa_engine/src/context/mod.rs
  boa_engine/src/host_defined.rs
  boa_engine/src/object/mod.rs
  boa_engine/src/realm.rs
  boa_engine/src/string/common.rs
  boa_engine/src/symbol.rs
  boa_examples/src/bin/classes.rs
  boa_gc/src/cell.rs
Labels: enhancement, API

#3321 Add `NonMaxU32` as integer variant for `PropertyKey`
  boa_engine/src/builtins/function/mod.rs
  boa_engine/src/builtins/object/for_in_iterator.rs
  boa_engine/src/builtins/object/mod.rs
  boa_engine/src/object/internal_methods/arguments.rs
  boa_engine/src/object/internal_methods/array.rs
  boa_engine/src/object/internal_methods/integer_indexed.rs
  boa_engine/src/object/internal_methods/module_namespace.rs
  boa_engine/src/object/internal_methods/string.rs
  boa_engine/src/object/operations.rs
  boa_engine/src/object/property_map.rs
  boa_engine/src/property/mod.rs
  boa_engine/src/property/nonmaxu32.rs
  boa_engine/src/value/conversions/serde_json.rs
  boa_engine/src/value/display.rs
  boa_engine/src/vm/opcode/get/property.rs
  boa_engine/src/vm/opcode/set/property.rs
Labels: bug, execution
