Repository boa-dev/boa, pull requests merged in 2023-12, with the labels that each got.

#3491 Transition `Intl` types to `NativeObject` API
  Cargo.lock
  boa_engine/Cargo.toml
  boa_engine/src/builtins/intl/collator/mod.rs
  boa_engine/src/builtins/intl/date_time_format.rs
  boa_engine/src/builtins/intl/list_format/mod.rs
  boa_engine/src/builtins/intl/locale/mod.rs
  boa_engine/src/builtins/intl/locale/utils.rs
  boa_engine/src/builtins/intl/plural_rules/mod.rs
  boa_engine/src/builtins/intl/segmenter/iterator.rs
  boa_engine/src/builtins/intl/segmenter/mod.rs
  boa_engine/src/builtins/intl/segmenter/segments.rs
  boa_engine/src/builtins/string/mod.rs
  boa_engine/src/object/mod.rs
  boa_gc/Cargo.toml
  boa_gc/src/trace.rs
Labels: technical debt, Internal

#2767 Implement `Inline Caching`
  boa_engine/src/builtins/array/mod.rs
  boa_engine/src/builtins/function/tests.rs
  boa_engine/src/builtins/json/mod.rs
  boa_engine/src/builtins/object/for_in_iterator.rs
  boa_engine/src/builtins/object/mod.rs
  boa_engine/src/builtins/reflect/mod.rs
  boa_engine/src/builtins/temporal/calendar/mod.rs
  boa_engine/src/builtins/temporal/calendar/object.rs
  boa_engine/src/builtins/temporal/mod.rs
  boa_engine/src/builtins/typed_array/builtin.rs
  boa_engine/src/bytecompiler/declaration/declaration_pattern.rs
  boa_engine/src/bytecompiler/expression/assign.rs
  boa_engine/src/bytecompiler/expression/mod.rs
  boa_engine/src/bytecompiler/expression/update.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/context/mod.rs
  boa_engine/src/environments/runtime/mod.rs
  boa_engine/src/object/internal_methods/arguments.rs
  boa_engine/src/object/internal_methods/array.rs
  boa_engine/src/object/internal_methods/integer_indexed.rs
  boa_engine/src/object/internal_methods/mod.rs
  boa_engine/src/object/internal_methods/module_namespace.rs
  boa_engine/src/object/internal_methods/proxy.rs
  boa_engine/src/object/internal_methods/string.rs
  boa_engine/src/object/jsobject.rs
  boa_engine/src/object/operations.rs
  boa_engine/src/object/property_map.rs
  boa_engine/src/object/shape/mod.rs
  boa_engine/src/object/shape/shared_shape/mod.rs
  boa_engine/src/object/shape/slot.rs
  boa_engine/src/object/shape/unique_shape.rs
  boa_engine/src/value/tests.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/mod.rs
  boa_engine/src/vm/opcode/define/class/getter.rs
  boa_engine/src/vm/opcode/define/class/method.rs
  boa_engine/src/vm/opcode/define/class/setter.rs
  boa_engine/src/vm/opcode/define/own_property.rs
  boa_engine/src/vm/opcode/delete/mod.rs
  boa_engine/src/vm/opcode/environment/mod.rs
  boa_engine/src/vm/opcode/get/property.rs
  boa_engine/src/vm/opcode/push/class/private.rs
  boa_engine/src/vm/opcode/set/class_prototype.rs
  boa_engine/src/vm/opcode/set/private.rs
  boa_engine/src/vm/opcode/set/property.rs
  boa_engine/src/vm/opcode/set/prototype.rs
Labels: performance, execution, run-benchmark

#3500 Migrate `ISO8601` parsing to `boa_temporal`
  boa_ast/Cargo.toml
  boa_ast/src/lib.rs
  boa_engine/Cargo.toml
  boa_engine/src/builtins/temporal/error.rs
  boa_engine/src/builtins/temporal/plain_date/mod.rs
  boa_engine/src/builtins/temporal/time_zone/mod.rs
  boa_parser/Cargo.toml
  boa_parser/src/lib.rs
  boa_temporal/src/date.rs
  boa_temporal/src/datetime.rs
  boa_temporal/src/duration.rs
  boa_temporal/src/error.rs
  boa_temporal/src/iso.rs
  boa_temporal/src/lib.rs
  boa_temporal/src/parser/annotations.rs
  boa_temporal/src/parser/date_time.rs
  boa_temporal/src/parser/duration.rs
  boa_temporal/src/parser/grammar.rs
  boa_temporal/src/parser/mod.rs
  boa_temporal/src/parser/nodes.rs
  boa_temporal/src/parser/tests.rs
  boa_temporal/src/parser/time.rs
  boa_temporal/src/parser/time_zone.rs
Labels: builtins

#3497 Build out ZonedDateTime, TimeZone, and Instant
  boa_engine/src/builtins/temporal/time_zone/mod.rs
  boa_engine/src/builtins/temporal/zoned_date_time/mod.rs
  boa_temporal/src/datetime.rs
  boa_temporal/src/instant.rs
  boa_temporal/src/iso.rs
  boa_temporal/src/lib.rs
  boa_temporal/src/time.rs
  boa_temporal/src/tz.rs
  boa_temporal/src/zoneddatetime.rs
Labels: builtins

#3504 `boa_temporal` structure changes and docs update
  boa_engine/src/builtins/temporal/calendar/mod.rs
  boa_engine/src/builtins/temporal/calendar/object.rs
  boa_engine/src/builtins/temporal/duration/mod.rs
  boa_engine/src/builtins/temporal/instant/mod.rs
  boa_engine/src/builtins/temporal/plain_date/mod.rs
  boa_engine/src/builtins/temporal/plain_date_time/mod.rs
  boa_engine/src/builtins/temporal/plain_month_day/mod.rs
  boa_engine/src/builtins/temporal/plain_year_month/mod.rs
  boa_engine/src/builtins/temporal/time_zone/mod.rs
  boa_engine/src/builtins/temporal/zoned_date_time/mod.rs
  boa_temporal/src/components/calendar.rs
  boa_temporal/src/components/calendar/iso.rs
  boa_temporal/src/components/date.rs
  boa_temporal/src/components/datetime.rs
  boa_temporal/src/components/duration.rs
  boa_temporal/src/components/instant.rs
  boa_temporal/src/components/mod.rs
  boa_temporal/src/components/month_day.rs
  boa_temporal/src/components/time.rs
  boa_temporal/src/components/tz.rs
  boa_temporal/src/components/year_month.rs
  boa_temporal/src/components/zoneddatetime.rs
  boa_temporal/src/error.rs
  boa_temporal/src/fields.rs
  boa_temporal/src/iso.rs
  boa_temporal/src/lib.rs
  boa_temporal/src/options.rs
  boa_temporal/src/parser/duration.rs
  boa_temporal/src/parser/mod.rs
  boa_temporal/src/parser/tests.rs
  boa_temporal/src/utils.rs
Labels: documentation

#3503 Simplify `Icu` API
  core/engine/src/builtins/intl/collator/mod.rs
  core/engine/src/builtins/intl/list_format/mod.rs
  core/engine/src/builtins/intl/locale/mod.rs
  core/engine/src/builtins/intl/locale/tests.rs
  core/engine/src/builtins/intl/locale/utils.rs
  core/engine/src/builtins/intl/mod.rs
  core/engine/src/builtins/intl/plural_rules/mod.rs
  core/engine/src/builtins/intl/segmenter/mod.rs
  core/engine/src/builtins/string/mod.rs
  core/engine/src/context/icu.rs
  core/engine/src/context/mod.rs
Labels: enhancement, API

#3508 Non recursive gc trace
  core/engine/src/builtins/function/mod.rs
  core/engine/src/builtins/generator/mod.rs
  core/engine/src/builtins/intl/collator/mod.rs
  core/engine/src/builtins/map/ordered_map.rs
  core/engine/src/builtins/promise/mod.rs
  core/engine/src/builtins/set/ordered_set.rs
  core/engine/src/environments/runtime/declarative/function.rs
  core/engine/src/error.rs
  core/engine/src/module/source.rs
  core/engine/src/native_function.rs
  core/engine/src/object/mod.rs
  core/engine/src/object/property_map.rs
  core/engine/src/value/mod.rs
  core/engine/src/vm/completion_record.rs
  core/engine/src/vm/mod.rs
  core/engine/src/vm/tests.rs
  core/gc/src/cell.rs
  core/gc/src/internals/ephemeron_box.rs
  core/gc/src/internals/gc_box.rs
  core/gc/src/internals/gc_header.rs
  core/gc/src/internals/mod.rs
  core/gc/src/internals/vtable.rs
  core/gc/src/internals/weak_map_box.rs
  core/gc/src/lib.rs
  core/gc/src/pointers/ephemeron.rs
  core/gc/src/pointers/gc.rs
  core/gc/src/pointers/mod.rs
  core/gc/src/pointers/weak_map.rs
  core/gc/src/test/allocation.rs
  core/gc/src/test/weak.rs
  core/gc/src/trace.rs
  core/macros/src/lib.rs
Labels: bug, gc

#3496 Refactor vm calling convention to allow locals
  core/engine/src/builtins/function/mod.rs
  core/engine/src/builtins/generator/mod.rs
  core/engine/src/bytecompiler/mod.rs
  core/engine/src/module/synthetic.rs
  core/engine/src/vm/call_frame/mod.rs
  core/engine/src/vm/code_block.rs
  core/engine/src/vm/mod.rs
  core/engine/src/vm/opcode/arguments.rs
  core/engine/src/vm/opcode/await/mod.rs
  core/engine/src/vm/opcode/generator/mod.rs
  core/engine/src/vm/opcode/generator/yield_stm.rs
  core/engine/src/vm/opcode/get/argument.rs
  core/engine/src/vm/opcode/rest_parameter/mod.rs
Labels: execution, vm

#3521 Temporal Parser Cleanup/Fixes
  core/temporal/src/components/month_day.rs
  core/temporal/src/components/year_month.rs
  core/temporal/src/parser/annotations.rs
  core/temporal/src/parser/datetime.rs
  core/temporal/src/parser/duration.rs
  core/temporal/src/parser/mod.rs
  core/temporal/src/parser/tests.rs
  core/temporal/src/parser/time.rs
  core/temporal/src/parser/time_zone.rs
Labels: technical debt, builtins

#3528 Move `PromiseCapability` to stack
  core/engine/src/builtins/generator/mod.rs
  core/engine/src/builtins/promise/mod.rs
  core/engine/src/bytecompiler/mod.rs
  core/engine/src/module/source.rs
  core/engine/src/vm/call_frame/mod.rs
  core/engine/src/vm/code_block.rs
  core/engine/src/vm/mod.rs
  core/engine/src/vm/opcode/await/mod.rs
  core/engine/src/vm/opcode/generator/mod.rs
Labels: technical debt, memory

#3522 Refactor Temporal Calendar API for `AnyCalendar` and fields
  Cargo.lock
  core/engine/src/builtins/temporal/calendar/mod.rs
  core/engine/src/builtins/temporal/calendar/object.rs
  core/engine/src/builtins/temporal/fields.rs
  core/engine/src/builtins/temporal/plain_date/mod.rs
  core/engine/src/builtins/temporal/plain_date_time/mod.rs
  core/engine/src/builtins/temporal/plain_month_day/mod.rs
  core/engine/src/builtins/temporal/plain_year_month/mod.rs
  core/engine/src/builtins/temporal/zoned_date_time/mod.rs
  core/temporal/Cargo.toml
  core/temporal/src/components/calendar.rs
  core/temporal/src/components/calendar/iso.rs
  core/temporal/src/components/date.rs
  core/temporal/src/components/datetime.rs
  core/temporal/src/components/duration.rs
  core/temporal/src/components/month_day.rs
  core/temporal/src/components/tz.rs
  core/temporal/src/components/year_month.rs
  core/temporal/src/components/zoneddatetime.rs
  core/temporal/src/error.rs
  core/temporal/src/fields.rs
  core/temporal/src/parser/tests.rs
Labels: builtins, waiting-on-review

#3540 Fix rust 1.75 lints
  cli/src/debug/function.rs
  cli/src/debug/object.rs
  core/engine/src/builtins/array/mod.rs
  core/engine/src/builtins/boolean/mod.rs
  core/engine/src/builtins/date/mod.rs
  core/engine/src/builtins/intl/collator/mod.rs
  core/engine/src/builtins/intl/date_time_format.rs
  core/engine/src/builtins/iterable/async_from_sync_iterator.rs
  core/engine/src/builtins/json/mod.rs
  core/engine/src/builtins/number/globals.rs
  core/engine/src/builtins/number/mod.rs
  core/engine/src/builtins/object/mod.rs
  core/engine/src/builtins/reflect/mod.rs
  core/engine/src/builtins/regexp/mod.rs
  core/engine/src/builtins/string/mod.rs
  core/engine/src/builtins/symbol/mod.rs
  core/engine/src/builtins/temporal/duration/mod.rs
  core/engine/src/builtins/typed_array/builtin.rs
  core/engine/src/builtins/weak/weak_ref.rs
  core/engine/src/module/synthetic.rs
  core/engine/src/native_function.rs
  core/engine/src/object/internal_methods/mod.rs
  core/engine/src/small_map/mod.rs
  core/engine/src/vm/flowgraph/graph.rs
  core/engine/src/vm/opcode/call/mod.rs
  core/parser/src/lib.rs
  core/parser/src/parser/expression/assignment/arrow_function.rs
  core/parser/src/parser/expression/assignment/async_arrow_function.rs
  core/runtime/src/console/mod.rs
  core/temporal/src/components/duration.rs
  examples/src/bin/classes.rs
  examples/src/bin/jsarray.rs
  examples/src/bin/jstypedarray.rs
  tests/tester/src/exec/js262.rs
Labels: rust, Internal, waiting-on-review
