Repository boa-dev/boa, pull requests merged in 2023-10, with the labels that each got.

#3328 Add missing class name binding
  boa_engine/src/bytecompiler/class.rs
Labels: bug, execution

#3331 Truncate environment stack on non-caught native error
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/mod.rs
  boa_engine/src/vm/tests.rs
Labels: bug, execution

#3333 Improve CI testing
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  boa_ast/Cargo.toml
  boa_cli/src/main.rs
  boa_engine/Cargo.toml
  boa_engine/src/vm/mod.rs
  boa_engine/src/vm/opcode/mod.rs
  boa_examples/Cargo.toml
  boa_examples/src/bin/commuter_visitor.rs
  boa_examples/src/bin/jsdate.rs
  boa_examples/src/bin/loadfile.rs
  boa_examples/src/bin/modulehandler.rs
  boa_examples/src/bin/modules.rs
  boa_examples/src/bin/runtime_limits.rs
  boa_examples/src/bin/symbol_visitor.rs
  boa_interner/Cargo.toml
  boa_runtime/src/console/mod.rs
  fuzz/Cargo.lock
Labels: github_actions

#3338 Fix regular expression construction
  boa_ast/src/expression/mod.rs
  boa_ast/src/expression/regexp.rs
  boa_ast/src/visitor.rs
  boa_engine/src/builtins/regexp/tests.rs
  boa_engine/src/bytecompiler/expression/mod.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/flowgraph/mod.rs
  boa_engine/src/vm/opcode/mod.rs
  boa_engine/src/vm/opcode/push/literal.rs
  boa_parser/src/parser/expression/primary/mod.rs
  boa_parser/src/parser/expression/tests.rs
Labels: bug, execution

#3339 Fix `super()` construction with default parameters
  boa_engine/src/bytecompiler/declarations.rs
  boa_engine/src/environments/compile.rs
  boa_engine/src/environments/runtime/mod.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/flowgraph/mod.rs
  boa_engine/src/vm/opcode/mod.rs
  boa_engine/src/vm/opcode/push/environment.rs
  boa_engine/src/vm/tests.rs
Labels: bug, execution

#3322 Refactor function internal methods
  boa_cli/src/debug/function.rs
  boa_engine/src/builtins/error/type.rs
  boa_engine/src/builtins/function/mod.rs
  boa_engine/src/builtins/mod.rs
  boa_engine/src/builtins/regexp/tests.rs
  boa_engine/src/object/builtins/jsfunction.rs
  boa_engine/src/object/internal_methods/bound_function.rs
  boa_engine/src/object/internal_methods/function.rs
  boa_engine/src/object/internal_methods/mod.rs
  boa_engine/src/object/internal_methods/proxy.rs
  boa_engine/src/object/jsobject.rs
  boa_engine/src/object/mod.rs
  boa_engine/src/object/operations.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/opcode/call/mod.rs
Labels: technical debt

#3327 Fix static class element evaluation order
  boa_engine/src/bytecompiler/class.rs
Labels: bug, execution

#3332 Remove unused class environments
  boa_engine/src/builtins/function/mod.rs
  boa_engine/src/bytecompiler/class.rs
  boa_engine/src/bytecompiler/function.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/flowgraph/mod.rs
  boa_engine/src/vm/opcode/define/class/getter.rs
  boa_engine/src/vm/opcode/define/class/method.rs
  boa_engine/src/vm/opcode/define/class/setter.rs
  boa_engine/src/vm/opcode/mod.rs
  boa_engine/src/vm/opcode/push/class/field.rs
  boa_engine/src/vm/opcode/push/class/private.rs
  boa_engine/src/vm/opcode/set/home_object.rs
  boa_engine/src/vm/opcode/set/private.rs
Labels: execution, Internal

#3340 Make environments opcodes use varying operands
  boa_engine/src/builtins/eval/mod.rs
  boa_engine/src/bytecompiler/class.rs
  boa_engine/src/bytecompiler/declarations.rs
  boa_engine/src/bytecompiler/env.rs
  boa_engine/src/bytecompiler/function.rs
  boa_engine/src/bytecompiler/statement/block.rs
  boa_engine/src/bytecompiler/statement/loop.rs
  boa_engine/src/bytecompiler/statement/switch.rs
  boa_engine/src/bytecompiler/statement/try.rs
  boa_engine/src/bytecompiler/statement/with.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/opcode/mod.rs
  boa_engine/src/vm/opcode/push/environment.rs
Labels: technical debt, vm

#3355 Cleanup `get_option` and calls to the function
  boa_engine/src/builtins/intl/collator/mod.rs
  boa_engine/src/builtins/intl/list_format/mod.rs
  boa_engine/src/builtins/intl/locale/mod.rs
  boa_engine/src/builtins/intl/locale/options.rs
  boa_engine/src/builtins/intl/locale/utils.rs
  boa_engine/src/builtins/intl/number_format/utils.rs
  boa_engine/src/builtins/intl/plural_rules/mod.rs
  boa_engine/src/builtins/intl/segmenter/mod.rs
  boa_engine/src/builtins/options.rs
Labels: technical debt, Internal

#2898 Fix `Number.prototype.toFixed()`
  Cargo.lock
  boa_engine/Cargo.toml
  boa_engine/src/builtins/number/mod.rs
  boa_engine/src/builtins/number/tests.rs
Labels: bug, builtins

#3361 Fix new lints for Rust 1.73
  boa_ast/src/lib.rs
  boa_cli/src/main.rs
  boa_engine/src/builtins/string/mod.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/lib.rs
  boa_engine/src/string/mod.rs
  boa_engine/src/symbol.rs
  boa_engine/src/value/conversions/mod.rs
  boa_engine/src/value/operations.rs
  boa_gc/src/lib.rs
  boa_icu_provider/src/lib.rs
  boa_interner/src/lib.rs
  boa_macros/src/lib.rs
  boa_parser/src/error/mod.rs
  boa_parser/src/lib.rs
  boa_parser/src/parser/expression/left_hand_side/optional/mod.rs
  boa_profiler/src/lib.rs
  boa_runtime/src/lib.rs
  boa_tester/src/exec/mod.rs
  boa_tester/src/main.rs
  boa_wasm/src/lib.rs
Labels: rust, Internal

#3365 Refactor compile time environment handling
  boa_engine/src/builtins/eval/mod.rs
  boa_engine/src/builtins/function/mod.rs
  boa_engine/src/builtins/json/mod.rs
  boa_engine/src/bytecompiler/class.rs
  boa_engine/src/bytecompiler/declarations.rs
  boa_engine/src/bytecompiler/env.rs
  boa_engine/src/bytecompiler/expression/assign.rs
  boa_engine/src/bytecompiler/expression/unary.rs
  boa_engine/src/bytecompiler/expression/update.rs
  boa_engine/src/bytecompiler/function.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/bytecompiler/module.rs
  boa_engine/src/bytecompiler/statement/block.rs
  boa_engine/src/bytecompiler/statement/loop.rs
  boa_engine/src/bytecompiler/statement/switch.rs
  boa_engine/src/bytecompiler/statement/try.rs
  boa_engine/src/bytecompiler/statement/with.rs
  boa_engine/src/environments/compile.rs
  boa_engine/src/environments/runtime/declarative/mod.rs
  boa_engine/src/environments/runtime/mod.rs
  boa_engine/src/module/source.rs
  boa_engine/src/script.rs
  boa_engine/src/vm/opcode/define/mod.rs
  boa_engine/src/vm/opcode/mod.rs
Labels: technical debt, execution, Internal

#3374 Fix `Function.prototype.toString()`
  boa_engine/src/builtins/function/mod.rs
  boa_engine/src/object/mod.rs
Labels: bug, enhancement

#3375 Check `eval` realm before call
  boa_engine/src/vm/opcode/call/mod.rs
Labels: bug, builtins

#3277 First portion of the Temporal implementation
  boa_ast/Cargo.toml
  boa_ast/src/lib.rs
  boa_ast/src/temporal/mod.rs
  boa_engine/Cargo.toml
  boa_engine/src/bigint.rs
  boa_engine/src/builtins/date/mod.rs
  boa_engine/src/builtins/date/utils.rs
  boa_engine/src/builtins/mod.rs
  boa_engine/src/builtins/options.rs
  boa_engine/src/builtins/temporal/calendar/iso.rs
  boa_engine/src/builtins/temporal/calendar/mod.rs
  boa_engine/src/builtins/temporal/calendar/tests.rs
  boa_engine/src/builtins/temporal/calendar/utils.rs
  boa_engine/src/builtins/temporal/date_equations.rs
  boa_engine/src/builtins/temporal/duration/mod.rs
  boa_engine/src/builtins/temporal/duration/record.rs
  boa_engine/src/builtins/temporal/duration/tests.rs
  boa_engine/src/builtins/temporal/fields.rs
  boa_engine/src/builtins/temporal/instant/mod.rs
  boa_engine/src/builtins/temporal/mod.rs
  boa_engine/src/builtins/temporal/now.rs
  boa_engine/src/builtins/temporal/options.rs
  boa_engine/src/builtins/temporal/plain_date/iso.rs
  boa_engine/src/builtins/temporal/plain_date/mod.rs
  boa_engine/src/builtins/temporal/plain_date_time/iso.rs
  boa_engine/src/builtins/temporal/plain_date_time/mod.rs
  boa_engine/src/builtins/temporal/plain_month_day/mod.rs
  boa_engine/src/builtins/temporal/plain_time/mod.rs
  boa_engine/src/builtins/temporal/plain_year_month/mod.rs
  boa_engine/src/builtins/temporal/tests.rs
  boa_engine/src/builtins/temporal/time_zone/mod.rs
  boa_engine/src/builtins/temporal/zoned_date_time/mod.rs
  boa_engine/src/context/intrinsics.rs
  boa_engine/src/object/jsobject.rs
  boa_engine/src/object/mod.rs
  boa_engine/src/string/common.rs
  boa_parser/Cargo.toml
  boa_parser/src/error/mod.rs
  boa_parser/src/lib.rs
  boa_parser/src/parser/expression/assignment/yield.rs
  boa_parser/src/parser/mod.rs
  boa_parser/src/temporal/annotations.rs
  boa_parser/src/temporal/date_time.rs
  boa_parser/src/temporal/duration.rs
  boa_parser/src/temporal/grammar.rs
  boa_parser/src/temporal/mod.rs
  boa_parser/src/temporal/tests.rs
  boa_parser/src/temporal/time.rs
  boa_parser/src/temporal/time_zone.rs
Labels: enhancement, builtins

#3376 Update feature flags to specific feature flag
  boa_ast/Cargo.toml
  boa_ast/src/lib.rs
  boa_engine/Cargo.toml
  boa_engine/src/bigint.rs
  boa_engine/src/builtins/mod.rs
  boa_engine/src/builtins/temporal/mod.rs
  boa_engine/src/context/intrinsics.rs
  boa_engine/src/object/jsobject.rs
  boa_engine/src/object/mod.rs
  boa_parser/Cargo.toml
  boa_parser/src/lib.rs
Labels: enhancement

#3383 Evaluate all parts of `class` in strict mode
  boa_engine/src/bytecompiler/class.rs
Labels: bug, execution

#3381 Implement `[[HostDefined]]` for `Module` and `Script`
  boa_engine/src/module/mod.rs
  boa_engine/src/script.rs
Labels: enhancement, API

#3294 Implement synthetic modules
  boa_engine/src/lib.rs
  boa_engine/src/module/loader.rs
  boa_engine/src/module/mod.rs
  boa_engine/src/module/source.rs
  boa_engine/src/module/synthetic.rs
  boa_examples/src/bin/modules.rs
  boa_examples/src/bin/synthetic.rs
Labels: enhancement, API

#3349 Bump test262
  test262_config.toml
Labels: dependencies, test

#3386 Prevent `test262` repository update if not needed
  CONTRIBUTING.md
  boa_tester/src/main.rs
Labels: enhancement, test

#3384 Implement `SharedArrayBuffer`
  Cargo.lock
  boa_engine/Cargo.toml
  boa_engine/src/builtins/array_buffer/mod.rs
  boa_engine/src/builtins/array_buffer/shared.rs
  boa_engine/src/builtins/array_buffer/tests.rs
  boa_engine/src/builtins/array_buffer/utils.rs
  boa_engine/src/builtins/dataview/mod.rs
  boa_engine/src/builtins/mod.rs
  boa_engine/src/builtins/temporal/fields.rs
  boa_engine/src/builtins/typed_array/builtin.rs
  boa_engine/src/builtins/typed_array/element.rs
  boa_engine/src/builtins/typed_array/integer_indexed_object.rs
  boa_engine/src/builtins/typed_array/mod.rs
  boa_engine/src/context/hooks.rs
  boa_engine/src/context/intrinsics.rs
  boa_engine/src/object/builtins/jsarraybuffer.rs
  boa_engine/src/object/builtins/jsdataview.rs
  boa_engine/src/object/builtins/jssharedarraybuffer.rs
  boa_engine/src/object/builtins/jstypedarray.rs
  boa_engine/src/object/builtins/mod.rs
  boa_engine/src/object/internal_methods/function.rs
  boa_engine/src/object/internal_methods/integer_indexed.rs
  boa_engine/src/object/jsobject.rs
  boa_engine/src/object/mod.rs
  boa_engine/src/string/common.rs
  boa_engine/src/value/mod.rs
  boa_examples/src/bin/jsarraybuffer.rs
  boa_tester/src/exec/js262.rs
  test262_config.toml
Labels: enhancement, builtins

#3387 Fix var declaration for deleted binding locator
  boa_engine/src/bytecompiler/mod.rs
Labels: bug, execution

#3388 Fix await flag in class constructor
  boa_parser/src/parser/statement/declaration/hoistable/class_decl/mod.rs
Labels: bug, parser

#3369 Add `Context::create_realm`
  boa_engine/src/context/mod.rs
Labels: enhancement, API

#3400 Update all dependencies
  Cargo.lock
Labels: dependencies, Internal

#3398 Introduce a thread safe version of `JsError`
  boa_engine/src/context/mod.rs
  boa_engine/src/error.rs
Labels: enhancement, API

#3399 Fix compilation for targets without `AtomicU64`
  boa_engine/src/lib.rs
  boa_engine/src/symbol.rs
  boa_gc/src/trace.rs
Labels: bug, Internal

#3405 Optimize `shift` for dense arrays
  boa_engine/src/builtins/array/mod.rs
  boa_engine/src/object/property_map.rs
Labels: optimisation, Internal

#3409 Rename master workflow to main
  .github/workflows/main.yml
Labels: test

#3385 Feature `get/set $boa.limits.stack`
  boa_cli/src/debug/limits.rs
  boa_engine/src/vm/runtime_limits.rs
  docs/boa_object.md
Labels: enhancement, cli

#3412 Implement `change-array-by-copy` methods
  boa_engine/src/builtins/array/mod.rs
  boa_engine/src/builtins/array/tests.rs
  boa_engine/src/builtins/typed_array/builtin.rs
  boa_engine/src/builtins/typed_array/mod.rs
  boa_engine/src/object/builtins/jsarray.rs
  boa_engine/src/object/builtins/jstypedarray.rs
  boa_engine/src/object/internal_methods/integer_indexed.rs
  test262_config.toml
Labels: enhancement, builtins

#3417 Cleaned up a couple of Github action warnings
  .github/workflows/test262.yml
Labels: test

#3420 Implement the `array-grouping` proposal
  boa_engine/src/builtins/map/mod.rs
  boa_engine/src/builtins/object/mod.rs
  test262_config.toml
Labels: enhancement, builtins

#3410 Disallow changing type of already created objects
  boa_ast/src/expression/regexp.rs
  boa_cli/src/main.rs
  boa_engine/src/builtins/error/type.rs
  boa_engine/src/builtins/mod.rs
  boa_engine/src/builtins/regexp/mod.rs
  boa_engine/src/context/intrinsics.rs
  boa_engine/src/context/mod.rs
  boa_engine/src/module/mod.rs
  boa_engine/src/module/synthetic.rs
  boa_engine/src/native_function.rs
  boa_engine/src/object/builtins/jsfunction.rs
  boa_engine/src/object/builtins/jspromise.rs
  boa_engine/src/object/builtins/jsregexp.rs
  boa_engine/src/object/internal_methods/function.rs
  boa_engine/src/object/mod.rs
  boa_engine/src/object/operations.rs
  boa_examples/src/bin/modules.rs
  boa_examples/src/bin/synthetic.rs
  boa_tester/src/exec/mod.rs
Labels: API, Internal

#3439 Move ordinary function `[[ConstructorKind]]` to `CodeBlock`
  boa_engine/src/builtins/function/mod.rs
  boa_engine/src/bytecompiler/class.rs
  boa_engine/src/object/internal_methods/function.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/opcode/push/class/mod.rs
Labels: technical debt, execution, Internal

#3440 Move `FunctionKind` to `CodeBlock`
  boa_engine/src/builtins/function/mod.rs
  boa_engine/src/bytecompiler/declarations.rs
  boa_engine/src/bytecompiler/expression/mod.rs
  boa_engine/src/bytecompiler/function.rs
  boa_engine/src/bytecompiler/jump_control.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/bytecompiler/statement/mod.rs
  boa_engine/src/bytecompiler/statement/try.rs
  boa_engine/src/bytecompiler/utils.rs
  boa_engine/src/module/source.rs
  boa_engine/src/object/mod.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/flowgraph/mod.rs
  boa_engine/src/vm/opcode/get/function.rs
  boa_engine/src/vm/opcode/get/generator.rs
  boa_engine/src/vm/opcode/mod.rs
Labels: technical debt, execution, Internal

#3394 Implement `Atomics` builtin
  Cargo.lock
  Cargo.toml
  boa_engine/Cargo.toml
  boa_engine/src/builtins/array_buffer/shared.rs
  boa_engine/src/builtins/array_buffer/utils.rs
  boa_engine/src/builtins/atomics/futex.rs
  boa_engine/src/builtins/atomics/mod.rs
  boa_engine/src/builtins/mod.rs
  boa_engine/src/builtins/temporal/now.rs
  boa_engine/src/builtins/typed_array/builtin.rs
  boa_engine/src/builtins/typed_array/element.rs
  boa_engine/src/builtins/typed_array/element/atomic.rs
  boa_engine/src/builtins/typed_array/element/mod.rs
  boa_engine/src/builtins/typed_array/mod.rs
  boa_engine/src/context/intrinsics.rs
  boa_engine/src/context/mod.rs
  boa_engine/src/lib.rs
  boa_engine/src/small_map/entry.rs
  boa_engine/src/small_map/mod.rs
  boa_engine/src/string/common.rs
  boa_engine/src/sys/fallback/mod.rs
  boa_engine/src/sys/js/mod.rs
  boa_engine/src/sys/mod.rs
  boa_engine/src/value/integer.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/mod.rs
  boa_tester/Cargo.toml
  boa_tester/src/exec/js262.rs
  boa_tester/src/exec/mod.rs
  boa_tester/src/main.rs
  boa_wasm/Cargo.toml
  test262_config.toml
Labels: enhancement, builtins, execution

#3441 Unify generator and ordinary function creation
  boa_engine/src/builtins/function/mod.rs
  boa_engine/src/bytecompiler/class.rs
  boa_engine/src/bytecompiler/declarations.rs
  boa_engine/src/bytecompiler/function.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/context/intrinsics.rs
  boa_engine/src/module/source.rs
  boa_engine/src/object/mod.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/flowgraph/mod.rs
  boa_engine/src/vm/mod.rs
  boa_engine/src/vm/opcode/get/function.rs
  boa_engine/src/vm/opcode/get/generator.rs
  boa_engine/src/vm/opcode/get/mod.rs
  boa_engine/src/vm/opcode/mod.rs
Labels: technical debt, execution, Internal
