Repository boa-dev/boa, pull requests merged in 2023-11, with the labels that each got.

#3432 Move `arguments` object creation to bytecode
  boa_engine/src/bytecompiler/declarations.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/context/mod.rs
  boa_engine/src/object/internal_methods/function.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/flowgraph/mod.rs
  boa_engine/src/vm/opcode/arguments.rs
  boa_engine/src/vm/opcode/define/mod.rs
  boa_engine/src/vm/opcode/mod.rs
Labels: technical debt, execution, Internal

#3433 Move parameter environment creation to bytecode
  boa_engine/src/bytecompiler/declarations.rs
  boa_engine/src/object/internal_methods/function.rs
  boa_engine/src/vm/code_block.rs
Labels: technical debt, execution, Internal

#3443 Temporal duration update and cleanup
  boa_engine/src/builtins/temporal/calendar/iso.rs
  boa_engine/src/builtins/temporal/calendar/mod.rs
  boa_engine/src/builtins/temporal/duration/mod.rs
  boa_engine/src/builtins/temporal/duration/record.rs
  boa_engine/src/builtins/temporal/fields.rs
  boa_engine/src/builtins/temporal/instant/mod.rs
  boa_engine/src/builtins/temporal/mod.rs
  boa_engine/src/builtins/temporal/plain_date/iso.rs
  boa_engine/src/builtins/temporal/plain_date/mod.rs
Labels: builtins

#3453 Prevent `DefVar` opcode emit for global binding
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/vm/opcode/define/mod.rs
Labels: technical debt, execution, Internal

#3462 Update `regex.match` spec and code
  boa_engine/src/builtins/regexp/mod.rs
Labels: bug, builtins

#3478 Class: Switch `make_data` parameter from `this` to `new_target`
  boa_engine/src/class.rs
Labels: enhancement, API

#3488 Add utility methods to the `Class` trait
  boa_engine/src/class.rs
  boa_engine/src/context/hooks.rs
  boa_engine/src/job.rs
  boa_engine/src/object/mod.rs
  boa_examples/src/bin/classes.rs
  boa_runtime/src/console/mod.rs
Labels: enhancement, API
