Repository boa-dev/boa, pull requests merged in 2023-07, with the labels that each got.

#3085 Bump version to 0.17
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
Labels: dependencies

#3118 Fixing the release build errors
  .github/workflows/release.yml
Labels: bug

#3119 Removing the commented-out job
  .github/workflows/release.yml
Labels: bug

#3120 Fix syntax
  .github/workflows/release.yml
Labels: bug

#3117 Allow escaped yield and await in labelled statement
  boa_parser/src/parser/statement/mod.rs
Labels: bug, parser

#3102 Format let-else expressions
  boa_cli/src/debug/function.rs
  boa_cli/src/debug/limits.rs
  boa_cli/src/debug/object.rs
  boa_cli/src/debug/shape.rs
  boa_engine/src/builtins/date/mod.rs
  boa_engine/src/builtins/escape/mod.rs
  boa_engine/src/builtins/generator/mod.rs
  boa_engine/src/builtins/intl/list_format/mod.rs
  boa_engine/src/builtins/intl/segmenter/iterator.rs
  boa_engine/src/builtins/intl/segmenter/segments.rs
  boa_engine/src/builtins/object/mod.rs
  boa_engine/src/builtins/promise/mod.rs
  boa_engine/src/builtins/set/mod.rs
  boa_engine/src/class.rs
  boa_engine/src/lib.rs
  boa_engine/src/module/source.rs
  boa_engine/src/object/internal_methods/module_namespace.rs
  boa_engine/src/object/shape/slot.rs
  boa_engine/src/string/mod.rs
  boa_engine/src/vm/opcode/iteration/iterator.rs
  boa_macros/src/lib.rs
  boa_parser/src/lexer/mod.rs
  boa_parser/src/parser/expression/primary/object_initializer/mod.rs
  boa_parser/src/parser/function/mod.rs
  boa_parser/src/parser/statement/declaration/mod.rs
  boa_runtime/src/lib.rs
  boa_tester/src/exec/mod.rs
Labels: enhancement, Internal

#3108 Move `RefCell` of `CompileTimeEnvironment`s to field `bindings`
  boa_engine/src/bytecompiler/declarations.rs
  boa_engine/src/bytecompiler/env.rs
  boa_engine/src/bytecompiler/expression/assign.rs
  boa_engine/src/bytecompiler/expression/update.rs
  boa_engine/src/bytecompiler/function.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/environments/compile.rs
  boa_engine/src/environments/runtime/declarative/mod.rs
  boa_engine/src/environments/runtime/declarative/module.rs
  boa_engine/src/environments/runtime/mod.rs
  boa_engine/src/module/source.rs
  boa_engine/src/object/internal_methods/module_namespace.rs
  boa_engine/src/realm.rs
  boa_engine/src/vm/code_block.rs
Labels: Internal

#3096 `TypedArray.prototype.values()` and `TypedArray.prototype[@@iterator]` should be equal
  boa_engine/src/builtins/typed_array/mod.rs
Labels: bug, builtins

#3122 Removed time 0.1 dependency, updated dependencies
  Cargo.lock
  boa_ast/Cargo.toml
  boa_cli/Cargo.toml
  boa_engine/Cargo.toml
  boa_interner/Cargo.toml
  boa_macros/Cargo.toml
  boa_tester/Cargo.toml
  boa_wasm/Cargo.toml
  package-lock.json
Labels: dependencies

#3107 Change `name` field type in `CodeBlock` to `JsString`
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/flowgraph/mod.rs
  boa_runtime/src/console/mod.rs
Labels: Internal

#3094 Add regexp indices (`d` flag) support
  boa_engine/src/builtins/regexp/mod.rs
Labels: enhancement, builtins

#3111 Add missing 'unscopables' to `Array.prototype[@@unscopables]`
  boa_engine/src/builtins/array/mod.rs
Labels: enhancement, builtins

#3123 Add new CLI options to usage in README
  README.md
Labels: documentation

#3124 Updated Fuzzer dependencies and added them to Dependabot
  .github/dependabot.yml
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  fuzz/fuzz_targets/common.rs
  fuzz/fuzz_targets/parser-idempotency.rs
Labels: enhancement, dependencies, test

#3140 Fix 1.71.0 lints
  boa_engine/src/context/mod.rs
  boa_engine/src/module/mod.rs
  boa_engine/src/object/builtins/jsdataview.rs
  boa_examples/src/bin/modulehandler.rs
Labels: Internal

#3135 Implement `findLast` and `findLastIndex` on TypedArray
  boa_engine/src/builtins/typed_array/mod.rs
Labels: enhancement, builtins

#3129 Implement i128/u128 to JsBigInt conversions
  boa_engine/src/bigint.rs
Labels: enhancement, API

#3109 Find roots when running GC rather than runtime
  boa_engine/src/builtins/array/mod.rs
  boa_engine/src/lib.rs
  boa_engine/src/native_function.rs
  boa_gc/src/cell.rs
  boa_gc/src/internals/ephemeron_box.rs
  boa_gc/src/internals/gc_box.rs
  boa_gc/src/lib.rs
  boa_gc/src/pointers/ephemeron.rs
  boa_gc/src/pointers/gc.rs
  boa_gc/src/pointers/mod.rs
  boa_gc/src/pointers/rootable.rs
  boa_gc/src/pointers/weak.rs
  boa_gc/src/pointers/weak_map.rs
  boa_gc/src/test/weak.rs
  boa_gc/src/trace.rs
  boa_macros/src/lib.rs
Labels: optimisation, gc

#3171 Fix TypedArrayConstructors tests
  boa_engine/src/builtins/array_buffer/mod.rs
  boa_engine/src/builtins/typed_array/mod.rs
  boa_engine/src/object/internal_methods/integer_indexed.rs
Labels: bug, builtins

#3059 Refactor environment, exception handling and jumping in VM
  boa_engine/src/builtins/eval/mod.rs
  boa_engine/src/builtins/generator/mod.rs
  boa_engine/src/builtins/json/mod.rs
  boa_engine/src/bytecompiler/class.rs
  boa_engine/src/bytecompiler/declaration/declaration_pattern.rs
  boa_engine/src/bytecompiler/declarations.rs
  boa_engine/src/bytecompiler/env.rs
  boa_engine/src/bytecompiler/expression/mod.rs
  boa_engine/src/bytecompiler/function.rs
  boa_engine/src/bytecompiler/jump_control.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/bytecompiler/statement/break.rs
  boa_engine/src/bytecompiler/statement/continue.rs
  boa_engine/src/bytecompiler/statement/labelled.rs
  boa_engine/src/bytecompiler/statement/loop.rs
  boa_engine/src/bytecompiler/statement/mod.rs
  boa_engine/src/bytecompiler/statement/switch.rs
  boa_engine/src/bytecompiler/statement/try.rs
  boa_engine/src/bytecompiler/utils.rs
  boa_engine/src/module/source.rs
  boa_engine/src/script.rs
  boa_engine/src/vm/call_frame/abrupt_record.rs
  boa_engine/src/vm/call_frame/env_stack.rs
  boa_engine/src/vm/call_frame/mod.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/flowgraph/mod.rs
  boa_engine/src/vm/mod.rs
  boa_engine/src/vm/opcode/await_stm/mod.rs
  boa_engine/src/vm/opcode/control_flow/break.rs
  boa_engine/src/vm/opcode/control_flow/continue.rs
  boa_engine/src/vm/opcode/control_flow/finally.rs
  boa_engine/src/vm/opcode/control_flow/labelled.rs
  boa_engine/src/vm/opcode/control_flow/mod.rs
  boa_engine/src/vm/opcode/control_flow/return.rs
  boa_engine/src/vm/opcode/control_flow/throw.rs
  boa_engine/src/vm/opcode/control_flow/try.rs
  boa_engine/src/vm/opcode/generator/mod.rs
  boa_engine/src/vm/opcode/generator/yield_stm.rs
  boa_engine/src/vm/opcode/iteration/iterator.rs
  boa_engine/src/vm/opcode/iteration/loop_ops.rs
  boa_engine/src/vm/opcode/jump/mod.rs
  boa_engine/src/vm/opcode/mod.rs
  boa_engine/src/vm/opcode/pop/mod.rs
  boa_engine/src/vm/opcode/push/environment.rs
  docs/boa_object.md
  docs/vm.md
Labels: optimisation, technical debt

#3164 Close iterator after generator return call while array destructuring assignment
  boa_engine/src/bytecompiler/declaration/declaration_pattern.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/flowgraph/mod.rs
  boa_engine/src/vm/opcode/control_flow/throw.rs
  boa_engine/src/vm/opcode/mod.rs
Labels: bug, execution, vm

#3187 Implement `String.prototype.isWellFormed` and `String.prototype.toWellFormed`
  boa_engine/src/builtins/string/mod.rs
  test_ignore.toml
Labels: enhancement, builtins

#3179 Refactor `Context::run()` method
  boa_engine/src/builtins/function/mod.rs
  boa_engine/src/bytecompiler/declarations.rs
  boa_engine/src/bytecompiler/function.rs
  boa_engine/src/bytecompiler/jump_control.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/environments/runtime/mod.rs
  boa_engine/src/module/source.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/flowgraph/mod.rs
  boa_engine/src/vm/mod.rs
  boa_engine/src/vm/opcode/await/mod.rs
  boa_engine/src/vm/opcode/control_flow/jump.rs
  boa_engine/src/vm/opcode/control_flow/mod.rs
  boa_engine/src/vm/opcode/generator/mod.rs
  boa_engine/src/vm/opcode/mod.rs
Labels: technical debt, execution
