Repository boa-dev/boa, pull requests merged in 2023-06, with the labels that each got.

#2990 Fix rust 1.70 lints
  boa_engine/src/bytecompiler/statement/continue.rs
  boa_engine/src/string/mod.rs
  boa_engine/src/value/tests.rs
  boa_engine/src/vm/opcode/rest_parameter/mod.rs
Labels: Internal

#2992 Fix WASM playground
  Cargo.lock
  boa_engine/src/context/mod.rs
  boa_engine/src/module/mod.rs
  boa_wasm/Cargo.toml
  boa_wasm/src/lib.rs
Labels: bug, webassembly, execution

#2993 Correctly initialize functions inside modules
  boa_ast/src/operations.rs
  boa_engine/src/bytecompiler/declarations.rs
  boa_engine/src/module/source.rs
Labels: bug, execution, vm

#2960 show object kind, name and address when using dbg!
  boa_engine/src/object/jsobject.rs
Labels: enhancement, API

#2994 Allow `true`, `false` and `null` in object patterns
  boa_engine/src/tests/mod.rs
  boa_parser/src/parser/statement/mod.rs
Labels: bug, parser

#2995 Fix panic in optional expressions with private identifiers
  boa_ast/src/operations.rs
  boa_parser/src/parser/expression/left_hand_side/optional/tests.rs
Labels: bug, parser

#2986 Fix prompt on windows
  boa_cli/src/helper.rs
  boa_cli/src/main.rs
  boa_engine/src/optimizer/mod.rs
Labels: bug, cli, windows

#2989 test: add wasm32 target e2e test
  .github/workflows/webassembly.yml
  .gitignore
  .prettierignore
  boa_wasm/e2e_test/boa_demo.spec.ts
  boa_wasm/e2e_test/playwright.config.ts
  boa_wasm/e2e_test/server.mjs
  index.html
  package-lock.json
  package.json
  webpack.config.js
Labels: test, webassembly

#3001 Fix panic in constructor call
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/tests.rs
Labels: bug, execution

#2976 Unify async iterators and iterators compilation
  .vscode/launch.json
  .vscode/tasks.json
  boa_cli/src/main.rs
  boa_engine/src/builtins/array/mod.rs
  boa_engine/src/builtins/async_generator/mod.rs
  boa_engine/src/builtins/intl/list_format/mod.rs
  boa_engine/src/builtins/iterable/async_from_sync_iterator.rs
  boa_engine/src/builtins/iterable/mod.rs
  boa_engine/src/builtins/map/mod.rs
  boa_engine/src/builtins/promise/mod.rs
  boa_engine/src/builtins/set/mod.rs
  boa_engine/src/builtins/weak_set/mod.rs
  boa_engine/src/bytecompiler/declaration/declaration_pattern.rs
  boa_engine/src/bytecompiler/declarations.rs
  boa_engine/src/bytecompiler/expression/mod.rs
  boa_engine/src/bytecompiler/jump_control.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/bytecompiler/statement/continue.rs
  boa_engine/src/bytecompiler/statement/loop.rs
  boa_engine/src/bytecompiler/statement/mod.rs
  boa_engine/src/bytecompiler/utils.rs
  boa_engine/src/job.rs
  boa_engine/src/tests/iterators.rs
  boa_engine/src/tests/mod.rs
  boa_engine/src/vm/call_frame/env_stack.rs
  boa_engine/src/vm/call_frame/mod.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/completion_record.rs
  boa_engine/src/vm/flowgraph/graph.rs
  boa_engine/src/vm/flowgraph/mod.rs
  boa_engine/src/vm/mod.rs
  boa_engine/src/vm/opcode/control_flow/throw.rs
  boa_engine/src/vm/opcode/generator/mod.rs
  boa_engine/src/vm/opcode/generator/yield_stm.rs
  boa_engine/src/vm/opcode/iteration/for_in.rs
  boa_engine/src/vm/opcode/iteration/get.rs
  boa_engine/src/vm/opcode/iteration/iterator.rs
  boa_engine/src/vm/opcode/iteration/loop_ops.rs
  boa_engine/src/vm/opcode/mod.rs
  boa_engine/src/vm/opcode/push/array.rs
Labels: bug, builtins, execution

#3006 Correctly parse `yield import(..)` expressions
  boa_parser/src/parser/expression/assignment/yield.rs
Labels: bug, parser

#2996 Return the correct value during a labelled break
  boa_engine/src/bytecompiler/statement/break.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/flowgraph/mod.rs
  boa_engine/src/vm/opcode/control_flow/break.rs
  boa_engine/src/vm/opcode/mod.rs
Labels: bug, execution

#3018 Fix panics on empty return values
  boa_ast/src/operations.rs
  boa_ast/src/statement/mod.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/bytecompiler/statement/break.rs
  boa_engine/src/bytecompiler/statement/if.rs
  boa_engine/src/bytecompiler/statement/loop.rs
  boa_engine/src/bytecompiler/statement/switch.rs
  boa_engine/src/bytecompiler/statement/try.rs
  boa_engine/src/bytecompiler/statement/with.rs
  boa_engine/src/vm/tests.rs
Labels: bug, execution

#3019 Add early error for `await` in class static blocks
  boa_parser/src/parser/statement/declaration/hoistable/class_decl/mod.rs
Labels: bug, parser

#3007 Add convenience methods to `ModuleLoader`
  boa_engine/src/module/mod.rs
  boa_examples/src/bin/modules.rs
Labels: enhancement, API

#3023 Merge `private_names` into `names` constant pool
  boa_engine/src/bytecompiler/declarations.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/environments/runtime/mod.rs
  boa_engine/src/environments/runtime/private.rs
  boa_engine/src/object/jsobject.rs
  boa_engine/src/object/mod.rs
  boa_engine/src/object/operations.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/opcode/binary_ops/mod.rs
  boa_engine/src/vm/opcode/get/private.rs
  boa_engine/src/vm/opcode/push/class/field.rs
  boa_engine/src/vm/opcode/push/class/private.rs
  boa_engine/src/vm/opcode/push/environment.rs
  boa_engine/src/vm/opcode/set/private.rs
Labels: optimisation

#3022 Remove `[[ClassFieldInitializerName]]` from `CodeBlock`
  boa_engine/src/builtins/eval/mod.rs
  boa_engine/src/builtins/function/mod.rs
  boa_engine/src/bytecompiler/class.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/vm/code_block.rs
Labels: optimisation, technical debt

#3024 Remove `mutate_immutable` and `silent` checks from Opcodes
  boa_engine/src/bytecompiler/declarations.rs
  boa_engine/src/bytecompiler/env.rs
  boa_engine/src/bytecompiler/expression/assign.rs
  boa_engine/src/bytecompiler/expression/update.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/bytecompiler/statement/loop.rs
  boa_engine/src/environments/compile.rs
  boa_engine/src/environments/mod.rs
  boa_engine/src/environments/runtime/mod.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/flowgraph/mod.rs
  boa_engine/src/vm/opcode/define/mod.rs
  boa_engine/src/vm/opcode/delete/mod.rs
  boa_engine/src/vm/opcode/get/name.rs
  boa_engine/src/vm/opcode/mod.rs
  boa_engine/src/vm/opcode/set/name.rs
Labels: optimisation, vm

#3027 Optimize `Swap` opcode
  boa_engine/src/vm/opcode/swap/mod.rs
Labels: optimisation

#3036 Allow `JobQueue` to concurrently run jobs
  boa_engine/src/context/mod.rs
  boa_engine/src/job.rs
Labels: enhancement, execution, API

#3017 Make `IntegerIndexed::byte_offset` public
  boa_engine/src/builtins/typed_array/integer_indexed_object.rs
Labels: enhancement, API

#3011 Allow awaiting `JsPromise` from Rust code
  Cargo.lock
  boa_engine/Cargo.toml
  boa_engine/src/builtins/promise/mod.rs
  boa_engine/src/native_function.rs
  boa_engine/src/object/builtins/jspromise.rs
  boa_gc/src/trace.rs
  boa_icu_provider/src/lib.rs
Labels: enhancement, API

#3026 Fix super property access
  boa_engine/src/bytecompiler/class.rs
  boa_engine/src/bytecompiler/declaration/declaration_pattern.rs
  boa_engine/src/bytecompiler/expression/assign.rs
  boa_engine/src/bytecompiler/expression/mod.rs
  boa_engine/src/bytecompiler/expression/object_literal.rs
  boa_engine/src/bytecompiler/expression/update.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/flowgraph/mod.rs
  boa_engine/src/vm/opcode/get/property.rs
  boa_engine/src/vm/opcode/mod.rs
  boa_engine/src/vm/opcode/set/home_object.rs
  boa_engine/src/vm/opcode/set/property.rs
Labels: bug, execution

#3062 Skip reversing arguments in SuperCallDerived
  boa_engine/src/vm/opcode/environment/mod.rs
  boa_engine/src/vm/opcode/mod.rs
Labels: bug, vm

#3049 Mark header of rooted ephemerons when tracing
  boa_gc/src/internals/ephemeron_box.rs
  boa_gc/src/lib.rs
  boa_gc/src/test/weak.rs
Labels: bug, gc

#3053 Simplify/Refactor exception handling and last statement value
  boa_engine/src/bytecompiler/class.rs
  boa_engine/src/bytecompiler/expression/mod.rs
  boa_engine/src/bytecompiler/function.rs
  boa_engine/src/bytecompiler/jump_control.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/bytecompiler/statement/break.rs
  boa_engine/src/bytecompiler/statement/continue.rs
  boa_engine/src/bytecompiler/statement/if.rs
  boa_engine/src/bytecompiler/statement/labelled.rs
  boa_engine/src/bytecompiler/statement/loop.rs
  boa_engine/src/bytecompiler/statement/mod.rs
  boa_engine/src/bytecompiler/statement/switch.rs
  boa_engine/src/bytecompiler/statement/try.rs
  boa_engine/src/bytecompiler/statement/with.rs
  boa_engine/src/vm/call_frame/env_stack.rs
  boa_engine/src/vm/call_frame/mod.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/flowgraph/mod.rs
  boa_engine/src/vm/mod.rs
  boa_engine/src/vm/opcode/control_flow/break.rs
  boa_engine/src/vm/opcode/control_flow/catch.rs
  boa_engine/src/vm/opcode/control_flow/continue.rs
  boa_engine/src/vm/opcode/control_flow/mod.rs
  boa_engine/src/vm/opcode/control_flow/return.rs
  boa_engine/src/vm/opcode/control_flow/throw.rs
  boa_engine/src/vm/opcode/control_flow/try.rs
  boa_engine/src/vm/opcode/generator/mod.rs
  boa_engine/src/vm/opcode/iteration/loop_ops.rs
  boa_engine/src/vm/opcode/mod.rs
  boa_engine/src/vm/opcode/pop/mod.rs
Labels: optimisation, technical debt, Internal

#3069 Deprecate `boa_unicode`
  Cargo.lock
  boa_unicode/Cargo.toml
  boa_unicode/README.md
Labels: deprecations

#3072 Remove `include_str` in boa_unicode
  boa_unicode/src/lib.rs
Labels: documentation, deprecations

#3071 Cache `cargo-tarpaulin` binary
  .github/workflows/rust.yml
  boa_wasm/src/lib.rs
Labels: enhancement, github_actions

#3074 Copy `ABOUT.md` file to all published crates
  boa_ast/ABOUT.md
  boa_ast/src/lib.rs
  boa_cli/ABOUT.md
  boa_cli/src/main.rs
  boa_engine/ABOUT.md
  boa_engine/src/lib.rs
  boa_gc/ABOUT.md
  boa_gc/src/lib.rs
  boa_icu_provider/ABOUT.md
  boa_icu_provider/src/lib.rs
  boa_interner/ABOUT.md
  boa_interner/src/lib.rs
  boa_macros/ABOUT.md
  boa_macros/src/lib.rs
  boa_parser/ABOUT.md
  boa_parser/src/lib.rs
  boa_profiler/ABOUT.md
  boa_profiler/src/lib.rs
  boa_runtime/ABOUT.md
  boa_runtime/src/lib.rs
  boa_tester/ABOUT.md
  boa_tester/src/main.rs
  boa_wasm/ABOUT.md
  boa_wasm/src/lib.rs
Labels: bug, documentation

#3073 Correctly handle finally..loop..break
  boa_engine/src/tests/control_flow/mod.rs
  boa_engine/src/vm/opcode/control_flow/finally.rs
Labels: bug, vm

#3070 Remove `boa_unicode`
  .github/dependabot.yml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  boa_unicode/Cargo.toml
  boa_unicode/README.md
  boa_unicode/build_tables.js
  boa_unicode/package.json
  boa_unicode/src/lib.rs
  boa_unicode/src/tables.rs
  boa_unicode/src/tests.rs
Labels: dependencies, deprecations

#3082 add link to the main logo
  README.md
Labels: enhancement, technical debt, documentation

#3083 Prepare for release 0.17
  Cargo.lock
  boa_ast/Cargo.toml
  boa_engine/Cargo.toml
  boa_interner/Cargo.toml
  boa_macros/Cargo.toml
  boa_parser/Cargo.toml
  boa_tester/Cargo.toml
  package-lock.json
Labels: dependencies
