Repository boa-dev/boa, pull requests merged in 2023-05, with the labels that each got.

#2876 Make update operations reuse the last found binding locator
  boa_engine/src/builtins/json/mod.rs
  boa_engine/src/bytecompiler/class.rs
  boa_engine/src/bytecompiler/expression/assign.rs
  boa_engine/src/bytecompiler/expression/update.rs
  boa_engine/src/bytecompiler/function.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/bytecompiler/statement/block.rs
  boa_engine/src/bytecompiler/statement/switch.rs
  boa_engine/src/bytecompiler/statement/try.rs
  boa_engine/src/context/mod.rs
  boa_engine/src/environments/compile.rs
  boa_engine/src/environments/runtime.rs
  boa_engine/src/vm/call_frame/mod.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/flowgraph/mod.rs
  boa_engine/src/vm/mod.rs
  boa_engine/src/vm/opcode/get/name.rs
  boa_engine/src/vm/opcode/mod.rs
  boa_engine/src/vm/opcode/set/name.rs
Labels: execution, vm

#2891 Docs update for boa_runtime and console documentation
  boa_engine/src/lib.rs
  boa_runtime/src/lib.rs
Labels: documentation

#2885 Added a bunch more tests
  boa_engine/src/builtins/array_buffer/tests.rs
  boa_engine/src/builtins/regexp/tests.rs
  boa_engine/src/builtins/uri/mod.rs
  boa_engine/src/tests/control_flow/loops.rs
  boa_engine/src/tests/control_flow/mod.rs
  boa_engine/src/tests/function.rs
  boa_engine/src/tests/mod.rs
  boa_engine/src/tests/operators.rs
  boa_engine/src/value/conversions/serde_json.rs
  boa_parser/src/error/mod.rs
  boa_parser/src/error/tests.rs
  boa_parser/src/lexer/error.rs
  boa_parser/src/parser/expression/assignment/arrow_function.rs
  boa_parser/src/parser/expression/assignment/async_arrow_function.rs
  boa_parser/src/source.rs
  boa_unicode/src/lib.rs
  boa_unicode/src/tests.rs
Labels: parser, lexer, test, ast

#2883 Added unit tests for `boa_ast::Keyword`
  boa_ast/src/keyword/mod.rs
  boa_ast/src/keyword/tests.rs
Labels: test, ast

#2899 Enable github queues and remove bors.toml
  .github/workflows/rust.yml
  .github/workflows/test262.yml
  .github/workflows/webassembly.yml
  bors.toml
Labels: github_actions

#2877 Fix `Date` for dynamic timezones
  boa_engine/src/builtins/date/mod.rs
  boa_engine/src/builtins/date/tests.rs
  boa_engine/src/builtins/date/utils.rs
  boa_engine/src/context/hooks.rs
Labels: builtins, API

#2884 Added unit tests for `boa_ast::Punctuator`
  boa_ast/src/punctuator/mod.rs
  boa_ast/src/punctuator/tests.rs
Labels: test, ast

#2887 Refactor binding declarations
  boa_ast/src/operations.rs
  boa_ast/src/statement_list.rs
  boa_ast/src/visitor.rs
  boa_engine/src/builtins/eval/mod.rs
  boa_engine/src/builtins/function/arguments.rs
  boa_engine/src/builtins/json/mod.rs
  boa_engine/src/bytecompiler/class.rs
  boa_engine/src/bytecompiler/declarations.rs
  boa_engine/src/bytecompiler/env.rs
  boa_engine/src/bytecompiler/function.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/bytecompiler/module.rs
  boa_engine/src/bytecompiler/statement/block.rs
  boa_engine/src/bytecompiler/statement/if.rs
  boa_engine/src/bytecompiler/statement/labelled.rs
  boa_engine/src/bytecompiler/statement/loop.rs
  boa_engine/src/bytecompiler/statement/mod.rs
  boa_engine/src/bytecompiler/statement/switch.rs
  boa_engine/src/bytecompiler/statement/try.rs
  boa_engine/src/bytecompiler/statement/with.rs
  boa_engine/src/context/mod.rs
  boa_engine/src/environments/compile.rs
  boa_engine/src/environments/runtime.rs
  boa_engine/src/vm/mod.rs
  boa_engine/src/vm/opcode/mod.rs
  boa_parser/src/parser/statement/block/tests.rs
  boa_parser/src/parser/statement/mod.rs
  boa_parser/src/parser/tests/mod.rs
Labels: vm, ast, Internal

#2857 Implement runtime limits for loops
  boa_cli/src/debug/limits.rs
  boa_cli/src/debug/mod.rs
  boa_engine/src/builtins/array/tests.rs
  boa_engine/src/builtins/bigint/tests.rs
  boa_engine/src/builtins/date/tests.rs
  boa_engine/src/builtins/function/tests.rs
  boa_engine/src/builtins/json/tests.rs
  boa_engine/src/builtins/map/tests.rs
  boa_engine/src/builtins/number/tests.rs
  boa_engine/src/builtins/object/tests.rs
  boa_engine/src/builtins/regexp/tests.rs
  boa_engine/src/builtins/set/tests.rs
  boa_engine/src/builtins/string/tests.rs
  boa_engine/src/bytecompiler/statement/loop.rs
  boa_engine/src/context/mod.rs
  boa_engine/src/environments/tests.rs
  boa_engine/src/error.rs
  boa_engine/src/lib.rs
  boa_engine/src/object/tests.rs
  boa_engine/src/realm.rs
  boa_engine/src/tests/control_flow/loops.rs
  boa_engine/src/tests/control_flow/mod.rs
  boa_engine/src/tests/function.rs
  boa_engine/src/tests/mod.rs
  boa_engine/src/tests/operators.rs
  boa_engine/src/tests/spread.rs
  boa_engine/src/value/tests.rs
  boa_engine/src/vm/call_frame/env_stack.rs
  boa_engine/src/vm/flowgraph/mod.rs
  boa_engine/src/vm/mod.rs
  boa_engine/src/vm/opcode/call/mod.rs
  boa_engine/src/vm/opcode/iteration/loop_ops.rs
  boa_engine/src/vm/opcode/new/mod.rs
  boa_engine/src/vm/runtime_limits.rs
  boa_engine/src/vm/tests.rs
  boa_examples/src/bin/runtime_limits.rs
  docs/boa_object.md
Labels: enhancement, execution

#2796 Direct array length access
  boa_engine/src/builtins/array/mod.rs
  boa_engine/src/object/operations.rs
  boa_engine/src/object/shape/shared_shape/template.rs
Labels: optimisation, execution, run-benchmark

#2902 Make `typeof` throw when accessing uninitialized variables
  boa_engine/src/vm/opcode/get/name.rs
Labels: bug, execution

#2904 Implement runtime limits for recursion
  boa_cli/src/debug/limits.rs
  boa_engine/src/vm/opcode/call/mod.rs
  boa_engine/src/vm/opcode/iteration/loop_ops.rs
  boa_engine/src/vm/opcode/new/mod.rs
  boa_engine/src/vm/runtime_limits.rs
  boa_engine/src/vm/tests.rs
  boa_examples/src/bin/runtime_limits.rs
  docs/boa_object.md
  test_ignore.toml
Labels: enhancement, execution

#2905 Fix wrong name of `Function.prototype[Symbol.hasInstance]`
  boa_engine/src/builtins/function/mod.rs
Labels: bug, builtins

#2906 Fix remaining object literal tests
  boa_engine/src/builtins/function/mod.rs
  boa_engine/src/builtins/mod.rs
  boa_engine/src/bytecompiler/declarations.rs
  boa_engine/src/bytecompiler/expression/object_literal.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/object/mod.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/flowgraph/mod.rs
  boa_engine/src/vm/opcode/get/generator.rs
  boa_engine/src/vm/opcode/mod.rs
  boa_parser/src/parser/expression/assignment/yield.rs
  boa_parser/src/parser/expression/primary/object_initializer/mod.rs
Labels: bug, parser, execution

#2908 Add SyntaxErrors in GlobalDeclarationInstantiation
  boa_engine/src/builtins/string/tests.rs
  boa_engine/src/bytecompiler/declarations.rs
  boa_engine/src/context/mod.rs
  boa_engine/src/tests/operators.rs
  boa_tester/src/exec/mod.rs
  boa_tester/src/main.rs
Labels: bug, test, execution

#2907 Fix switch `default` execution
  boa_ast/src/statement/switch.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/bytecompiler/statement/switch.rs
  boa_engine/src/vm/opcode/mod.rs
  boa_parser/src/parser/statement/switch/mod.rs
  boa_parser/src/parser/statement/switch/tests.rs
Labels: bug, execution

#2910 Implement annexB Block-Level Function Declarations
  boa_ast/src/operations.rs
  boa_engine/src/builtins/eval/mod.rs
  boa_engine/src/builtins/json/mod.rs
  boa_engine/src/bytecompiler/class.rs
  boa_engine/src/bytecompiler/declarations.rs
  boa_engine/src/bytecompiler/env.rs
  boa_engine/src/bytecompiler/function.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/bytecompiler/module.rs
  boa_engine/src/bytecompiler/statement/block.rs
  boa_engine/src/bytecompiler/statement/switch.rs
  boa_engine/src/context/mod.rs
  boa_engine/src/environments/compile.rs
  boa_engine/src/environments/runtime.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/flowgraph/mod.rs
  boa_engine/src/vm/opcode/define/mod.rs
  boa_engine/src/vm/opcode/mod.rs
Labels: enhancement, execution

#2828 Add loop and switch return values
  boa_ast/src/statement/mod.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/bytecompiler/statement/if.rs
  boa_engine/src/bytecompiler/statement/labelled.rs
  boa_engine/src/bytecompiler/statement/loop.rs
  boa_engine/src/bytecompiler/statement/mod.rs
  boa_engine/src/bytecompiler/statement/switch.rs
  boa_engine/src/bytecompiler/statement/try.rs
  boa_engine/src/bytecompiler/statement/with.rs
  boa_engine/src/vm/call_frame/env_stack.rs
  boa_engine/src/vm/call_frame/mod.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/flowgraph/mod.rs
  boa_engine/src/vm/opcode/control_flow/break.rs
  boa_engine/src/vm/opcode/control_flow/continue.rs
  boa_engine/src/vm/opcode/iteration/loop_ops.rs
  boa_engine/src/vm/opcode/mod.rs
Labels: bug, execution, vm

#2916 Allow escaped `let` as expression
  boa_parser/src/parser/statement/expression/mod.rs
  boa_parser/src/parser/statement/mod.rs
Labels: bug, parser

#2915 Allow `let` name in for-in loop in non-strict mode
  boa_parser/src/parser/statement/iteration/for_statement.rs
Labels: bug, parser

#2918 Cleanup some bytecompiler code
  boa_engine/src/bytecompiler/class.rs
  boa_engine/src/bytecompiler/expression/object_literal.rs
  boa_engine/src/bytecompiler/function.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/bytecompiler/statement/try.rs
Labels: vm, Internal

#2921 Separate declarative environment kinds
  boa_engine/src/builtins/eval/mod.rs
  boa_engine/src/builtins/function/arguments.rs
  boa_engine/src/builtins/function/mod.rs
  boa_engine/src/builtins/generator/mod.rs
  boa_engine/src/environments/mod.rs
  boa_engine/src/environments/runtime/declarative/function.rs
  boa_engine/src/environments/runtime/declarative/global.rs
  boa_engine/src/environments/runtime/declarative/lexical.rs
  boa_engine/src/environments/runtime/declarative/mod.rs
  boa_engine/src/environments/runtime/mod.rs
  boa_engine/src/realm.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/mod.rs
  boa_engine/src/vm/opcode/environment/mod.rs
  boa_engine/src/vm/opcode/push/environment.rs
  boa_engine/src/vm/opcode/push/new_target.rs
Labels: execution, vm

#2917 Fix lexical environments in for loops
  boa_ast/src/declaration/variable.rs
  boa_engine/src/bytecompiler/statement/loop.rs
  boa_engine/src/vm/call_frame/env_stack.rs
Labels: bug, execution

#2933 Fix `GetSubstitution`
  boa_engine/src/builtins/regexp/mod.rs
  boa_engine/src/builtins/string/mod.rs
Labels: bug, builtins

#2936 Allow `async` as identifier name in certain contexts
  boa_parser/src/parser/expression/assignment/mod.rs
  boa_parser/src/parser/expression/primary/mod.rs
  boa_parser/src/parser/statement/expression/mod.rs
  boa_parser/src/parser/statement/iteration/for_statement.rs
  boa_parser/src/parser/statement/mod.rs
Labels: bug, parser

#2925 Fix tagged template creation
  boa_ast/src/expression/tagged_template.rs
  boa_engine/src/builtins/eval/mod.rs
  boa_engine/src/builtins/function/mod.rs
  boa_engine/src/bytecompiler/expression/mod.rs
  boa_engine/src/context/mod.rs
  boa_engine/src/realm.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/flowgraph/mod.rs
  boa_engine/src/vm/opcode/mod.rs
  boa_engine/src/vm/opcode/templates/mod.rs
  boa_parser/src/parser/cursor/mod.rs
  boa_parser/src/parser/expression/left_hand_side/template.rs
  boa_parser/src/parser/mod.rs
Labels: bug, parser, execution

#2938 Extract "About Boa" section into a separate file
  ABOUT.md
  boa_ast/src/lib.rs
  boa_cli/src/main.rs
  boa_engine/src/lib.rs
  boa_gc/src/lib.rs
  boa_icu_provider/src/lib.rs
  boa_interner/src/lib.rs
  boa_macros/src/lib.rs
  boa_parser/src/lib.rs
  boa_profiler/src/lib.rs
  boa_runtime/src/lib.rs
  boa_tester/src/main.rs
  boa_unicode/src/lib.rs
  boa_wasm/src/lib.rs
Labels: documentation

#2939 Add period to ABOUT.md
  ABOUT.md
Labels: documentation

#2922 Implement module execution
  .gitignore
  Cargo.lock
  boa_ast/src/declaration/export.rs
  boa_ast/src/declaration/import.rs
  boa_ast/src/module_item_list/mod.rs
  boa_cli/src/main.rs
  boa_engine/src/builtins/json/mod.rs
  boa_engine/src/builtins/promise/mod.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/bytecompiler/module.rs
  boa_engine/src/context/intrinsics.rs
  boa_engine/src/context/mod.rs
  boa_engine/src/environments/runtime/declarative/mod.rs
  boa_engine/src/environments/runtime/declarative/module.rs
  boa_engine/src/environments/runtime/mod.rs
  boa_engine/src/lib.rs
  boa_engine/src/module/mod.rs
  boa_engine/src/module/source.rs
  boa_engine/src/object/internal_methods/immutable_prototype.rs
  boa_engine/src/object/internal_methods/mod.rs
  boa_engine/src/object/internal_methods/module_namespace.rs
  boa_engine/src/object/jsobject.rs
  boa_engine/src/object/mod.rs
  boa_engine/src/realm.rs
  boa_examples/scripts/modules/operations.mjs
  boa_examples/scripts/modules/trig.mjs
  boa_examples/src/bin/modules.rs
  boa_gc/src/cell.rs
  boa_gc/src/pointers/ephemeron.rs
  boa_gc/src/pointers/gc.rs
  boa_interner/Cargo.toml
  boa_interner/src/sym.rs
  boa_parser/src/parser/statement/declaration/export.rs
  boa_parser/src/parser/statement/declaration/import.rs
  boa_parser/src/parser/statement/declaration/mod.rs
  boa_parser/src/parser/statement/mod.rs
  boa_tester/src/exec/mod.rs
Labels: enhancement, execution, API

#2929 Implement Runtime Private Environments
  boa_ast/src/function/class.rs
  boa_ast/src/operations.rs
  boa_engine/src/builtins/function/mod.rs
  boa_engine/src/bytecompiler/class.rs
  boa_engine/src/bytecompiler/declarations.rs
  boa_engine/src/environments/mod.rs
  boa_engine/src/environments/runtime/mod.rs
  boa_engine/src/environments/runtime/private.rs
  boa_engine/src/object/jsobject.rs
  boa_engine/src/object/mod.rs
  boa_engine/src/object/operations.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/flowgraph/mod.rs
  boa_engine/src/vm/opcode/binary_ops/mod.rs
  boa_engine/src/vm/opcode/get/private.rs
  boa_engine/src/vm/opcode/mod.rs
  boa_engine/src/vm/opcode/push/class/field.rs
  boa_engine/src/vm/opcode/push/class/private.rs
  boa_engine/src/vm/opcode/push/environment.rs
  boa_engine/src/vm/opcode/set/private.rs
  boa_parser/src/parser/cursor/mod.rs
  boa_parser/src/parser/expression/left_hand_side/call.rs
  boa_parser/src/parser/expression/left_hand_side/member.rs
  boa_parser/src/parser/expression/left_hand_side/optional/mod.rs
  boa_parser/src/parser/expression/mod.rs
  boa_parser/src/parser/mod.rs
  boa_parser/src/parser/statement/declaration/hoistable/class_decl/mod.rs
  boa_parser/src/parser/statement/mod.rs
Labels: bug, parser, execution, ast

#2946 Fix `use_self` lints
  boa_engine/src/builtins/function/mod.rs
  boa_engine/src/builtins/intl/segmenter/mod.rs
  boa_engine/src/builtins/intl/segmenter/options.rs
  boa_engine/src/builtins/intl/segmenter/segments.rs
  boa_engine/src/builtins/mod.rs
  boa_engine/src/builtins/promise/mod.rs
  boa_engine/src/environments/runtime/declarative/function.rs
  boa_engine/src/environments/runtime/declarative/mod.rs
  boa_engine/src/error.rs
  boa_engine/src/lib.rs
  boa_engine/src/module/mod.rs
  boa_engine/src/module/source.rs
  boa_engine/src/object/builtins/jspromise.rs
  boa_engine/src/object/shape/mod.rs
  boa_engine/src/object/shape/shared_shape/mod.rs
  boa_engine/src/object/shape/slot.rs
  boa_engine/src/string/mod.rs
  boa_engine/src/tagged.rs
  boa_engine/src/vm/completion_record.rs
  boa_gc/src/pointers/gc.rs
Labels: Internal

#2940 Type safe root shape
  boa_engine/benches/full.rs
  boa_engine/src/builtins/weak/weak_ref.rs
  boa_engine/src/builtins/weak_map/mod.rs
  boa_engine/src/builtins/weak_set/mod.rs
  boa_engine/src/context/intrinsics.rs
  boa_engine/src/context/mod.rs
  boa_engine/src/object/jsobject.rs
  boa_engine/src/object/property_map.rs
  boa_engine/src/object/shape/mod.rs
  boa_engine/src/object/shape/root_shape.rs
  boa_engine/src/object/shape/shared_shape/mod.rs
  boa_engine/src/object/shape/shared_shape/template.rs
  boa_engine/src/object/shape/unique_shape.rs
  boa_engine/src/realm.rs
Labels: enhancement, API

#2950 Shrink environment binding locators
  boa_engine/src/builtins/eval/mod.rs
  boa_engine/src/builtins/function/arguments.rs
  boa_engine/src/bytecompiler/class.rs
  boa_engine/src/bytecompiler/env.rs
  boa_engine/src/bytecompiler/function.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/bytecompiler/statement/block.rs
  boa_engine/src/bytecompiler/statement/loop.rs
  boa_engine/src/bytecompiler/statement/switch.rs
  boa_engine/src/bytecompiler/statement/try.rs
  boa_engine/src/environments/compile.rs
  boa_engine/src/environments/runtime/declarative/function.rs
  boa_engine/src/environments/runtime/declarative/global.rs
  boa_engine/src/environments/runtime/declarative/lexical.rs
  boa_engine/src/environments/runtime/declarative/mod.rs
  boa_engine/src/environments/runtime/declarative/module.rs
  boa_engine/src/environments/runtime/mod.rs
  boa_engine/src/object/internal_methods/arguments.rs
  boa_engine/src/realm.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/opcode/push/environment.rs
Labels: optimisation, execution

#2957 Fix remaining ES5 `built-ins/RegExp` tests
  boa_engine/src/builtins/regexp/mod.rs
Labels: bug, builtins

#2955 Fix remaining static module bugs
  .vscode/launch.json
  Cargo.lock
  boa_ast/Cargo.toml
  boa_ast/src/declaration/export.rs
  boa_ast/src/module_item_list/mod.rs
  boa_engine/src/bytecompiler/declarations.rs
  boa_engine/src/bytecompiler/env.rs
  boa_engine/src/bytecompiler/expression/mod.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/bytecompiler/module.rs
  boa_engine/src/bytecompiler/statement/labelled.rs
  boa_engine/src/module/source.rs
  boa_engine/src/object/internal_methods/module_namespace.rs
  boa_engine/src/tests/mod.rs
  boa_parser/src/parser/expression/identifiers.rs
  boa_parser/src/parser/statement/declaration/export.rs
  boa_parser/src/parser/statement/declaration/import.rs
  test_ignore.toml
Labels: bug, test, execution

#2956 Implement pseudo-property `import.meta`
  boa_ast/src/expression/mod.rs
  boa_engine/src/bytecompiler/expression/mod.rs
  boa_engine/src/module/mod.rs
  boa_engine/src/module/source.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/flowgraph/mod.rs
  boa_engine/src/vm/opcode/meta/mod.rs
  boa_engine/src/vm/opcode/mod.rs
  boa_engine/src/vm/opcode/push/mod.rs
  boa_engine/src/vm/opcode/push/new_target.rs
  boa_interner/src/sym.rs
  boa_parser/src/parser/expression/left_hand_side/member.rs
  boa_parser/src/parser/expression/left_hand_side/mod.rs
Labels: enhancement, parser

#2962 Remove redundant `param_count` field from `CallFrame`
  boa_engine/src/vm/call_frame/mod.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/mod.rs
  boa_engine/src/vm/opcode/binary_ops/logical.rs
  boa_engine/src/vm/opcode/control_flow/break.rs
  boa_engine/src/vm/opcode/control_flow/catch.rs
  boa_engine/src/vm/opcode/control_flow/continue.rs
  boa_engine/src/vm/opcode/control_flow/finally.rs
  boa_engine/src/vm/opcode/control_flow/labelled.rs
  boa_engine/src/vm/opcode/control_flow/return.rs
  boa_engine/src/vm/opcode/control_flow/throw.rs
  boa_engine/src/vm/opcode/environment/mod.rs
  boa_engine/src/vm/opcode/generator/mod.rs
  boa_engine/src/vm/opcode/iteration/iterator.rs
  boa_engine/src/vm/opcode/jump/mod.rs
  boa_engine/src/vm/opcode/mod.rs
  boa_engine/src/vm/opcode/rest_parameter/mod.rs
  boa_engine/src/vm/opcode/switch/mod.rs
  boa_engine/src/vm/opcode/templates/mod.rs
Labels: optimisation, execution

#2968 Remove unused lint allows
  boa_engine/src/builtins/boolean/tests.rs
  boa_engine/src/builtins/map/ordered_map.rs
  boa_engine/src/builtins/number/tests.rs
  boa_engine/src/builtins/string/mod.rs
  boa_engine/src/builtins/string/tests.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/object/builtins/jspromise.rs
  boa_engine/src/object/internal_methods/string.rs
  boa_engine/src/realm.rs
  boa_engine/src/string/mod.rs
  boa_engine/src/value/tests.rs
  boa_parser/src/lexer/cursor.rs
  boa_parser/src/lexer/tests.rs
  boa_parser/src/parser/cursor/mod.rs
  boa_parser/src/parser/mod.rs
  boa_parser/src/parser/tests/mod.rs
  boa_profiler/src/lib.rs
  boa_runtime/src/console/mod.rs
  boa_tester/src/main.rs
  boa_tester/src/read.rs
  boa_tester/src/results.rs
Labels: Internal

#2967 Remove unneded `num_bindings` in `Opcode`s and `CodeBlock`
  boa_cli/src/debug/function.rs
  boa_engine/src/builtins/eval/mod.rs
  boa_engine/src/bytecompiler/class.rs
  boa_engine/src/bytecompiler/declarations.rs
  boa_engine/src/bytecompiler/env.rs
  boa_engine/src/bytecompiler/function.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/bytecompiler/statement/block.rs
  boa_engine/src/bytecompiler/statement/loop.rs
  boa_engine/src/bytecompiler/statement/switch.rs
  boa_engine/src/bytecompiler/statement/try.rs
  boa_engine/src/environments/runtime/mod.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/flowgraph/mod.rs
  boa_engine/src/vm/mod.rs
  boa_engine/src/vm/opcode/call/mod.rs
  boa_engine/src/vm/opcode/define/mod.rs
  boa_engine/src/vm/opcode/delete/mod.rs
  boa_engine/src/vm/opcode/mod.rs
  boa_engine/src/vm/opcode/push/environment.rs
  boa_engine/src/vm/opcode/set/name.rs
  boa_engine/src/vm/opcode/set/property.rs
Labels: optimisation, technical debt, execution

#2941 Prune collected shared shapes
  boa_engine/src/object/shape/shared_shape/forward_transition.rs
  boa_engine/src/object/shape/shared_shape/mod.rs
  boa_engine/src/object/shape/shared_shape/tests.rs
  boa_gc/src/pointers/ephemeron.rs
  boa_gc/src/pointers/weak.rs
Labels: execution

#2969 Remove `arguments_binding` field from `CodeBlock`
  boa_engine/src/builtins/function/arguments.rs
  boa_engine/src/bytecompiler/declarations.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/vm/code_block.rs
Labels: optimisation, execution

#2951 Direct conversion from `u8` to `Opcode`
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/flowgraph/mod.rs
  boa_engine/src/vm/mod.rs
  boa_engine/src/vm/opcode/mod.rs
  boa_engine/src/vm/opcode/nop/mod.rs
Labels: optimisation, execution

#2931 Deny Unicode Escapes in boolean and null expressions
  boa_parser/src/lexer/identifier.rs
  boa_parser/src/lexer/tests.rs
  boa_parser/src/lexer/token.rs
  boa_parser/src/parser/expression/assignment/yield.rs
  boa_parser/src/parser/expression/left_hand_side/call.rs
  boa_parser/src/parser/expression/left_hand_side/member.rs
  boa_parser/src/parser/expression/left_hand_side/optional/mod.rs
  boa_parser/src/parser/expression/primary/mod.rs
  boa_parser/src/parser/expression/primary/object_initializer/mod.rs
  boa_parser/src/parser/statement/declaration/hoistable/class_decl/mod.rs
  boa_parser/src/parser/tests/mod.rs
Labels: bug, parser
