Repository boa-dev/boa, pull requests merged in 2023-08, with the labels that each got.

#3092 Clarify usage section in `README.md`
  README.md
Labels: enhancement, documentation

#3186 Fix remaining TypedArray bugs
  boa_engine/src/builtins/array/mod.rs
  boa_engine/src/builtins/typed_array/mod.rs
  boa_engine/src/context/intrinsics.rs
  boa_engine/src/object/internal_methods/integer_indexed.rs
  boa_engine/src/object/internal_methods/mod.rs
Labels: bug, builtins

#3193 Log traces even without message (boa_runtime)
  boa_runtime/src/console/mod.rs
Labels: enhancement

#3052 Implement ephemeron-based weak map
  Cargo.lock
  boa_engine/src/builtins/weak_set/mod.rs
  boa_gc/Cargo.toml
  boa_gc/src/internals/ephemeron_box.rs
  boa_gc/src/internals/weak_map_box.rs
  boa_gc/src/lib.rs
  boa_gc/src/pointers/ephemeron.rs
  boa_gc/src/pointers/mod.rs
  boa_gc/src/pointers/weak.rs
  boa_gc/src/pointers/weak_map.rs
  boa_gc/src/test/mod.rs
  boa_gc/src/test/weak.rs
Labels: enhancement, builtins, gc

#3188 Improve bytecompiler bytecode generation.
  boa_engine/src/bytecompiler/class.rs
  boa_engine/src/bytecompiler/declaration/declaration_pattern.rs
  boa_engine/src/bytecompiler/declarations.rs
  boa_engine/src/bytecompiler/expression/assign.rs
  boa_engine/src/bytecompiler/expression/binary.rs
  boa_engine/src/bytecompiler/expression/mod.rs
  boa_engine/src/bytecompiler/expression/object_literal.rs
  boa_engine/src/bytecompiler/expression/unary.rs
  boa_engine/src/bytecompiler/expression/update.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/bytecompiler/module.rs
  boa_engine/src/bytecompiler/statement/loop.rs
  boa_engine/src/bytecompiler/utils.rs
  boa_engine/src/module/source.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/flowgraph/mod.rs
  boa_engine/src/vm/opcode/mod.rs
  boa_engine/src/vm/opcode/push/numbers.rs
Labels: enhancement, Internal

#3207 Add early errors for `LexicalDeclaration`
  boa_parser/src/parser/statement/declaration/lexical.rs
  boa_parser/src/parser/statement/declaration/tests.rs
Labels: bug, parser

#3205 Fix switch statement `break` and `continue` return values
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/bytecompiler/statement/try.rs
Labels: bug, execution

#3185 Use main stack for calling ordinary functions
  boa_engine/src/builtins/eval/mod.rs
  boa_engine/src/builtins/generator/mod.rs
  boa_engine/src/bytecompiler/declaration/declaration_pattern.rs
  boa_engine/src/bytecompiler/expression/mod.rs
  boa_engine/src/bytecompiler/function.rs
  boa_engine/src/bytecompiler/jump_control.rs
  boa_engine/src/bytecompiler/mod.rs
  boa_engine/src/bytecompiler/statement/mod.rs
  boa_engine/src/vm/call_frame/mod.rs
  boa_engine/src/vm/code_block.rs
  boa_engine/src/vm/mod.rs
  boa_engine/src/vm/opcode/await/mod.rs
  boa_engine/src/vm/opcode/control_flow/return.rs
  boa_engine/src/vm/opcode/generator/mod.rs
Labels: technical debt, execution
