Repository boa-dev/boa, pull requests merged in 2024-06, with the labels that each got.

#3870 Fix base objects in `with` statements
  core/engine/src/builtins/eval/mod.rs
  core/engine/src/builtins/function/mod.rs
  core/engine/src/builtins/json/mod.rs
  core/engine/src/bytecompiler/class.rs
  core/engine/src/bytecompiler/declarations.rs
  core/engine/src/bytecompiler/function.rs
  core/engine/src/bytecompiler/mod.rs
  core/engine/src/bytecompiler/statement/with.rs
  core/engine/src/environments/runtime/mod.rs
  core/engine/src/module/source.rs
  core/engine/src/module/synthetic.rs
  core/engine/src/script.rs
  core/engine/src/vm/code_block.rs
  core/engine/src/vm/flowgraph/mod.rs
  core/engine/src/vm/opcode/environment/mod.rs
  core/engine/src/vm/opcode/mod.rs
Labels: bug, execution

#3844 Adding TryFromJs implementations for BTreeMap and HashMap
  core/engine/src/value/conversions/try_from_js.rs
  core/engine/src/value/conversions/try_from_js/collections.rs
Labels: enhancement, API

#3875 Fix boa cli history
  Cargo.lock
  cli/Cargo.toml
  tests/fuzz/fuzz_targets/common.rs
Labels: bug, dependencies

#3876 Fix hashbang comments by using proper goal symbols
  core/parser/src/lexer/mod.rs
  core/parser/src/parser/mod.rs
Labels: bug, lexer

#3879 Fix AsyncGenerator to correctly handle `return` inside `then`
  core/engine/src/builtins/async_generator/mod.rs
  core/engine/src/tests/async_generator.rs
  core/engine/src/tests/mod.rs
  core/engine/src/vm/call_frame/mod.rs
  core/engine/src/vm/completion_record.rs
  core/engine/src/vm/opcode/await/mod.rs
  core/engine/src/vm/opcode/generator/mod.rs
  core/engine/src/vm/opcode/generator/yield_stm.rs
Labels: bug, vm

#3843 Adding TryFromJs implementations for tuples
  core/engine/src/value/conversions/try_from_js.rs
  core/engine/src/value/conversions/try_from_js/tuples.rs
Labels: enhancement, API

#3880 Bump temporal_rs to latest commit
  Cargo.lock
  Cargo.toml
  core/engine/src/builtins/options.rs
  core/engine/src/builtins/temporal/duration/mod.rs
  core/engine/src/builtins/temporal/error.rs
  core/engine/src/builtins/temporal/instant/mod.rs
  core/engine/src/builtins/temporal/options.rs
  core/engine/src/builtins/temporal/time_zone/mod.rs
  test262_config.toml
Labels: dependencies, Internal

#3882 Remove `FormalParameterList` from `CodeBlock`
  core/engine/src/builtins/function/arguments.rs
  core/engine/src/bytecompiler/declarations.rs
  core/engine/src/bytecompiler/mod.rs
  core/engine/src/vm/code_block.rs
  core/engine/src/vm/opcode/arguments.rs
  core/engine/src/vm/opcode/rest_parameter/mod.rs
Labels: execution, Internal

#3883 Combine `HasProperty` and `Get` operations when possible
  core/engine/src/builtins/array/mod.rs
  core/engine/src/builtins/error/mod.rs
  core/engine/src/builtins/function/arguments.rs
  core/engine/src/builtins/intl/locale/utils.rs
  core/engine/src/builtins/proxy/mod.rs
  core/engine/src/builtins/typed_array/builtin.rs
  core/engine/src/builtins/typed_array/object.rs
  core/engine/src/environments/runtime/mod.rs
  core/engine/src/error.rs
  core/engine/src/module/namespace.rs
  core/engine/src/object/internal_methods/mod.rs
  core/engine/src/object/jsobject.rs
  core/engine/src/object/operations.rs
Labels: performance, execution

#3884 Remove some environment clones
  core/engine/src/builtins/eval/mod.rs
  core/engine/src/builtins/function/arguments.rs
  core/engine/src/environments/runtime/mod.rs
  core/engine/src/module/source.rs
  core/engine/src/module/synthetic.rs
  core/engine/src/vm/opcode/arguments.rs
Labels: performance, execution
