Repository boa-dev/boa, pull requests merged in 2024-04, with the labels that each got.

#3699 Check that `min <= max` in `clamp_finite`
  core/engine/src/value/integer.rs
Labels: Internal, waiting-on-review

#3779 Optimize Regex match check
  Cargo.lock
  Cargo.toml
  core/engine/src/builtins/regexp/mod.rs
Labels: performance

#3787 Remove references to dev docs and npm dependencies
  .github/dependabot.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/webassembly.yml
  ABOUT.md
  CONTRIBUTING.md
  Cargo.lock
  README.md
  cli/ABOUT.md
  core/ast/ABOUT.md
  core/engine/ABOUT.md
  core/gc/ABOUT.md
  core/icu_provider/ABOUT.md
  core/interner/ABOUT.md
  core/interop/ABOUT.md
  core/macros/ABOUT.md
  core/parser/ABOUT.md
  core/profiler/ABOUT.md
  core/runtime/ABOUT.md
  ffi/wasm/Cargo.toml
  ffi/wasm/e2e_test/boa_demo.spec.ts
  ffi/wasm/e2e_test/playwright.config.ts
  ffi/wasm/e2e_test/server.mjs
  ffi/wasm/src/lib.rs
  ffi/wasm/tests/web.rs
  index.html
  index.js
  package-lock.json
  package.json
  webpack.config.js
Labels: enhancement, github_actions

#3792 Cleanup tester deps and patterns
  Cargo.lock
  core/engine/src/lib.rs
  core/engine/src/module/loader.rs
  test262_config.toml
  tests/tester/Cargo.toml
  tests/tester/src/edition.rs
  tests/tester/src/exec/js262.rs
  tests/tester/src/exec/mod.rs
  tests/tester/src/main.rs
  tests/tester/src/read.rs
Labels: enhancement, test

#3793 chore: Update README link to reflect new site paths
  README.md
Labels: bug, documentation

#3794 Build docs.rs docs with all features enabled
  cli/Cargo.toml
  core/ast/Cargo.toml
  core/engine/Cargo.toml
  core/gc/Cargo.toml
  core/icu_provider/Cargo.toml
  core/interner/Cargo.toml
  core/interop/Cargo.toml
  core/macros/Cargo.toml
  core/parser/Cargo.toml
  core/profiler/Cargo.toml
  core/runtime/Cargo.toml
  examples/Cargo.toml
  ffi/wasm/Cargo.toml
  tests/Cargo.toml
  tests/fuzz/Cargo.toml
  tests/macros/Cargo.toml
  tests/tester/Cargo.toml
  tools/gen-icu4x-data/Cargo.toml
  tools/scripts/Cargo.toml
Labels: enhancement, documentation

#3786 Add a new type Convert<> to convert values
  core/engine/src/value/conversions/convert.rs
  core/engine/src/value/conversions/mod.rs
  core/engine/src/value/conversions/try_from_js.rs
  core/engine/src/value/mod.rs
Labels: enhancement, API

#3804 Add functions to create modules from a JSON value
  core/engine/src/module/mod.rs
  core/engine/tests/module.rs
Labels: enhancement, API

#3784 Add an embed_module!() macro to boa_interop
  Cargo.lock
  core/engine/src/module/loader.rs
  core/interop/Cargo.toml
  core/interop/src/lib.rs
  core/interop/src/loaders.rs
  core/interop/src/loaders/embedded.rs
  core/interop/tests/embedded.rs
  core/interop/tests/embedded/dir1/file3.js
  core/interop/tests/embedded/dir1/file4.js
  core/interop/tests/embedded/file1.js
  core/interop/tests/embedded/file2.js
  core/macros/src/embedded_module_loader.rs
  core/macros/src/lib.rs
Labels: enhancement, API

#3802 Add a ContextData struct to inject host defined types from the context
  core/engine/src/context/mod.rs
  core/interop/src/into_js_function_impls.rs
  core/interop/src/lib.rs
Labels: enhancement, API

#3829 Decouple `Context` from `ByteCompiler`
  core/engine/src/builtins/eval/mod.rs
  core/engine/src/builtins/function/mod.rs
  core/engine/src/builtins/json/mod.rs
  core/engine/src/bytecompiler/class.rs
  core/engine/src/bytecompiler/declarations.rs
  core/engine/src/bytecompiler/function.rs
  core/engine/src/bytecompiler/mod.rs
  core/engine/src/module/source.rs
  core/engine/src/module/synthetic.rs
  core/engine/src/script.rs
  core/engine/src/vm/code_block.rs
  core/engine/src/vm/flowgraph/mod.rs
  core/engine/src/vm/opcode/control_flow/throw.rs
  core/engine/src/vm/opcode/define/mod.rs
  core/engine/src/vm/opcode/global.rs
  core/engine/src/vm/opcode/mod.rs
Labels: execution, Internal

#3832 Implement object keys access
  core/engine/src/object/operations.rs
  examples/src/bin/properties.rs
Labels: enhancement, API
