Repository boa-dev/boa, pull requests merged in 2024-05, with the labels that each got.

#3836 Replace `js_str` with `js_string` in examples
  examples/src/bin/classes.rs
  examples/src/bin/closures.rs
  examples/src/bin/futures.rs
  examples/src/bin/jsarray.rs
  examples/src/bin/jsarraybuffer.rs
  examples/src/bin/jstypedarray.rs
  examples/src/bin/module_fetch.rs
  examples/src/bin/modulehandler.rs
  examples/src/bin/modules.rs
  examples/src/bin/synthetic.rs
Labels: Internal

#3845 Switch from actions-rs/toolchain to dtolnay/rust-toolchain
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/rust.yml
  .github/workflows/test262.yml
  .github/workflows/webassembly.yml
Labels: github_actions

#3848 Replace archived github actions from actions-rs
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/rust.yml
  .github/workflows/security_audit.yml
  .github/workflows/test262.yml
  .github/workflows/webassembly.yml
Labels: github_actions

#3862 Fix CI for nextest step
  .github/workflows/rust.yml
Labels: bug, github_actions

#3863 Group dependabot updates
  .github/dependabot.yml
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  core/engine/Cargo.toml
  core/macros/Cargo.toml
  core/profiler/Cargo.toml
  core/string/Cargo.toml
  examples/Cargo.toml
  ffi/wasm/Cargo.toml
  tests/macros/Cargo.toml
  tests/tester/Cargo.toml
  tools/gen-icu4x-data/Cargo.toml
  tools/gen-icu4x-data/src/main.rs
  tools/scripts/Cargo.toml
Labels: enhancement, dependencies

#3865 Add matrix badge and update communication to include matrix
  README.md
Labels: documentation

#3869 Update regress to v0.10.0
  Cargo.lock
  Cargo.toml
Labels: dependencies
