Repository boa-dev/boa, pull requests merged in 2024-08, with the labels that each got.

#3917 Fix various parser idempotency issues and parsing errors
  core/ast/src/expression/literal/array.rs
  core/ast/src/expression/literal/mod.rs
  core/ast/src/expression/literal/object.rs
  core/ast/src/expression/literal/template.rs
  core/ast/src/expression/operator/unary/mod.rs
  core/ast/src/expression/tagged_template.rs
  core/ast/src/function/async_function.rs
  core/ast/src/function/async_generator.rs
  core/ast/src/function/class.rs
  core/ast/src/function/generator.rs
  core/ast/src/function/mod.rs
  core/ast/src/pattern.rs
  core/ast/src/property.rs
  core/engine/src/bytecompiler/declaration/declaration_pattern.rs
  core/engine/src/bytecompiler/expression/object_literal.rs
  core/engine/src/bytecompiler/mod.rs
  core/engine/src/module/source.rs
  core/parser/src/parser/expression/primary/array_initializer/tests.rs
  core/parser/src/parser/expression/primary/mod.rs
  core/parser/src/parser/expression/primary/object_initializer/mod.rs
  core/parser/src/parser/expression/primary/object_initializer/tests.rs
  core/parser/src/parser/expression/primary/tests.rs
  core/parser/src/parser/function/tests.rs
  core/parser/src/parser/statement/block/tests.rs
  core/parser/src/parser/statement/declaration/hoistable/async_function_decl/mod.rs
  core/parser/src/parser/statement/declaration/hoistable/async_function_decl/tests.rs
  core/parser/src/parser/statement/declaration/hoistable/async_generator_decl/mod.rs
  core/parser/src/parser/statement/declaration/hoistable/async_generator_decl/tests.rs
  core/parser/src/parser/statement/declaration/hoistable/function_decl/mod.rs
  core/parser/src/parser/statement/declaration/hoistable/function_decl/tests.rs
  core/parser/src/parser/statement/declaration/hoistable/generator_decl/mod.rs
  core/parser/src/parser/statement/declaration/hoistable/generator_decl/tests.rs
  core/parser/src/parser/statement/mod.rs
  core/parser/src/parser/statement/throw/mod.rs
  core/parser/src/parser/statement/throw/tests.rs
  core/parser/src/parser/tests/format/expression.rs
  core/parser/src/parser/tests/mod.rs
Labels: bug, parser, ast

#3921 Add a JsError::from_rust constructor to create native errors from Rust
  core/engine/src/error.rs
Labels: enhancement, API

#3941 Add a Source::with_path method to set the path on a Source
  core/parser/src/source/mod.rs
Labels: API

#3935 Refactor `RawJsString`'s representation to make `JsString`s construction from string literal heap-allocation free
  core/engine/src/string.rs
  core/string/src/lib.rs
  core/string/src/str.rs
  core/string/src/tests.rs
Labels: performance, Internal

#3856 add some temporal methods
  Cargo.lock
  Cargo.toml
  core/engine/src/builtins/temporal/duration/mod.rs
  core/engine/src/builtins/temporal/options.rs
  core/engine/src/builtins/temporal/plain_month_day/mod.rs
  core/engine/src/builtins/temporal/plain_year_month/mod.rs
Labels: enhancement, builtins

#3943 Allow a custom Logger to be used as the backend for boa_runtime::Console
  core/runtime/src/console/mod.rs
  core/runtime/src/lib.rs
Labels: enhancement, API

#3937 Add more utility functions around modules and exports
  core/engine/src/module/mod.rs
  core/engine/src/object/builtins/jsfunction.rs
  core/engine/src/object/builtins/jspromise.rs
  core/engine/src/value/mod.rs
  core/engine/tests/assets/gcd.js
  core/engine/tests/gcd.rs
Labels: enhancement, API

#3950 Implement new spec changes for `AsyncGenerator`
  core/engine/src/builtins/async_generator/mod.rs
  core/engine/src/vm/completion_record.rs
  core/engine/src/vm/opcode/await/mod.rs
  core/engine/src/vm/opcode/generator/mod.rs
  core/engine/src/vm/opcode/generator/yield_stm.rs
  test262_config.toml
  tests/tester/src/edition.rs
Labels: bug, Internal

#3957 Add spec edition 15 to the tester
  tests/tester/src/edition.rs
  tests/tester/src/main.rs
Labels: test

#3959 Fix `js_str` macro to correctly handle latin1 strings
  core/macros/src/lib.rs
Labels: bug

#3964 Allow trailing commas in js_class functions
  core/interop/src/macros.rs
Labels: enhancement, API

#3967 Add clippy for denying print and eprints
  Cargo.toml
  cli/src/main.rs
  clippy.toml
  core/engine/src/object/builtins/jspromise.rs
  core/engine/src/optimizer/mod.rs
  core/engine/src/vm/mod.rs
  core/runtime/src/console/mod.rs
  tests/tester/src/main.rs
Labels: Internal

#3965 Rename as_promise to as_promise_object and add as_promise -> JsPromise
  core/engine/src/builtins/promise/mod.rs
  core/engine/src/value/mod.rs
Labels: API

#3956 Implement `Atomics.pause`
  core/engine/src/builtins/atomics/mod.rs
  test262_config.toml
Labels: enhancement, builtins

#3955 Build out partial record functionality, property bag construction, and `with` methods
  Cargo.lock
  Cargo.toml
  core/engine/src/builtins/temporal/mod.rs
  core/engine/src/builtins/temporal/plain_date/mod.rs
  core/engine/src/builtins/temporal/plain_date_time/mod.rs
  core/engine/src/builtins/temporal/plain_time/mod.rs
  core/engine/src/value/mod.rs
Labels: builtins

#3962 Refactor iterator APIs to be on parity with the latest spec
  core/engine/src/builtins/array/mod.rs
  core/engine/src/builtins/error/aggregate.rs
  core/engine/src/builtins/intl/list_format/mod.rs
  core/engine/src/builtins/iterable/async_from_sync_iterator.rs
  core/engine/src/builtins/iterable/mod.rs
  core/engine/src/builtins/map/mod.rs
  core/engine/src/builtins/object/mod.rs
  core/engine/src/builtins/promise/mod.rs
  core/engine/src/builtins/set/mod.rs
  core/engine/src/builtins/temporal/mod.rs
  core/engine/src/builtins/typed_array/builtin.rs
  core/engine/src/builtins/typed_array/mod.rs
  core/engine/src/builtins/weak_map/mod.rs
  core/engine/src/builtins/weak_set/mod.rs
  core/engine/src/object/builtins/jsmap.rs
  core/engine/src/object/builtins/jsset.rs
  core/engine/src/vm/opcode/iteration/get.rs
  core/engine/src/vm/opcode/push/array.rs
  test262_config.toml
Labels: API, Internal

#3968 Add a clone_inner method to allow cloning of inner data
  core/interop/src/lib.rs
Labels: enhancement, API
