Repository boa-dev/boa, pull requests merged in 2024-11, with the labels that each got.

#4019 console.debug() should use a debug Logger method
  core/runtime/src/console/mod.rs
Labels: enhancement, API

#3961 use with_capacity to reduce re-allocations fixes #3896
  core/engine/src/builtins/array/mod.rs
  core/engine/src/builtins/array_buffer/mod.rs
  core/engine/src/builtins/array_buffer/shared.rs
  core/engine/src/builtins/async_function/mod.rs
  core/engine/src/builtins/async_generator_function/mod.rs
  core/engine/src/builtins/bigint/mod.rs
  core/engine/src/builtins/boolean/mod.rs
  core/engine/src/builtins/builder.rs
  core/engine/src/builtins/dataview/mod.rs
  core/engine/src/builtins/date/mod.rs
  core/engine/src/builtins/error/aggregate.rs
  core/engine/src/builtins/error/eval.rs
  core/engine/src/builtins/error/mod.rs
  core/engine/src/builtins/error/range.rs
  core/engine/src/builtins/error/reference.rs
  core/engine/src/builtins/error/syntax.rs
  core/engine/src/builtins/error/type.rs
  core/engine/src/builtins/error/uri.rs
  core/engine/src/builtins/function/mod.rs
  core/engine/src/builtins/generator_function/mod.rs
  core/engine/src/builtins/intl/collator/mod.rs
  core/engine/src/builtins/intl/date_time_format.rs
  core/engine/src/builtins/intl/list_format/mod.rs
  core/engine/src/builtins/intl/locale/mod.rs
  core/engine/src/builtins/intl/number_format/mod.rs
  core/engine/src/builtins/intl/plural_rules/mod.rs
  core/engine/src/builtins/intl/segmenter/mod.rs
  core/engine/src/builtins/map/mod.rs
  core/engine/src/builtins/mod.rs
  core/engine/src/builtins/number/mod.rs
  core/engine/src/builtins/object/mod.rs
  core/engine/src/builtins/promise/mod.rs
  core/engine/src/builtins/proxy/mod.rs
  core/engine/src/builtins/regexp/mod.rs
  core/engine/src/builtins/set/mod.rs
  core/engine/src/builtins/string/mod.rs
  core/engine/src/builtins/symbol/mod.rs
  core/engine/src/builtins/temporal/duration/mod.rs
  core/engine/src/builtins/temporal/instant/mod.rs
  core/engine/src/builtins/temporal/plain_date/mod.rs
  core/engine/src/builtins/temporal/plain_date_time/mod.rs
  core/engine/src/builtins/temporal/plain_month_day/mod.rs
  core/engine/src/builtins/temporal/plain_time/mod.rs
  core/engine/src/builtins/temporal/plain_year_month/mod.rs
  core/engine/src/builtins/temporal/zoned_date_time/mod.rs
  core/engine/src/builtins/typed_array/builtin.rs
  core/engine/src/builtins/typed_array/mod.rs
  core/engine/src/builtins/weak/weak_ref.rs
  core/engine/src/builtins/weak_map/mod.rs
  core/engine/src/builtins/weak_set/mod.rs
  core/engine/src/context/icu.rs
  core/engine/src/context/mod.rs
  core/engine/src/module/loader.rs
  core/engine/src/object/shape/property_table.rs
  core/engine/src/object/shape/shared_shape/mod.rs
  core/engine/src/vm/mod.rs
Labels: performance, Internal

#3998 `TryFromJs` from `JsMap` for `HashMap` & `BtreeMap`
  core/engine/src/builtins/map/mod.rs
  core/engine/src/object/builtins/jsmap.rs
  core/engine/src/value/conversions/try_from_js.rs
  core/engine/src/value/conversions/try_from_js/collections.rs
Labels: enhancement, API

#4026 add nightly build
  .github/workflows/nightly_build.yml
Labels: Internal

#4029 Option::None should try into Undefined, not Null
  core/engine/src/value/conversions/try_into_js.rs
Labels: API

#4028 Patch the indentation in nightly_build.yml
  .github/workflows/nightly_build.yml
Labels: Internal

#4032 Update night build's rename binary step
  .github/workflows/nightly_build.yml
Labels: Internal

#4039 Add a JsPromise::from_result for convenience
  core/engine/src/object/builtins/jspromise.rs
Labels: builtins, API

#4040 Use upload-rust-binary-action for nightly release
  .github/workflows/nightly_build.yml
Labels: Internal

#4042 Fix `ref` value in nightly and add target to nightly release
  .github/workflows/nightly_build.yml
Labels: Internal

#4046 Remove dockerfile from documentation
  CONTRIBUTING.md
  docs/debugging.md
Labels: documentation

#3915 Add string builder to build `JsString`
  core/string/src/builder.rs
  core/string/src/lib.rs
  core/string/src/tests.rs
Labels: enhancement, performance

#4052 Migrate to fast-float2
  Cargo.lock
  Cargo.toml
  core/engine/Cargo.toml
  core/engine/src/builtins/number/globals.rs
  core/parser/Cargo.toml
  core/parser/src/lexer/number.rs
  core/string/Cargo.toml
  core/string/src/lib.rs
Labels: dependencies
