Repository boa-dev/boa, pull requests merged in 2024-09, with the labels that each got.

#3976 fix: ignore `debugger` statement
  core/ast/src/expression/mod.rs
  core/engine/src/bytecompiler/expression/mod.rs
  core/parser/src/parser/expression/primary/mod.rs
Labels: enhancement, parser

#3980 Add support for boa(rename = "") in TryFromJs derive
  core/engine/tests/macros.rs
  core/macros/src/lib.rs
Labels: enhancement, API

#3984 Allow dead code for code that is newly detected as unused
  core/engine/src/builtins/atomics/futex.rs
  core/engine/src/builtins/builder.rs
Labels: bug

#3987 Enable CI for release branches
  .github/workflows/pull_request.yml
  .github/workflows/rust.yml
  .github/workflows/test262.yml
  .github/workflows/webassembly.yml
Labels: github_actions

#3990 Allow warnings when running CI on release branches
  .github/workflows/release.yml
  .github/workflows/rust.yml
  .github/workflows/webassembly.yml
Labels: bug, github_actions

#3970 Add support for Trace, Finalize and JsData for Convert<>
  core/engine/src/value/conversions/convert.rs
Labels: Internal

#3951 Add a display type for JsString to allow formatting without allocations
  core/string/src/display.rs
  core/string/src/lib.rs
  core/string/src/str.rs
  core/string/src/tests.rs
Labels: performance, API

#3932 A simple module loader from a function
  core/interop/src/loaders.rs
  core/interop/src/loaders/cached.rs
  core/interop/src/loaders/fallback.rs
  core/interop/src/loaders/filesystem.rs
  core/interop/src/loaders/functions.rs
Labels: enhancement, API

#3971 Add a way for js_error! macro to create native errors with message
  core/engine/src/error.rs
Labels: enhancement, discussion, API

#3989 Backport 0.19 fixes
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/rust.yml
  .github/workflows/test262.yml
  .github/workflows/webassembly.yml
  Cargo.lock
  Cargo.toml
  README.md
  core/engine/src/builtins/async_generator/mod.rs
  core/engine/src/builtins/atomics/futex.rs
  core/engine/src/builtins/builder.rs
  core/engine/src/vm/completion_record.rs
  core/engine/src/vm/opcode/await/mod.rs
  core/engine/src/vm/opcode/generator/mod.rs
  core/engine/src/vm/opcode/generator/yield_stm.rs
  test262_config.toml
  tests/tester/src/edition.rs
  tests/tester/src/main.rs
Labels: bug, github_actions

#3942 Implement register allocation
  core/engine/src/builtins/array/mod.rs
  core/engine/src/builtins/eval/mod.rs
  core/engine/src/builtins/json/mod.rs
  core/engine/src/bytecompiler/class.rs
  core/engine/src/bytecompiler/function.rs
  core/engine/src/bytecompiler/mod.rs
  core/engine/src/bytecompiler/register.rs
  core/engine/src/module/source.rs
  core/engine/src/module/synthetic.rs
  core/engine/src/script.rs
  core/engine/src/vm/call_frame/mod.rs
  core/engine/src/vm/code_block.rs
  core/engine/src/vm/flowgraph/mod.rs
  core/engine/src/vm/opcode/control_flow/return.rs
  core/engine/src/vm/opcode/mod.rs
  core/engine/src/vm/opcode/rest_parameter/mod.rs
Labels: execution, vm

#3996 Limit actions runs to 1 per branch and fix macos release
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/rust.yml
  .github/workflows/test262.yml
  .github/workflows/webassembly.yml
Labels: enhancement, github_actions, Internal

#3994 Add TextEncoder, TextDecoder implementations to boa_runtime
  Cargo.lock
  core/runtime/Cargo.toml
  core/runtime/src/lib.rs
  core/runtime/src/text.rs
  core/runtime/src/text/tests.rs
Labels: enhancement, API

#3981 Add TryFromJs for TypedJsFunction and more tests
  core/engine/src/object/builtins/jsfunction.rs
  core/engine/src/value/conversions/try_from_js.rs
  core/interop/src/lib.rs
  core/interop/tests/assets/fibonacci.js
  core/interop/tests/assets/gcd_callback.js
  core/interop/tests/fibonacci.rs
  core/interop/tests/gcd_callback.rs
Labels: enhancement, API

#4007 docs: Fix link to examples
  core/engine/src/lib.rs
Labels: bug, documentation

#4005 Add context to the console `Logger` trait
  core/runtime/src/console/mod.rs
  core/runtime/src/console/tests.rs
  core/runtime/src/lib.rs
Labels: enhancement, API

#4010 `IntegerOrInfinity` `eq` bug fix
  core/engine/src/value/integer.rs
Labels: bug
