Repository boa-dev/boa, pull requests merged in 2024-01, with the labels that each got.

#3543 Update `boa_temporal` Time Zone design
  core/engine/src/builtins/temporal/time_zone/custom.rs
  core/engine/src/builtins/temporal/time_zone/mod.rs
  core/engine/src/builtins/temporal/zoned_date_time/mod.rs
  core/temporal/src/components/duration.rs
  core/temporal/src/components/tz.rs
  core/temporal/src/components/zoneddatetime.rs
Labels: builtins, waiting-on-review

#3567 Fix invalid return value when closing an iterator
  core/engine/src/vm/opcode/iteration/iterator.rs
Labels: bug, execution, waiting-on-review

#3564 Implement Date parsing according to the spec
  core/engine/src/builtins/date/mod.rs
  core/engine/src/builtins/date/utils.rs
Labels: bug, builtins, waiting-on-review

#3568 Implement `DifferenceInstant` and related refactor
  core/temporal/src/components/date.rs
  core/temporal/src/components/duration.rs
  core/temporal/src/components/duration/date.rs
  core/temporal/src/components/duration/time.rs
  core/temporal/src/components/instant.rs
  core/temporal/src/components/mod.rs
  core/temporal/src/options.rs
Labels: technical debt, builtins, waiting-on-review

#3595 `Date` refactor
  Cargo.lock
  Cargo.toml
  core/engine/Cargo.toml
  core/engine/src/builtins/date/mod.rs
  core/engine/src/builtins/date/tests.rs
  core/engine/src/builtins/date/utils.rs
  core/engine/src/context/hooks.rs
  core/engine/src/object/builtins/jsdate.rs
  core/engine/src/value/integer.rs
  core/engine/src/value/mod.rs
  examples/Cargo.toml
  examples/src/bin/jsdate.rs
  ffi/wasm/Cargo.toml
  ffi/wasm/src/lib.rs
  tests/tester/Cargo.toml
  tests/tester/src/main.rs
Labels: bug, builtins, waiting-on-review

#3606 Remove allocations from `HostDefined::get_many_mut`
  core/engine/src/host_defined.rs
Labels: enhancement, API

#3607 Run `cargo update` on fuzz crate
  tests/fuzz/Cargo.lock
Labels: dependencies

#3601 Temporal `Instant` migration cont. and related changes
  core/engine/src/bigint.rs
  core/engine/src/builtins/options.rs
  core/engine/src/builtins/temporal/instant/mod.rs
  core/engine/src/builtins/temporal/mod.rs
  core/engine/src/builtins/temporal/options.rs
  core/temporal/src/components/duration.rs
  core/temporal/src/components/duration/time.rs
  core/temporal/src/components/instant.rs
  core/temporal/src/lib.rs
  core/temporal/src/options.rs
  core/temporal/src/utils.rs
Labels: builtins, waiting-on-review

#3610 Implement getter for `ArrayBuffer` data
  Cargo.lock
  core/engine/src/object/builtins/jsarraybuffer.rs
Labels: enhancement, API

#3619 Fix escaping in `RegExp.prototype.source`
  core/engine/src/builtins/regexp/mod.rs
Labels: bug, builtins, waiting-on-review

#3614 Temporal: Update `Date` builtin with `boa_temporal` and fixes
  core/engine/src/builtins/temporal/now.rs
  core/engine/src/builtins/temporal/plain_date/mod.rs
  core/temporal/src/components/date.rs
  core/temporal/src/components/duration/date.rs
  core/temporal/src/iso.rs
  core/temporal/src/utils.rs
Labels: builtins, waiting-on-review

#3613 Temporal: Build out `Time` and its methods
  core/temporal/src/components/duration.rs
  core/temporal/src/components/time.rs
  core/temporal/src/iso.rs
  core/temporal/src/options.rs
Labels: builtins, waiting-on-review

#3618 Implement non-erased `JsObject`s
  core/engine/src/builtins/array_buffer/mod.rs
  core/engine/src/builtins/array_buffer/utils.rs
  core/engine/src/builtins/typed_array/builtin.rs
  core/engine/src/object/builtins/jsarraybuffer.rs
  core/engine/src/object/builtins/jsdataview.rs
  core/engine/src/object/internal_methods/mod.rs
  core/engine/src/object/jsobject.rs
  core/engine/src/object/mod.rs
  core/gc/src/internals/ephemeron_box.rs
  core/gc/src/internals/gc_box.rs
  core/gc/src/pointers/ephemeron.rs
  core/gc/src/pointers/gc.rs
  core/gc/src/pointers/mod.rs
  examples/src/bin/jsarraybuffer.rs
Labels: enhancement, API

#3620 Temporal: Enable temporal tests
  core/engine/src/builtins/temporal/plain_date/mod.rs
  test262_config.toml
Labels: test, waiting-on-review

#3627 Update regress to v0.8.0 and use UTF16 / UCS2 matching
  Cargo.lock
  Cargo.toml
  core/engine/src/builtins/regexp/mod.rs
  core/engine/src/builtins/regexp/tests.rs
  test262_config.toml
Labels: enhancement, builtins, waiting-on-review

#3632 Cleanup 262 tester and stabilize some experimental features
  core/engine/src/builtins/map/mod.rs
  core/engine/src/builtins/object/mod.rs
  core/engine/src/builtins/promise/mod.rs
  core/engine/src/context/intrinsics.rs
  test262_config.toml
  tests/tester/src/edition.rs
Labels: enhancement, test, builtins

#3626 Improve typing of `DataView` and related objects
  core/engine/src/builtins/array_buffer/mod.rs
  core/engine/src/builtins/array_buffer/shared.rs
  core/engine/src/builtins/array_buffer/utils.rs
  core/engine/src/builtins/atomics/mod.rs
  core/engine/src/builtins/dataview/mod.rs
  core/engine/src/builtins/typed_array/builtin.rs
  core/engine/src/builtins/typed_array/element/mod.rs
  core/engine/src/builtins/typed_array/mod.rs
  core/engine/src/builtins/typed_array/object.rs
  core/engine/src/object/builtins/jsarraybuffer.rs
  core/engine/src/object/builtins/jsdataview.rs
  core/engine/src/object/builtins/jssharedarraybuffer.rs
  core/engine/src/object/jsobject.rs
  core/engine/src/object/mod.rs
Labels: enhancement, technical debt

#3635 Fix tests results upload
  .github/workflows/test262.yml
Labels: github_actions

#3633 Close sync iterator when async wrapper yields rejection
  core/engine/src/builtins/iterable/async_from_sync_iterator.rs
Labels: enhancement, execution

#3628 Temporal: `DateTime` and `PlainDateTime` functionality
  core/engine/src/builtins/temporal/calendar/object.rs
  core/engine/src/builtins/temporal/plain_date_time/mod.rs
  core/temporal/src/components/calendar.rs
  core/temporal/src/components/date.rs
  core/temporal/src/components/datetime.rs
  core/temporal/src/components/month_day.rs
  core/temporal/src/components/year_month.rs
  core/temporal/src/components/zoneddatetime.rs
  core/temporal/src/iso.rs
  core/temporal/src/lib.rs
  core/temporal/src/parser/tests.rs
  core/temporal/src/utils.rs
Labels: builtins, waiting-on-review

#3621 Temporal: Initial `PlainTime` build out
  core/engine/src/builtins/temporal/calendar/mod.rs
  core/engine/src/builtins/temporal/duration/mod.rs
  core/engine/src/builtins/temporal/instant/mod.rs
  core/engine/src/builtins/temporal/plain_date/mod.rs
  core/engine/src/builtins/temporal/plain_time/mod.rs
  core/temporal/src/components/duration.rs
  core/temporal/src/components/duration/date.rs
  core/temporal/src/components/duration/time.rs
Labels: builtins, waiting-on-review

#3636 Ignore `Cargo.lock` in fuzzer
  .gitignore
  core/ast/src/lib.rs
  tests/fuzz/.gitignore
  tests/fuzz/Cargo.lock
Labels: technical debt, dependencies

#3639 Temporal: attribute/property and custom calendar fixes
  core/engine/src/builtins/temporal/calendar/mod.rs
  core/engine/src/builtins/temporal/calendar/object.rs
  core/engine/src/builtins/temporal/duration/mod.rs
  core/engine/src/builtins/temporal/instant/mod.rs
  core/engine/src/builtins/temporal/plain_date/mod.rs
  core/engine/src/builtins/temporal/plain_date_time/mod.rs
  core/engine/src/builtins/temporal/plain_month_day/mod.rs
  core/engine/src/builtins/temporal/plain_time/mod.rs
  core/engine/src/builtins/temporal/plain_year_month/mod.rs
  core/engine/src/builtins/temporal/time_zone/mod.rs
  core/engine/src/builtins/temporal/zoned_date_time/mod.rs
  core/temporal/src/components/date.rs
  core/temporal/src/components/datetime.rs
Labels: builtins, waiting-on-review
