Repository boa-dev/boa, pull requests merged in 2024-07, with the labels that each got.

#3888 Refactor call frame access to avoid panic checks
  core/engine/src/builtins/generator/mod.rs
  core/engine/src/context/mod.rs
  core/engine/src/module/source.rs
  core/engine/src/object/operations.rs
  core/engine/src/vm/mod.rs
  core/engine/src/vm/opcode/arguments.rs
  core/engine/src/vm/opcode/await/mod.rs
  core/engine/src/vm/opcode/control_flow/return.rs
  core/engine/src/vm/opcode/define/mod.rs
  core/engine/src/vm/opcode/delete/mod.rs
  core/engine/src/vm/opcode/iteration/loop_ops.rs
  core/engine/src/vm/opcode/push/literal.rs
  core/engine/src/vm/opcode/rest_parameter/mod.rs
  core/engine/src/vm/opcode/set/name.rs
Labels: performance, execution

#3890 Remove `Temporal.Calendar` and `Temporal.TimeZone`
  Cargo.lock
  Cargo.toml
  core/engine/src/builtins/mod.rs
  core/engine/src/builtins/temporal/calendar/mod.rs
  core/engine/src/builtins/temporal/calendar/object.rs
  core/engine/src/builtins/temporal/calendar/tests.rs
  core/engine/src/builtins/temporal/duration/mod.rs
  core/engine/src/builtins/temporal/fields.rs
  core/engine/src/builtins/temporal/mod.rs
  core/engine/src/builtins/temporal/now.rs
  core/engine/src/builtins/temporal/options.rs
  core/engine/src/builtins/temporal/plain_date/mod.rs
  core/engine/src/builtins/temporal/plain_date_time/mod.rs
  core/engine/src/builtins/temporal/plain_date_time/tests.rs
  core/engine/src/builtins/temporal/plain_month_day/mod.rs
  core/engine/src/builtins/temporal/plain_year_month/mod.rs
  core/engine/src/builtins/temporal/time_zone/custom.rs
  core/engine/src/builtins/temporal/time_zone/mod.rs
  core/engine/src/builtins/temporal/zoned_date_time/mod.rs
  core/gc/src/cell.rs
  test262_config.toml
  tests/tester/src/edition.rs
Labels: builtins

#3892 Update Temporal rounding and implement additional methods
  Cargo.lock
  Cargo.toml
  core/engine/src/builtins/temporal/duration/mod.rs
  core/engine/src/builtins/temporal/instant/mod.rs
  core/engine/src/builtins/temporal/options.rs
  core/engine/src/builtins/temporal/plain_date/mod.rs
  core/engine/src/builtins/temporal/plain_date_time/mod.rs
Labels: builtins

#3872 Add a js_class to implement the Class trait without boilerplate
  core/engine/src/object/mod.rs
  core/interop/src/lib.rs
  core/interop/src/macros.rs
Labels: enhancement, API

#3897 Fix HomeObject for private class methods
  core/engine/src/bytecompiler/class.rs
  core/engine/src/vm/opcode/mod.rs
  core/engine/src/vm/opcode/push/class/private.rs
Labels: bug, execution

#3895 Fix evaluation order in destructive property assignments
  core/engine/src/bytecompiler/declaration/declaration_pattern.rs
Labels: bug, execution

#3906 Patch regression from change to to-relative-to-object
  core/engine/src/builtins/temporal/mod.rs
  core/engine/src/builtins/temporal/options.rs
Labels: builtins

#3903 update versions and ABOUT files
  ABOUT.md
  Cargo.lock
  Cargo.toml
  cli/ABOUT.md
  core/ast/ABOUT.md
  core/engine/ABOUT.md
  core/gc/ABOUT.md
  core/icu_provider/ABOUT.md
  core/interner/ABOUT.md
  core/interop/ABOUT.md
  core/interop/Cargo.toml
  core/macros/ABOUT.md
  core/parser/ABOUT.md
  core/profiler/ABOUT.md
  core/runtime/ABOUT.md
  core/string/ABOUT.md
Labels: documentation

#3909 Cleanup README.md and contributor documentation
  .github/ISSUE_TEMPLATE/config.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
Labels: documentation

#3893 Refactor environment stack to remove some panics
  core/engine/src/builtins/eval/mod.rs
  core/engine/src/builtins/function/mod.rs
  core/engine/src/environments/mod.rs
  core/engine/src/environments/runtime/declarative/function.rs
  core/engine/src/environments/runtime/declarative/global.rs
  core/engine/src/environments/runtime/declarative/mod.rs
  core/engine/src/environments/runtime/declarative/module.rs
  core/engine/src/environments/runtime/mod.rs
  core/engine/src/module/source.rs
  core/engine/src/module/synthetic.rs
  core/engine/src/realm.rs
  core/engine/src/vm/opcode/arguments.rs
  core/engine/src/vm/opcode/control_flow/return.rs
  core/engine/src/vm/opcode/define/mod.rs
  core/engine/src/vm/opcode/environment/mod.rs
  core/engine/src/vm/opcode/set/name.rs
Labels: performance, execution

#3907 Implement lossless TryFromJs for integers from f64
  core/engine/src/value/conversions/try_from_js.rs
Labels: enhancement

#3904 changelog for v0.19
  CHANGELOG.md
Labels: documentation

#3913 Remove `boa_macros` from `boa_string`
  Cargo.lock
  core/string/Cargo.toml
  core/string/src/tests.rs
Labels: bug

#3916 Implement `Math.pow` function according to ECMAScript specification
  core/engine/src/builtins/math/mod.rs
  core/engine/src/builtins/math/tests.rs
Labels: bug, builtins

#3924 Implement more Temporal functionality
  Cargo.lock
  Cargo.toml
  core/engine/src/builtins/temporal/duration/mod.rs
  core/engine/src/builtins/temporal/plain_date/mod.rs
  core/engine/src/builtins/temporal/plain_date_time/mod.rs
  core/engine/src/builtins/temporal/plain_time/mod.rs
Labels: builtins

#3920 Add a js_error! macro to create opaque errors
  core/engine/src/error.rs
  core/string/src/lib.rs
  core/string/src/str.rs
Labels: enhancement, API

#3928 Update `Instant` for new Temporal functionality
  Cargo.lock
  Cargo.toml
  core/engine/src/builtins/temporal/instant/mod.rs
Labels: enhancement, builtins

#3930 Fix temporal builtin properties
  core/engine/src/builtins/temporal/duration/mod.rs
  core/engine/src/builtins/temporal/instant/mod.rs
  core/engine/src/builtins/temporal/now.rs
  core/engine/src/builtins/temporal/plain_date/mod.rs
  core/engine/src/builtins/temporal/plain_date_time/mod.rs
  core/engine/src/builtins/temporal/plain_month_day/mod.rs
  core/engine/src/builtins/temporal/plain_time/mod.rs
  core/engine/src/builtins/temporal/plain_year_month/mod.rs
  core/engine/src/builtins/temporal/zoned_date_time/mod.rs
  core/string/src/common.rs
Labels: bug, builtins

#3911 Add a way to add setters/getters in js_class!
  core/interop/src/lib.rs
  core/interop/src/macros.rs
Labels: enhancement, API

#3926 Fix wrong `neg` operation
  core/engine/src/value/operations.rs
  core/engine/src/value/tests.rs
Labels: bug

#3934 Fix destructuring assignment evaluation order
  core/engine/src/bytecompiler/declaration/declaration_pattern.rs
  core/engine/src/bytecompiler/declarations.rs
  core/engine/src/vm/opcode/iteration/iterator.rs
Labels: bug, execution

#3936 Fix lints from rustc 1.80.0
  Cargo.toml
  core/ast/src/expression/access.rs
  core/ast/src/expression/optional.rs
  core/ast/src/operations.rs
  core/engine/src/builtins/array_buffer/shared.rs
  core/engine/src/builtins/array_buffer/utils.rs
  core/engine/src/builtins/dataview/mod.rs
  core/engine/src/builtins/date/mod.rs
  core/engine/src/builtins/intl/locale/utils.rs
  core/engine/src/builtins/intl/mod.rs
  core/engine/src/builtins/mod.rs
  core/engine/src/builtins/number/globals.rs
  core/engine/src/builtins/promise/mod.rs
  core/engine/src/builtins/typed_array/mod.rs
  core/engine/src/bytecompiler/mod.rs
  core/engine/src/class.rs
  core/engine/src/context/hooks.rs
  core/engine/src/job.rs
  core/engine/src/module/loader.rs
  core/engine/src/object/builtins/jspromise.rs
  core/engine/src/object/jsobject.rs
  core/engine/src/object/mod.rs
  core/engine/src/object/property_map.rs
  core/engine/src/tagged.rs
  core/engine/src/vm/opcode/get/name.rs
  core/engine/src/vm/opcode/iteration/iterator.rs
  core/engine/src/vm/opcode/mod.rs
  core/gc/src/internals/vtable.rs
  core/gc/src/lib.rs
  core/gc/src/pointers/ephemeron.rs
  core/gc/src/test/allocation.rs
  core/gc/src/test/weak.rs
  core/gc/src/trace.rs
  core/interner/src/interned_str.rs
  core/parser/src/lexer/template.rs
  core/parser/src/lexer/token.rs
  core/parser/src/parser/cursor/buffered_lexer/mod.rs
  core/string/src/lib.rs
  core/string/src/tagged.rs
  examples/src/bin/commuter_visitor.rs
Labels: enhancement, rust
