Repository boa-dev/boa, pull requests merged in 2024-03, with the labels that each got.

#3717 Update `temporal_rs` and cargo update
  Cargo.lock
  core/engine/Cargo.toml
  core/engine/src/builtins/temporal/calendar/mod.rs
Labels: Internal

#3691 initial changelog for v0.18
  CHANGELOG.md
Labels: Internal

#3718 Update logo in `README.md`
  assets/logo.svg
Labels: Internal

#3720 Using different logos depending on theme
  Cargo.lock
  README.md
  assets/logo.png
  assets/logo_black.svg
  assets/logo_yellow.svg
Labels: documentation

#3727 Add release binary striping
  Cargo.toml
Labels: enhancement, Internal

#3734 Close for-of iterator when the loop body throws
  core/engine/src/bytecompiler/statement/loop.rs
  core/engine/src/bytecompiler/utils.rs
  core/engine/src/vm/code_block.rs
  core/engine/src/vm/flowgraph/mod.rs
  core/engine/src/vm/opcode/iteration/iterator.rs
  core/engine/src/vm/opcode/mod.rs
Labels: bug, execution

#3738 Add default value handling for destructuring property access arrays
  core/ast/src/expression/literal/array.rs
  core/ast/src/pattern.rs
  core/engine/src/bytecompiler/declaration/declaration_pattern.rs
Labels: bug, parser, execution

#3725 Added NPM publish workflow
  .github/workflows/release.yml
Labels: enhancement

#3743 Fix invalid syntax errors for allowed `let` as variable names
  core/parser/src/parser/statement/declaration/lexical.rs
  core/parser/src/parser/statement/declaration/mod.rs
  core/parser/src/parser/statement/iteration/for_statement.rs
  core/parser/src/parser/statement/mod.rs
Labels: bug, parser

#3745 Fix parsing of `async` in for-of loops
  core/parser/src/parser/expression/assignment/mod.rs
  core/parser/src/parser/expression/tests.rs
  core/parser/src/parser/statement/iteration/for_statement.rs
Labels: bug, parser

#3752 Fix parsing of binding identifier in try catch parameters
  core/parser/src/parser/statement/try_stm/catch.rs
Labels: bug, parser

#3759 Apply new clippy lints for rustc 1.77
  Cargo.toml
  cli/src/main.rs
  core/engine/src/builtins/array_buffer/mod.rs
  core/engine/src/builtins/number/globals.rs
  core/engine/src/builtins/typed_array/element/mod.rs
  core/engine/src/builtins/typed_array/object.rs
  core/engine/src/context/mod.rs
  core/engine/src/module/source.rs
  core/engine/src/object/internal_methods/mod.rs
  core/engine/src/object/shape/shared_shape/forward_transition.rs
  core/engine/src/string/mod.rs
  core/gc/src/lib.rs
  examples/Cargo.toml
  tests/macros/tests/derive/from_js_with.rs
  tests/macros/tests/derive/simple_struct.rs
  tests/macros/tests/tests.rs
  tests/tester/src/exec/mod.rs
  tests/tester/src/main.rs
Labels: Internal

#3758 Change dependabot interval to weekly
  .github/dependabot.yml
Labels: dependencies, Internal

#3760 Dense array storage variants for `i32` and `f64`
  cli/src/debug/object.rs
  core/engine/src/builtins/array/mod.rs
  core/engine/src/builtins/temporal/mod.rs
  core/engine/src/object/property_map.rs
  core/engine/src/object/shape/shared_shape/template.rs
  core/engine/src/value/mod.rs
  core/engine/src/vm/opcode/call/mod.rs
  core/engine/src/vm/opcode/environment/mod.rs
  core/engine/src/vm/opcode/get/property.rs
  core/engine/src/vm/opcode/new/mod.rs
  core/engine/src/vm/opcode/set/property.rs
  docs/boa_object.md
Labels: performance, memory, Internal

#3769 Optimize number to `PropertyKey` conversion
  core/engine/src/builtins/array/mod.rs
  core/engine/src/builtins/builder.rs
  core/engine/src/builtins/error/type.rs
  core/engine/src/builtins/function/mod.rs
  core/engine/src/builtins/string/mod.rs
  core/engine/src/builtins/typed_array/builtin.rs
  core/engine/src/object/mod.rs
  core/engine/src/object/operations.rs
  core/engine/src/property/mod.rs
  core/engine/src/string/common.rs
  core/engine/src/vm/opcode/push/array.rs
Labels: performance, Internal

#3771 Cache `this` value
  core/engine/src/builtins/function/mod.rs
  core/engine/src/vm/call_frame/mod.rs
  core/engine/src/vm/opcode/control_flow/return.rs
  core/engine/src/vm/opcode/environment/mod.rs
Labels: performance

#3774 don't run test262 on push
  .github/workflows/test262.yml
  tests/tester/src/results.rs
Labels: github_actions, Internal
