Repository boa-dev/boa, pull requests merged in 2024-02, with the labels that each got.

#3641 Fix line terminators in template strings
  core/parser/src/lexer/cursor.rs
  core/parser/src/lexer/template.rs
  core/parser/src/lexer/tests.rs
  core/parser/src/lexer/token.rs
  core/parser/src/parser/expression/left_hand_side/template.rs
  core/parser/src/parser/expression/primary/mod.rs
  core/parser/src/parser/expression/primary/template/mod.rs
Labels: bug, parser

#3634 Implement resizable buffers
  core/engine/src/builtins/array/array_iterator.rs
  core/engine/src/builtins/array/mod.rs
  core/engine/src/builtins/array_buffer/mod.rs
  core/engine/src/builtins/array_buffer/shared.rs
  core/engine/src/builtins/array_buffer/tests.rs
  core/engine/src/builtins/array_buffer/utils.rs
  core/engine/src/builtins/atomics/futex.rs
  core/engine/src/builtins/atomics/mod.rs
  core/engine/src/builtins/dataview/mod.rs
  core/engine/src/builtins/typed_array/builtin.rs
  core/engine/src/builtins/typed_array/mod.rs
  core/engine/src/builtins/typed_array/object.rs
  core/engine/src/context/hooks.rs
  core/engine/src/object/builtins/jsarraybuffer.rs
  core/engine/src/object/builtins/jsdataview.rs
  core/engine/src/object/builtins/jssharedarraybuffer.rs
  test262_config.toml
Labels: enhancement, builtins

#3649 Implement stage 3 feature "arraybuffer-transfer"
  core/engine/src/builtins/array_buffer/mod.rs
  test262_config.toml
Labels: enhancement, builtins

#3640 Remove double indirection in module types
  core/engine/src/error.rs
  core/engine/src/module/mod.rs
  core/engine/src/module/source.rs
  core/engine/src/module/synthetic.rs
  core/gc/src/trace.rs
Labels: technical debt, Internal

#3650 Docs: Update boa's main README.md
  README.md
Labels: documentation, waiting-on-review

#3652 Bump time from 0.3.31 to 0.3.33
  Cargo.lock
  Cargo.toml
Labels: dependencies

#3651 Temporal: Refactor Calendar protocol for `JsObject`s
  core/engine/src/builtins/temporal/calendar/mod.rs
  core/engine/src/builtins/temporal/calendar/object.rs
  core/engine/src/builtins/temporal/plain_date/mod.rs
  core/engine/src/builtins/temporal/plain_date_time/mod.rs
  core/engine/src/builtins/temporal/plain_date_time/tests.rs
  core/engine/src/builtins/temporal/plain_month_day/mod.rs
  core/engine/src/builtins/temporal/plain_year_month/mod.rs
  core/engine/src/builtins/temporal/zoned_date_time/mod.rs
  core/temporal/src/components/calendar.rs
  core/temporal/src/components/date.rs
  core/temporal/src/components/datetime.rs
  core/temporal/src/components/month_day.rs
  core/temporal/src/components/year_month.rs
Labels: builtins, waiting-on-review

#3653 Simplify Temporal APIs
  core/engine/src/builtins/temporal/calendar/object.rs
  core/engine/src/builtins/temporal/plain_date/mod.rs
  core/engine/src/builtins/temporal/plain_date_time/mod.rs
  core/engine/src/builtins/temporal/time_zone/custom.rs
  core/temporal/src/components/calendar.rs
  core/temporal/src/components/date.rs
  core/temporal/src/components/datetime.rs
  core/temporal/src/components/duration.rs
  core/temporal/src/components/duration/date.rs
  core/temporal/src/components/tz.rs
  core/temporal/src/components/zoneddatetime.rs
Labels: builtins, API

#3513 Implement inline caching tests and cleanup
  core/engine/src/object/internal_methods/mod.rs
  core/engine/src/object/property_map.rs
  core/engine/src/object/shape/mod.rs
  core/engine/src/object/shape/shared_shape/mod.rs
  core/engine/src/object/shape/slot.rs
  core/engine/src/object/shape/unique_shape.rs
  core/engine/src/vm/code_block.rs
  core/engine/src/vm/inline_cache/mod.rs
  core/engine/src/vm/inline_cache/tests.rs
  core/engine/src/vm/mod.rs
  core/engine/src/vm/opcode/get/property.rs
  core/engine/src/vm/opcode/set/property.rs
Labels: execution, vm, waiting-on-review

#3659 Docs: Update README.md and add `boa_cli`'s README.md
  README.md
  cli/README.md
  cli/src/main.rs
Labels: documentation, waiting-on-review

#3668 Fix clippy warnings for rustc 1.76
  core/ast/src/expression/call.rs
  core/ast/src/expression/operator/assign/mod.rs
  core/engine/src/builtins/array/mod.rs
  core/engine/src/builtins/boolean/mod.rs
  core/engine/src/builtins/error/mod.rs
  core/engine/src/builtins/function/mod.rs
  core/engine/src/builtins/math/mod.rs
  core/engine/src/builtins/regexp/mod.rs
  core/engine/src/builtins/set/ordered_set.rs
  core/engine/src/builtins/string/mod.rs
  core/engine/src/builtins/weak_set/mod.rs
  core/gc/src/pointers/ephemeron.rs
Labels: rust, Internal

#3669 Implement prototype of `NumberFormat`
  Cargo.lock
  Cargo.toml
  core/engine/Cargo.toml
  core/engine/src/builtins/intl/collator/mod.rs
  core/engine/src/builtins/intl/mod.rs
  core/engine/src/builtins/intl/number_format/mod.rs
  core/engine/src/builtins/intl/number_format/options.rs
  core/engine/src/builtins/intl/number_format/tests.rs
  core/engine/src/builtins/intl/number_format/utils.rs
  core/engine/src/builtins/intl/plural_rules/mod.rs
  core/engine/src/builtins/mod.rs
  core/engine/src/builtins/options.rs
  core/engine/src/context/intrinsics.rs
  core/engine/src/context/mod.rs
  core/engine/src/object/jsobject.rs
  core/engine/src/object/operations.rs
  core/engine/src/realm.rs
  core/engine/src/string/common.rs
  test262_config.toml
Labels: enhancement, builtins

#3675 Consider strict + no-strict tests as a single test
  test262_config.toml
  tests/tester/src/exec/mod.rs
  tests/tester/src/main.rs
  tests/tester/src/results.rs
Labels: bug, test

#3012 Add example for async module fetches
  Cargo.lock
  examples/Cargo.toml
  examples/src/bin/module_fetch.rs
Labels: enhancement, documentation, waiting-on-author

#3680 Preserve `.exe` suffix for Windows releases
  .github/workflows/release.yml
Labels: bug

#3690 Change `HostEnsureCanCompileStrings` to the new spec
  core/engine/src/builtins/eval/mod.rs
  core/engine/src/builtins/function/mod.rs
  core/engine/src/context/hooks.rs
  core/engine/src/object/builtins/jsarraybuffer.rs
  core/engine/src/vm/call_frame/mod.rs
Labels: test, API

#3481 Js typed array methods
  core/engine/src/builtins/typed_array/builtin.rs
  core/engine/src/object/builtins/jstypedarray.rs
  examples/src/bin/jstypedarray.rs
Labels: enhancement, builtins, waiting-on-review

#3694 Migrate to `temporal_rs` crate
  Cargo.lock
  Cargo.toml
  core/engine/Cargo.toml
  core/engine/src/builtins/temporal/calendar/mod.rs
  core/engine/src/builtins/temporal/calendar/object.rs
  core/engine/src/builtins/temporal/duration/mod.rs
  core/engine/src/builtins/temporal/error.rs
  core/engine/src/builtins/temporal/fields.rs
  core/engine/src/builtins/temporal/instant/mod.rs
  core/engine/src/builtins/temporal/mod.rs
  core/engine/src/builtins/temporal/options.rs
  core/engine/src/builtins/temporal/plain_date/mod.rs
  core/engine/src/builtins/temporal/plain_date_time/mod.rs
  core/engine/src/builtins/temporal/plain_month_day/mod.rs
  core/engine/src/builtins/temporal/plain_time/mod.rs
  core/engine/src/builtins/temporal/plain_year_month/mod.rs
  core/engine/src/builtins/temporal/time_zone/custom.rs
  core/engine/src/builtins/temporal/time_zone/mod.rs
  core/engine/src/builtins/temporal/zoned_date_time/mod.rs
  core/temporal/ABOUT.md
  core/temporal/Cargo.toml
  core/temporal/README.md
  core/temporal/src/components/calendar.rs
  core/temporal/src/components/date.rs
  core/temporal/src/components/datetime.rs
  core/temporal/src/components/duration.rs
  core/temporal/src/components/duration/date.rs
  core/temporal/src/components/duration/time.rs
  core/temporal/src/components/instant.rs
  core/temporal/src/components/mod.rs
  core/temporal/src/components/month_day.rs
  core/temporal/src/components/time.rs
  core/temporal/src/components/tz.rs
  core/temporal/src/components/year_month.rs
  core/temporal/src/components/zoneddatetime.rs
  core/temporal/src/error.rs
  core/temporal/src/fields.rs
  core/temporal/src/iso.rs
  core/temporal/src/lib.rs
  core/temporal/src/options.rs
  core/temporal/src/parser/annotations.rs
  core/temporal/src/parser/datetime.rs
  core/temporal/src/parser/duration.rs
  core/temporal/src/parser/grammar.rs
  core/temporal/src/parser/mod.rs
  core/temporal/src/parser/nodes.rs
  core/temporal/src/parser/tests.rs
  core/temporal/src/parser/time.rs
  core/temporal/src/parser/time_zone.rs
  core/temporal/src/utils.rs
Labels: builtins, Internal

#3692 Create tool to regenerate `ABOUT.md`
  .github/dependabot.yml
  Cargo.lock
  Cargo.toml
  cli/ABOUT.md
  core/ast/ABOUT.md
  core/engine/ABOUT.md
  core/gc/ABOUT.md
  core/icu_provider/ABOUT.md
  core/icu_provider/Cargo.toml
  core/interner/ABOUT.md
  core/macros/ABOUT.md
  core/parser/ABOUT.md
  core/profiler/ABOUT.md
  core/runtime/ABOUT.md
  ffi/wasm/ABOUT.md
  ffi/wasm/src/lib.rs
  tests/tester/ABOUT.md
  tests/tester/src/main.rs
  tools/scripts/Cargo.toml
  tools/scripts/src/bin/regenerate-about.rs
Labels: enhancement

#3695 Implement RegExp `v` flag
  Cargo.lock
  Cargo.toml
  core/engine/src/builtins/regexp/mod.rs
  core/parser/src/lexer/regex.rs
  test262_config.toml
Labels: enhancement, builtins

#3682 Split ICU4X data generation from `boa_icu_provider`
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  core/engine/Cargo.toml
  core/engine/src/context/mod.rs
  core/icu_provider/Cargo.toml
  core/icu_provider/README.md
  core/icu_provider/src/bin/datagen.rs
  core/icu_provider/src/lib.rs
  ffi/wasm/Cargo.toml
  tests/tester/Cargo.toml
  tools/gen-icu4x-data/Cargo.toml
  tools/gen-icu4x-data/README.md
  tools/gen-icu4x-data/src/main.rs
Labels: dependencies, builtins
