Repository boa-dev/boa, pull requests merged in 2024-12, with the labels that each got.

#4060 Fix rust 1.83.0 lints
  .github/workflows/rust.yml
  cli/src/main.rs
  core/ast/src/expression/operator/assign/op.rs
  core/engine/src/builtins/iterable/mod.rs
  core/engine/src/builtins/temporal/mod.rs
  core/engine/src/object/mod.rs
  core/engine/src/property/mod.rs
  core/engine/tests/macros.rs
  core/interop/src/lib.rs
  core/interop/tests/embedded.rs
  core/macros/tests/tests.rs
  core/parser/src/lexer/comment.rs
  core/profiler/src/lib.rs
  core/runtime/src/url.rs
  ffi/wasm/tests/web.rs
  tests/macros/tests/derive.rs
  tests/macros/tests/optional.rs
Labels: rust

#4002 Reduce environment allocations
  core/ast/src/expression/literal/object.rs
  core/ast/src/function/arrow_function.rs
  core/ast/src/function/async_arrow_function.rs
  core/ast/src/function/async_function.rs
  core/ast/src/function/async_generator.rs
  core/ast/src/function/class.rs
  core/ast/src/function/generator.rs
  core/ast/src/function/ordinary_function.rs
  core/ast/src/scope.rs
  core/ast/src/scope_analyzer.rs
  core/ast/src/source.rs
  core/engine/src/builtins/function/arguments.rs
  core/engine/src/builtins/function/mod.rs
  core/engine/src/bytecompiler/class.rs
  core/engine/src/bytecompiler/declarations.rs
  core/engine/src/bytecompiler/env.rs
  core/engine/src/bytecompiler/function.rs
  core/engine/src/bytecompiler/mod.rs
  core/engine/src/bytecompiler/statement/block.rs
  core/engine/src/bytecompiler/statement/loop.rs
  core/engine/src/bytecompiler/statement/switch.rs
  core/engine/src/bytecompiler/statement/try.rs
  core/engine/src/environments/runtime/mod.rs
  core/engine/src/module/synthetic.rs
  core/engine/src/vm/code_block.rs
  core/engine/src/vm/opcode/push/environment.rs
Labels: execution, ast

#4034 update Boa to be inline with Temporal
  Cargo.lock
  Cargo.toml
  core/engine/src/builtins/temporal/calendar/mod.rs
  core/engine/src/builtins/temporal/duration/mod.rs
  core/engine/src/builtins/temporal/instant/mod.rs
  core/engine/src/builtins/temporal/mod.rs
  core/engine/src/builtins/temporal/now.rs
  core/engine/src/builtins/temporal/options.rs
  core/engine/src/builtins/temporal/plain_date/mod.rs
  core/engine/src/builtins/temporal/plain_date_time/mod.rs
  core/engine/src/builtins/temporal/plain_month_day/mod.rs
  core/engine/src/builtins/temporal/plain_time/mod.rs
  core/engine/src/builtins/temporal/plain_year_month/mod.rs
  core/engine/src/builtins/temporal/zoned_date_time/mod.rs
Labels: Intl

#4048 Bug fix: regex started with `/=` parsed as `AssignDiv`
  core/engine/src/tests/class.rs
  core/engine/src/tests/operators.rs
  core/parser/src/lexer/mod.rs
  core/parser/src/lexer/regex.rs
  core/parser/src/parser/cursor/buffered_lexer/mod.rs
  core/parser/src/parser/cursor/mod.rs
  core/parser/src/parser/expression/primary/mod.rs
Labels: parser, lexer

#4058 Fix #4051, parse Arguments should expect `)` not `}`
  core/parser/src/parser/expression/left_hand_side/arguments.rs
Labels: bug, parser

#4047 bug fix: ops that stay strictly at the EOF after assigns ops are ignored
  core/engine/src/tests/operators.rs
  core/parser/src/lexer/mod.rs
  core/parser/src/lexer/operator.rs
  core/parser/src/lexer/tests.rs
  core/parser/src/parser/cursor/mod.rs
  core/parser/src/parser/expression/assignment/mod.rs
Labels: bug, parser, lexer

#4068 Build out Temporal's `ZonedDateTime` and `Now`
  Cargo.lock
  Cargo.toml
  core/engine/src/builtins/date/mod.rs
  core/engine/src/builtins/temporal/calendar/mod.rs
  core/engine/src/builtins/temporal/error.rs
  core/engine/src/builtins/temporal/instant/mod.rs
  core/engine/src/builtins/temporal/mod.rs
  core/engine/src/builtins/temporal/now.rs
  core/engine/src/builtins/temporal/plain_date/mod.rs
  core/engine/src/builtins/temporal/plain_date/tests.rs
  core/engine/src/builtins/temporal/plain_date_time/mod.rs
  core/engine/src/builtins/temporal/plain_month_day/mod.rs
  core/engine/src/builtins/temporal/plain_time/mod.rs
  core/engine/src/builtins/temporal/plain_year_month/mod.rs
  core/engine/src/builtins/temporal/zoned_date_time/mod.rs
  core/engine/src/builtins/temporal/zoneddatetime/mod.rs
  core/engine/src/context/mod.rs
  test262_config.toml
  tests/tester/src/edition.rs
  tests/tester/src/read.rs
Labels: enhancement, builtins

#4078 Patch Temporal.PlainTime and Temporal.Duration constructors
  core/engine/src/builtins/temporal/duration/mod.rs
  core/engine/src/builtins/temporal/plain_date_time/mod.rs
  core/engine/src/builtins/temporal/plain_time/mod.rs
  core/engine/src/value/mod.rs
Labels: bug, builtins

#4079 Add valueOf methods to the Temporal builtins
  core/engine/src/builtins/temporal/duration/mod.rs
  core/engine/src/builtins/temporal/instant/mod.rs
  core/engine/src/builtins/temporal/plain_date/mod.rs
  core/engine/src/builtins/temporal/plain_date_time/mod.rs
  core/engine/src/builtins/temporal/plain_month_day/mod.rs
  core/engine/src/builtins/temporal/plain_time/mod.rs
  core/engine/src/builtins/temporal/plain_year_month/mod.rs
  core/engine/src/builtins/temporal/zoneddatetime/mod.rs
Labels: enhancement, builtins

#4084 Add `fjcvtzs` instruction for `ARMv8.3` target
  core/engine/src/builtins/number/conversions.rs
Labels: performance

#4067 Add inline cache for getting bindings from the global object
  core/ast/src/scope.rs
  core/engine/src/bytecompiler/mod.rs
  core/engine/src/vm/code_block.rs
  core/engine/src/vm/flowgraph/mod.rs
  core/engine/src/vm/opcode/get/name.rs
  core/engine/src/vm/opcode/mod.rs
Labels: execution

#4095 Add more `ZonedDateTime` method implementations
  core/engine/src/builtins/temporal/zoneddatetime/mod.rs
Labels: enhancement, builtins

#4104 Remove some clones and branches in hot `PropertyDescriptor` functions
  core/engine/src/object/internal_methods/mod.rs
  core/engine/src/property/mod.rs
Labels: performance, execution
