Repository boa-dev/boa, pull requests merged in 2025-07, with the labels that each got.

#4319 Mark the error path in `Call::operation` as cold.
  core/engine/src/vm/opcode/call/mod.rs
Labels: performance, Internal

#4292 Implement backtrace information for errors
  cli/src/debug/limits.rs
  core/engine/src/builtins/builder.rs
  core/engine/src/builtins/error/aggregate.rs
  core/engine/src/builtins/error/eval.rs
  core/engine/src/builtins/error/mod.rs
  core/engine/src/builtins/error/range.rs
  core/engine/src/builtins/error/reference.rs
  core/engine/src/builtins/error/syntax.rs
  core/engine/src/builtins/error/type.rs
  core/engine/src/builtins/error/uri.rs
  core/engine/src/builtins/eval/mod.rs
  core/engine/src/builtins/function/mod.rs
  core/engine/src/builtins/json/mod.rs
  core/engine/src/builtins/mod.rs
  core/engine/src/bytecompiler/class.rs
  core/engine/src/bytecompiler/declarations.rs
  core/engine/src/bytecompiler/expression/assign.rs
  core/engine/src/bytecompiler/expression/unary.rs
  core/engine/src/bytecompiler/expression/update.rs
  core/engine/src/bytecompiler/function.rs
  core/engine/src/bytecompiler/mod.rs
  core/engine/src/bytecompiler/statement/mod.rs
  core/engine/src/context/hooks.rs
  core/engine/src/error.rs
  core/engine/src/module/mod.rs
  core/engine/src/module/source.rs
  core/engine/src/module/synthetic.rs
  core/engine/src/native_function/mod.rs
  core/engine/src/object/builtins/jsfunction.rs
  core/engine/src/object/mod.rs
  core/engine/src/script.rs
  core/engine/src/spanned_source_text.rs
  core/engine/src/value/display.rs
  core/engine/src/vm/code_block.rs
  core/engine/src/vm/mod.rs
  core/engine/src/vm/opcode/await/mod.rs
  core/engine/src/vm/opcode/control_flow/return.rs
  core/engine/src/vm/opcode/control_flow/throw.rs
  core/engine/src/vm/runtime_limits.rs
  core/engine/src/vm/shadow_stack.rs
  core/engine/src/vm/source_info/builder/mod.rs
  core/engine/src/vm/source_info/builder/tests.rs
  core/engine/src/vm/source_info/mod.rs
  core/engine/src/vm/source_info/tests.rs
  core/interop/tests/fibonacci.rs
  core/runtime/src/lib.rs
  docs/boa_object.md
Labels: enhancement, execution, waiting-on-review

#4334 Refactor `JsString`'s static string tagging
  Cargo.lock
  core/engine/src/string.rs
  core/string/Cargo.toml
  core/string/src/builder.rs
  core/string/src/common.rs
  core/string/src/lib.rs
  core/string/src/tests.rs
Labels: technical debt

#4337 Prevent evalutation of code with `--dump-ast` flag
  cli/src/main.rs
Labels: bug, cli, Internal

#4343 Add `repr(C)` on `Object` to prevent field reordering
  core/engine/src/object/mod.rs
Labels: Internal

#4344 Fix documentation for NativeFunction::from_async_fn
  core/engine/src/native_function/mod.rs
Labels: documentation

#4354 Temporal documentation update, part 2
  core/engine/src/builtins/temporal/plain_date_time/mod.rs
  core/engine/src/builtins/temporal/plain_time/mod.rs
Labels: documentation
