Repository boa-dev/boa, pull requests merged in 2025-01, with the labels that each got.

#4107 Fix bugs on ephemeron and TypedArray.prototype.slice
  .vscode/launch.json
  core/engine/src/builtins/array_buffer/mod.rs
  core/engine/src/builtins/array_buffer/utils.rs
  core/engine/src/builtins/typed_array/builtin.rs
  core/engine/src/environments/runtime/mod.rs
  core/gc/src/lib.rs
  core/gc/src/test/weak.rs
  core/gc/src/trace.rs
  test262_config.toml
  tests/tester/src/main.rs
  tests/tester/src/read.rs
Labels: bug, test, Internal

#4108 Cleanup CLI to use eyre + refactor patterns
  .vscode/launch.json
  Cargo.lock
  cli/Cargo.toml
  cli/src/main.rs
  core/parser/src/error/mod.rs
Labels: enhancement, cli

#4106 Move methods of `JsString` to `JsStr`
  core/string/src/lib.rs
  core/string/src/str.rs
  core/string/src/tests.rs
Labels: enhancement, API

#4112 Remove `try_break` macro in favour of question mark operator
  core/ast/src/declaration/export.rs
  core/ast/src/declaration/import.rs
  core/ast/src/declaration/variable.rs
  core/ast/src/expression/access.rs
  core/ast/src/expression/call.rs
  core/ast/src/expression/literal/array.rs
  core/ast/src/expression/literal/object.rs
  core/ast/src/expression/literal/template.rs
  core/ast/src/expression/operator/assign/mod.rs
  core/ast/src/expression/operator/binary/mod.rs
  core/ast/src/expression/operator/conditional.rs
  core/ast/src/expression/optional.rs
  core/ast/src/expression/regexp.rs
  core/ast/src/expression/tagged_template.rs
  core/ast/src/function/arrow_function.rs
  core/ast/src/function/async_arrow_function.rs
  core/ast/src/function/async_function.rs
  core/ast/src/function/async_generator.rs
  core/ast/src/function/class.rs
  core/ast/src/function/generator.rs
  core/ast/src/function/mod.rs
  core/ast/src/function/ordinary_function.rs
  core/ast/src/function/parameters.rs
  core/ast/src/module_item_list/mod.rs
  core/ast/src/operations.rs
  core/ast/src/pattern.rs
  core/ast/src/scope_analyzer.rs
  core/ast/src/statement/if.rs
  core/ast/src/statement/iteration/do_while_loop.rs
  core/ast/src/statement/iteration/for_in_loop.rs
  core/ast/src/statement/iteration/for_loop.rs
  core/ast/src/statement/iteration/for_of_loop.rs
  core/ast/src/statement/iteration/while_loop.rs
  core/ast/src/statement/labelled.rs
  core/ast/src/statement/switch.rs
  core/ast/src/statement/try.rs
  core/ast/src/statement/with.rs
  core/ast/src/statement_list.rs
  core/ast/src/visitor.rs
Labels: Internal

#4113 Allow bool and null literals in export aliases
  core/ast/src/keyword/mod.rs
  core/ast/src/keyword/tests.rs
  core/parser/src/lexer/identifier.rs
  core/parser/src/parser/statement/declaration/export.rs
  core/parser/src/parser/statement/declaration/tests.rs
  core/parser/src/parser/tests/mod.rs
Labels: bug, parser

#4114 Implement `Error.isError`
  core/engine/src/builtins/error/aggregate.rs
  core/engine/src/builtins/error/eval.rs
  core/engine/src/builtins/error/mod.rs
  core/engine/src/builtins/error/range.rs
  core/engine/src/builtins/error/reference.rs
  core/engine/src/builtins/error/syntax.rs
  core/engine/src/builtins/error/type.rs
  core/engine/src/builtins/error/uri.rs
  core/engine/src/builtins/object/mod.rs
  core/engine/src/error.rs
  core/engine/src/value/display.rs
  core/runtime/src/lib.rs
  test262_config.toml
Labels: enhancement, builtins

#4111 Improve implementation of example `JobQueue`s
  Cargo.lock
  Cargo.toml
  examples/Cargo.toml
  examples/src/bin/futures.rs
  examples/src/bin/module_fetch_async.rs
  examples/src/bin/smol_event_loop.rs
  examples/src/bin/tokio_event_loop.rs
  tests/macros/tests/derive.rs
Labels: enhancement, documentation

#4119 Implement `PlainDate` string methods
  Cargo.lock
  Cargo.toml
  core/engine/src/builtins/temporal/instant/mod.rs
  core/engine/src/builtins/temporal/options.rs
  core/engine/src/builtins/temporal/plain_date/mod.rs
  core/engine/src/builtins/temporal/plain_date/tests.rs
  core/engine/src/builtins/temporal/plain_month_day/mod.rs
  core/engine/src/builtins/temporal/plain_year_month/mod.rs
Labels: enhancement, builtins

#4118 Revamp `JobQueue` into `JobExecutor` and introduce `NativeAsyncJob`
  Cargo.lock
  cli/src/main.rs
  core/engine/src/builtins/promise/mod.rs
  core/engine/src/builtins/promise/tests.rs
  core/engine/src/context/mod.rs
  core/engine/src/job.rs
  core/engine/src/object/builtins/jspromise.rs
  core/engine/src/script.rs
  core/engine/src/tests/async_generator.rs
  core/engine/src/tests/iterators.rs
  core/engine/src/tests/promise.rs
  core/engine/tests/imports.rs
  core/engine/tests/module.rs
  core/interop/src/lib.rs
  core/interop/src/macros.rs
  core/interop/tests/embedded.rs
  examples/Cargo.toml
  examples/src/bin/module_fetch_async.rs
  examples/src/bin/modules.rs
  examples/src/bin/smol_event_loop.rs
  examples/src/bin/synthetic.rs
  examples/src/bin/tokio_event_loop.rs
  tests/tester/src/exec/mod.rs
Labels: enhancement, API

#4134 Add `From<Cow<'a, str>>` for `JsString`
  core/string/src/lib.rs
Labels: enhancement, Internal

#4126 Implement more `toString` and `toJSON` methods on Temporal builtins
  Cargo.lock
  Cargo.toml
  core/engine/src/builtins/temporal/instant/mod.rs
  core/engine/src/builtins/temporal/options.rs
  core/engine/src/builtins/temporal/plain_date_time/mod.rs
  core/engine/src/builtins/temporal/plain_time/mod.rs
  core/engine/src/builtins/temporal/zoneddatetime/mod.rs
Labels: enhancement, builtins

#4115 Implement `Array.fromAsync`
  core/engine/src/builtins/array/from_async.rs
  core/engine/src/builtins/array/mod.rs
  core/engine/src/module/synthetic.rs
  core/engine/src/native_function/continuation.rs
  core/engine/src/native_function/mod.rs
  core/engine/src/object/builtins/jspromise.rs
  core/engine/src/vm/call_frame/mod.rs
  core/engine/src/vm/opcode/locals/mod.rs
  test262_config.toml
Labels: enhancement, builtins

#4121 Allow referencing `super` within initializer of static private property
  core/ast/src/function/class.rs
  core/ast/src/operations.rs
  core/ast/src/scope_analyzer.rs
  core/engine/src/bytecompiler/class.rs
  core/engine/src/tests/class.rs
  core/parser/src/parser/statement/declaration/hoistable/class_decl/mod.rs
Labels: bug

#4133 Use cow-utils instead
  Cargo.lock
  cli/Cargo.toml
  cli/src/debug/function.rs
  clippy.toml
  core/engine/src/builtins/number/globals.rs
  core/engine/src/builtins/number/mod.rs
  core/engine/src/builtins/string/mod.rs
  core/engine/src/builtins/temporal/zoneddatetime/mod.rs
  core/macros/Cargo.toml
  core/macros/src/lib.rs
  tests/tester/Cargo.toml
  tests/tester/src/read.rs
Labels: Internal

#4135 Implement `toString` and `toJSON` methods for the remaining builtins `Duration`, `PlainMonthDay`, and `PlainYearMonth`
  Cargo.lock
  Cargo.toml
  core/engine/src/builtins/temporal/duration/mod.rs
  core/engine/src/builtins/temporal/now.rs
  core/engine/src/builtins/temporal/plain_month_day/mod.rs
  core/engine/src/builtins/temporal/plain_year_month/mod.rs
  core/engine/src/builtins/temporal/zoneddatetime/mod.rs
Labels: enhancement, builtins

#4101 Set the array "length" property in `[[DefineOwnProperty]]` based on the array shape
  core/engine/src/builtins/array/mod.rs
Labels: performance, execution

#4139 Fix truncation on max microseconds and nanoseconds
  core/engine/src/builtins/temporal/duration/mod.rs
Labels: bug
