Repository boa-dev/boa, pull requests merged in 2025-02, with the labels that each got.

#4142 Bump temporal_rs and fix instant return
  Cargo.lock
  Cargo.toml
  core/engine/src/builtins/temporal/duration/mod.rs
  core/engine/src/builtins/temporal/instant/mod.rs
  core/engine/src/builtins/temporal/plain_date/mod.rs
  core/engine/src/builtins/temporal/plain_date_time/mod.rs
  core/engine/src/builtins/temporal/plain_year_month/mod.rs
  core/engine/src/builtins/temporal/zoneddatetime/mod.rs
Labels: enhancement, builtins

#4154 Fix issues with `to_temporal_time` and `ZonedDateTime.prototype.withPlainTime`
  core/engine/src/builtins/temporal/plain_time/mod.rs
  core/engine/src/builtins/temporal/zoneddatetime/mod.rs
Labels: bug, builtins

#4156 Implement toLocaleString and some general cleanup
  core/engine/src/builtins/temporal/duration/mod.rs
  core/engine/src/builtins/temporal/instant/mod.rs
  core/engine/src/builtins/temporal/mod.rs
  core/engine/src/builtins/temporal/now.rs
  core/engine/src/builtins/temporal/plain_date/mod.rs
  core/engine/src/builtins/temporal/plain_date_time/mod.rs
  core/engine/src/builtins/temporal/plain_month_day/mod.rs
  core/engine/src/builtins/temporal/plain_time/mod.rs
  core/engine/src/builtins/temporal/plain_year_month/mod.rs
  core/engine/src/builtins/temporal/zoneddatetime/mod.rs
Labels: enhancement, builtins

#4160 add macos arm64
  .github/workflows/nightly_build.yml
  .github/workflows/release.yml
  .github/workflows/rust.yml
Labels: enhancement, github_actions

#4092 Allow local parameters if mapped arguments object is not used
  core/ast/src/position.rs
  core/ast/src/scope.rs
  core/ast/src/scope_analyzer.rs
  core/ast/tests/scope.rs
Labels: ast

#4091 Use NaN-boxing on value::InnerValue
  core/engine/src/builtins/array/tests.rs
  core/engine/src/value/conversions/mod.rs
  core/engine/src/value/conversions/serde_json.rs
  core/engine/src/value/conversions/try_from_js.rs
  core/engine/src/value/equality.rs
  core/engine/src/value/hash.rs
  core/engine/src/value/inner.rs
  core/engine/src/value/inner/nan_boxed.rs
  core/engine/src/value/mod.rs
  core/engine/src/value/operations.rs
  core/engine/src/value/type.rs
  core/engine/src/value/variant.rs
Labels: enhancement

#4162 Bump temporal_rs to Feb. 15 version + adjustments
  Cargo.lock
  Cargo.toml
  core/engine/Cargo.toml
  core/engine/src/builtins/temporal/now.rs
Labels: builtins

#4165 Bump MSRV to 1.84
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  core/engine/Cargo.toml
  core/engine/src/builtins/array_buffer/shared.rs
  core/engine/src/builtins/array_buffer/utils.rs
  core/engine/src/builtins/atomics/futex.rs
  core/engine/src/tagged.rs
  core/engine/src/value/inner/nan_boxed.rs
  core/string/Cargo.toml
  core/string/src/lib.rs
  core/string/src/str.rs
  core/string/src/tagged.rs
Labels: Internal

#4164 Add `PlainDateTime.prototype.round` implementation from `temporal_rs`
  Cargo.lock
  Cargo.toml
  core/engine/src/builtins/temporal/now.rs
  core/engine/src/builtins/temporal/plain_date_time/mod.rs
  core/engine/src/builtins/temporal/zoneddatetime/mod.rs
Labels: builtins

#4166 Avoid unnecessary calls of `to_string` in `cow_*`
  core/engine/src/builtins/number/mod.rs
  core/engine/src/builtins/string/mod.rs
  core/engine/src/builtins/temporal/zoneddatetime/mod.rs
Labels: Internal

#4143 Simplify date parser
  core/engine/src/builtins/date/tests.rs
  core/engine/src/builtins/date/utils.rs
Labels: builtins

#4170 Apply rustc 1.85 lints
  core/engine/src/builtins/temporal/instant/mod.rs
  core/engine/src/builtins/temporal/now.rs
  core/engine/src/builtins/temporal/plain_date_time/mod.rs
  core/engine/src/builtins/temporal/plain_time/mod.rs
  core/engine/src/builtins/temporal/plain_year_month/mod.rs
  core/engine/src/builtins/temporal/zoneddatetime/mod.rs
  core/engine/src/error.rs
  core/engine/src/module/namespace.rs
  core/engine/src/object/jsobject.rs
  core/engine/src/vm/opcode/concat/mod.rs
  core/parser/src/parser/expression/primary/object_initializer/mod.rs
  core/parser/src/parser/function/mod.rs
  core/parser/src/parser/statement/mod.rs
  core/parser/src/source/utf16.rs
  core/parser/src/source/utf8.rs
  core/string/src/lib.rs
Labels: Internal

#4172 Build out remaining method stubs for temporal
  Cargo.lock
  Cargo.toml
  core/engine/src/builtins/temporal/duration/mod.rs
  core/engine/src/builtins/temporal/instant/mod.rs
  core/engine/src/builtins/temporal/plain_date/mod.rs
  core/engine/src/builtins/temporal/plain_date_time/mod.rs
  core/engine/src/builtins/temporal/plain_month_day/mod.rs
  core/engine/src/builtins/temporal/plain_year_month/mod.rs
  core/engine/src/builtins/temporal/zoneddatetime/mod.rs
Labels: builtins

#4178 Prioritize drop of common types for nan-boxed `JsValue`
  core/engine/src/value/inner/nan_boxed.rs
Labels: performance

#4090 Some string cleanups
  core/string/src/builder.rs
  core/string/src/lib.rs
Labels: Internal

#4173 Add changes from YearMonth parsing update and MonthCode addition
  Cargo.lock
  Cargo.toml
  core/engine/src/builtins/temporal/options.rs
  core/engine/src/builtins/temporal/plain_date/mod.rs
  core/engine/src/builtins/temporal/plain_date_time/mod.rs
  core/engine/src/builtins/temporal/plain_month_day/mod.rs
  core/engine/src/builtins/temporal/plain_year_month/mod.rs
  core/engine/src/builtins/temporal/zoneddatetime/mod.rs
Labels: builtins

#4190 Some cleanup + order of operations fixes
  core/engine/src/builtins/temporal/mod.rs
  core/engine/src/builtins/temporal/plain_date_time/mod.rs
  core/engine/src/builtins/temporal/zoneddatetime/mod.rs
Labels: bug, builtins

#4192 Unify release workflows
  .github/workflows/nightly_build.yml
  .github/workflows/release.yml
Labels: technical debt
