Repository boa-dev/boa, pull requests merged in 2025-06, with the labels that each got.

#4268 Bump temporal_rs and fix some order of operation issues
  Cargo.lock
  Cargo.toml
  core/engine/src/builtins/temporal/plain_date/mod.rs
  core/engine/src/builtins/temporal/plain_date_time/mod.rs
  core/engine/src/builtins/temporal/plain_month_day/mod.rs
  core/engine/src/builtins/temporal/plain_year_month/mod.rs
Labels: builtins

#4269 Remove local binding's initialized state in `CallFrame`
  core/engine/src/bytecompiler/class.rs
  core/engine/src/bytecompiler/declarations.rs
  core/engine/src/bytecompiler/expression/assign.rs
  core/engine/src/bytecompiler/expression/unary.rs
  core/engine/src/bytecompiler/expression/update.rs
  core/engine/src/bytecompiler/mod.rs
  core/engine/src/bytecompiler/statement/loop.rs
  core/engine/src/module/source.rs
  core/engine/src/vm/call_frame/mod.rs
  core/engine/src/vm/code_block.rs
  core/engine/src/vm/flowgraph/mod.rs
  core/engine/src/vm/opcode/control_flow/throw.rs
  core/engine/src/vm/opcode/locals/mod.rs
  core/engine/src/vm/opcode/mod.rs
Labels: performance, execution

#4288 Bump Test262 hash commit and cleanup test features
  .cargo/config.toml
  test262_config.toml
  tests/tester/src/edition.rs
Labels: test, Internal

#4289 Fix panics on staging TypedArray.slice tests
  core/engine/src/builtins/array_buffer/mod.rs
  core/engine/src/builtins/array_buffer/utils.rs
  core/engine/src/builtins/typed_array/builtin.rs
Labels: bug, Internal

#4290 Implement small changes from Intl's 2026 spec
  .cargo/config.toml
  core/engine/src/builtins/intl/locale/mod.rs
  core/engine/src/builtins/intl/locale/options.rs
  core/engine/src/builtins/intl/locale/utils.rs
  core/engine/src/builtins/intl/number_format/options.rs
  core/engine/src/builtins/intl/plural_rules/mod.rs
  test262_config.toml
Labels: enhancement, API

#4293 Replace inner `Gc<T>` with `Rc<T>` for `SourceText`
  core/engine/src/spanned_source_text.rs
Labels: performance, memory, Internal

#4309 Fix lints for rustc 1.88
  Cargo.lock
  core/engine/src/bytecompiler/mod.rs
  core/engine/src/object/jsobject.rs
  core/engine/src/realm.rs
  core/parser/src/lexer/tests.rs
  core/parser/src/parser/tests/mod.rs
Labels: Internal

#4307 Allow non-reserved keywords to be used as identifiers
  core/parser/src/parser/statement/declaration/hoistable/class_decl/mod.rs
  core/parser/src/parser/statement/declaration/hoistable/class_decl/tests.rs
Labels: bug, parser, waiting-on-author
