Repository boa-dev/boa, pull requests merged in 2025-03, with the labels that each got.

#4176 Fix JsValue::to_json with cyclic values
  core/engine/src/value/conversions/serde_json.rs
Labels: bug

#4208 Fixed logo in documentation
  cli/src/main.rs
  core/ast/src/lib.rs
  core/engine/src/lib.rs
  core/gc/src/lib.rs
  core/icu_provider/src/lib.rs
  core/interner/src/lib.rs
  core/macros/src/lib.rs
  core/parser/src/lib.rs
  core/profiler/src/lib.rs
  core/runtime/src/lib.rs
Labels: bug, documentation

#4212 Update JsValue::to_json to support undefined
  core/engine/src/value/conversions/serde_json.rs
  core/engine/tests/module.rs
Labels: enhancement, API

#4215 Change signature of `from_async_fn` to allow capturing the context
  Cargo.toml
  core/engine/src/native_function/mod.rs
  examples/src/bin/smol_event_loop.rs
  examples/src/bin/tokio_event_loop.rs
Labels: enhancement
