Repository boa-dev/boa, pull requests merged in 2025-09, with the labels that each got.

#4408 Propagate AST errors to the user
  core/ast/src/function/ordinary_function.rs
  core/ast/src/scope_analyzer.rs
  core/ast/src/source.rs
  core/ast/tests/scope.rs
  core/engine/src/builtins/function/mod.rs
  core/parser/src/parser/mod.rs
  core/parser/src/parser/tests/mod.rs
Labels: ast

#4419 fix(regexp): fix the capture group count assert to have the correct upper limit
  core/engine/src/builtins/regexp/mod.rs
Labels: bug, Internal

#4416 Unblock Context::run_jobs when no timeouts need to be run
  cli/src/logger.rs
  cli/src/main.rs
  core/engine/src/job.rs
  core/runtime/src/interval.rs
  core/runtime/src/interval/tests.rs
Labels: cli, API

#4427 Fix UB on unaligned ArrayBuffers
  Cargo.lock
  Cargo.toml
  core/engine/Cargo.toml
  core/engine/src/builtins/array_buffer/mod.rs
  core/engine/src/builtins/array_buffer/shared.rs
  core/engine/src/builtins/array_buffer/tests.rs
  core/engine/src/builtins/atomics/tests.rs
  core/engine/src/builtins/temporal/plain_month_day/mod.rs
  core/engine/src/context/hooks.rs
  core/engine/src/context/mod.rs
  core/engine/src/error.rs
  core/engine/src/interop/into_js_arguments.rs
  core/engine/src/native_function/mod.rs
  core/engine/src/object/builtins/jsarraybuffer.rs
  core/engine/src/object/builtins/jsdataview.rs
  core/engine/src/object/builtins/jsdate.rs
  core/engine/src/object/builtins/jsmap.rs
  core/engine/src/object/builtins/jspromise.rs
  core/engine/src/object/builtins/jstypedarray.rs
  core/engine/src/object/datatypes.rs
  core/engine/src/value/conversions/convert.rs
  core/engine/src/value/conversions/nullable/mod.rs
  core/engine/src/value/mod.rs
  core/engine/src/vm/call_frame/mod.rs
  core/parser/src/source/mod.rs
  core/runtime/src/store/from.rs
  core/runtime/src/store/mod.rs
  core/runtime/src/store/to.rs
  core/string/src/builder.rs
  examples/src/bin/jsarraybuffer.rs
Labels: API, Internal

#4436 Implement upsert methods for Map
  core/engine/src/builtins/map/mod.rs
  core/engine/src/builtins/map/tests.rs
  core/engine/src/builtins/mod.rs
  core/engine/src/builtins/set/mod.rs
  test262_config.toml
Labels: enhancement, builtins
